<div class="content-heading">Order #987654</div>
<div class="panel panel-default">
    <div class="panel-heading">Order Information</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <p class="lead bb">Details</p>
                <form class="form-horizontal p-20">
                    <div class="form-group">
                        <div class="col-sm-4">Order ID:</div>
                        <div class="col-sm-8">
                            <strong>987654</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">Purchased On:</div>
                        <div class="col-sm-8">
                            <strong>03/11/2015 10:10</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">Client Name:</div>
                        <div class="col-sm-8">
                            <strong>Addison Nichols</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">Items:</div>
                        <div class="col-sm-8">
                            <strong>547</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">Amount:</div>
                        <div class="col-sm-8">
                            <strong>$515.20</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">Shipment:</div>
                        <div class="col-sm-8">
                            <strong>04/10/2015</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">Status</div>
                        <div class="col-sm-8">
                            <div class="label label-info">Shipped</div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <p class="lead bb">Client</p>
                <form class="form-horizontal p-20">
                    <div class="form-group">
                        <div class="col-sm-4">Client ID:</div>
                        <div class="col-sm-8">
                            <strong>#32654</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">Name:</div>
                        <div class="col-sm-8">
                            <strong>Addison Nichols</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">Email:</div>
                        <div class="col-sm-8">
                            <strong>addisong@mail.com</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">Company:</div>
                        <div class="col-sm-8">
                            <strong>Addison co.</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">Phone:</div>
                        <div class="col-sm-8">
                            <strong>(123) 123 456465</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">Status</div>
                        <div class="col-sm-8">
                            <div class="label label-success">Active</div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p class="lead bb">Billing Address</p>
                <form class="form-horizontal p-20">
                    <div class="form-group">
                        <div class="col-sm-4">First Name</div>
                        <div class="col-sm-8">
                            <strong>John</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">Last Name:</div>
                        <div class="col-sm-8">
                            <strong>Johnson</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">Company:</div>
                        <div class="col-sm-8">
                            <strong>John co.</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">Address:</div>
                        <div class="col-sm-8">
                            <strong>2125 Chesterfield</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">City:</div>
                        <div class="col-sm-8">
                            <strong>San Francisco</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">State</div>
                        <div class="col-sm-8">
                            <strong>N/a</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">ZIP/Post Code</div>
                        <div class="col-sm-8">
                            <strong>1324</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">Country</div>
                        <div class="col-sm-8">
                            <strong>Neverland</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">Phone</div>
                        <div class="col-sm-8">
                            <strong>(123) 132 456789</strong>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <p class="lead bb">Shipping Address</p>
                <form class="form-horizontal p-20">
                    <div class="form-group">
                        <div class="col-sm-4">First Name</div>
                        <div class="col-sm-8">
                            <strong>John</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">Last Name:</div>
                        <div class="col-sm-8">
                            <strong>Johnson</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">Company:</div>
                        <div class="col-sm-8">
                            <strong>John co.</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">Address:</div>
                        <div class="col-sm-8">
                            <strong>2125 Chesterfield</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">City:</div>
                        <div class="col-sm-8">
                            <strong>San Francisco</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">State</div>
                        <div class="col-sm-8">
                            <strong>N/a</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">ZIP/Post Code</div>
                        <div class="col-sm-8">
                            <strong>1324</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">Country</div>
                        <div class="col-sm-8">
                            <strong>Neverland</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">Phone</div>
                        <div class="col-sm-8">
                            <strong>(123) 132 456789</strong>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="alert alert-warning">
            <em class="fa fa-exclamation-circle fa-lg fa-fw"></em>Shipping address is different than billing address</div>
    </div>
</div>
<div class="panel">
    <div class="panel-heading">Products in order</div>
    <div class="table-responsive">
        <table class="table table-hover table-bordered table-striped">
            <thead>
                <tr>
                    <th>Product ID</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Tax</th>
                    <th class="text-center">Status</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="">Product #123</a>
                    </td>
                    <td>$ 100.00</td>
                    <td>5</td>
                    <td>21%</td>
                    <td class="text-center">
                        <span class="label label-success">In Stock</span>
                    </td>
                    <td>$ 605.00</td>
                </tr>
                <tr>
                    <td><a href="">Product #123</a>
                    </td>
                    <td>$ 100.00</td>
                    <td>5</td>
                    <td>21%</td>
                    <td class="text-center">
                        <span class="label label-success">In Stock</span>
                    </td>
                    <td>$ 605.00</td>
                </tr>
                <tr>
                    <td><a href="">Product #123</a>
                    </td>
                    <td>$ 100.00</td>
                    <td>5</td>
                    <td>21%</td>
                    <td class="text-center">
                        <span class="label label-warning">N/A</span>
                    </td>
                    <td>$ 605.00</td>
                </tr>
                <tr>
                    <td><a href="">Product #123</a>
                    </td>
                    <td>$ 100.00</td>
                    <td>5</td>
                    <td>21%</td>
                    <td class="text-center">
                        <span class="label label-danger">Out Stock</span>
                    </td>
                    <td>$ 605.00</td>
                </tr>
                <tr>
                    <td><a href="">Product #123</a>
                    </td>
                    <td>$ 100.00</td>
                    <td>5</td>
                    <td>21%</td>
                    <td class="text-center">
                        <span class="label label-success">In Stock</span>
                    </td>
                    <td>$ 605.00</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
