<div class="content-heading">User links
   <small>Vestibulum pretium aliquam scelerisque.</small>
</div>
<ul class="nav nav-pills mv-lg">
    <li class="active"><a class="pv-sm">Popular</a>
    </li>
    <li><a class="pv-sm">New</a>
    </li>
    <li><a class="pv-sm">Recent</a>
    </li>
</ul>
<!-- Vote panel-->
<div class="panel">
    <div class="table-responsive">
        <table class="table">
            <tbody>
                <tr>
                    <td class="b0 wd-xxs text-center">
                        <p>
                            <a>
                                <em class="fa fa-angle-up fa-lg" (click)="vCount1=vCount1+1"></em>
                            </a>
                        </p>
                        <p>{{vCount1}}</p>
                        <p class="mb0">
                            <a>
                                <em class="fa fa-angle-down fa-lg" (click)="vCount1=vCount1-1"></em>
                            </a>
                        </p>
                    </td>
                    <td class="b0 wd-xs hidden-xs">
                        <a>
                            <img class="img-responsive thumb64" src="assets/img/dummy.png" />
                        </a>
                    </td>
                    <td class="b0">
                        <p class="h4 mt0">
                            <span class="label bg-gray-lighter ph-lg mr text-sm visible-lg-inline">
                        <span class="text-muted">question</span>
                            </span><a class="align-middle text-bold link-unstyled">[Lorem Ipsum] Phasellus ullamcorper rhoncus sagittis.</a>
                        </p>
                        <small class="text-muted">In ac turpis vitae ante pretium cursus. Suspendisse nisl arcu, venenatis elementum lacinia sed.
                     <br/>5 hours ago - <a class="text-bold">harperray</a>
                  </small>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- end Vote panel-->
<!-- Vote panel-->
<div class="panel">
    <div class="table-responsive">
        <table class="table">
            <tbody>
                <tr>
                    <td class="b0 wd-xxs text-center">
                        <p>
                            <a>
                                <em class="fa fa-angle-up fa-lg" (click)="vCount2=vCount2+1"></em>
                            </a>
                        </p>
                        <p>{{vCount2}}</p>
                        <p class="mb0">
                            <a>
                                <em class="fa fa-angle-down fa-lg" (click)="vCount2=vCount2-1"></em>
                            </a>
                        </p>
                    </td>
                    <td class="b0 wd-xs hidden-xs">
                        <a>
                            <img class="img-responsive thumb64" src="assets/img/dummy.png" />
                        </a>
                    </td>
                    <td class="b0">
                        <p class="h4 mt0">
                            <span class="label bg-gray-lighter ph-lg mr text-sm visible-lg-inline">
                        <span class="text-muted">culture</span>
                            </span><a class="align-middle text-bold link-unstyled">Donec volutpat tristique laoreet Pellentesque sed purus libero.</a>
                        </p>
                        <small class="text-muted">In ac turpis vitae ante pretium cursus. Suspendisse nisl arcu, venenatis elementum lacinia sed.
                     <br/>yesterday - <a class="text-bold">harperray</a>
                  </small>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- end Vote panel-->
<!-- Vote panel-->
<div class="panel">
    <div class="table-responsive">
        <table class="table">
            <tbody>
                <tr>
                    <td class="b0 wd-xxs text-center">
                        <p>
                            <a>
                                <em class="fa fa-angle-up fa-lg" (click)="vCount3=vCount3+1"></em>
                            </a>
                        </p>
                        <p>{{vCount3}}</p>
                        <p class="mb0">
                            <a>
                                <em class="fa fa-angle-down fa-lg" (click)="vCount3=vCount3-1"></em>
                            </a>
                        </p>
                    </td>
                    <td class="b0 wd-xs hidden-xs">
                        <a>
                            <img class="img-responsive thumb64" src="assets/img/dummy.png" />
                        </a>
                    </td>
                    <td class="b0">
                        <p class="h4 mt0">
                            <span class="label bg-gray-lighter ph-lg mr text-sm visible-lg-inline">
                        <span class="text-muted">peding</span>
                            </span><a class="align-middle text-bold link-unstyled">Suspendisse ullamcorper eros eget augue ultrices feugiat.</a>
                        </p>
                        <small class="text-muted">In ac turpis vitae ante pretium cursus. Suspendisse nisl arcu, venenatis elementum lacinia sed.
                     <br/>3 days ago - <a class="text-bold">harperray</a>
                  </small>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- end Vote panel-->
<!-- Vote panel-->
<div class="panel">
    <div class="table-responsive">
        <table class="table">
            <tbody>
                <tr>
                    <td class="b0 wd-xxs text-center">
                        <p>
                            <a>
                                <em class="fa fa-angle-up fa-lg" (click)="vCount4=vCount4+1"></em>
                            </a>
                        </p>
                        <p>{{vCount4}}</p>
                        <p class="mb0">
                            <a>
                                <em class="fa fa-angle-down fa-lg" (click)="vCount4=vCount4-1"></em>
                            </a>
                        </p>
                    </td>
                    <td class="b0 wd-xs hidden-xs">
                        <a>
                            <img class="img-responsive thumb64" src="assets/img/dummy.png" />
                        </a>
                    </td>
                    <td class="b0">
                        <p class="h4 mt0">
                            <span class="label bg-gray-lighter ph-lg mr text-sm visible-lg-inline">
                        <span class="text-muted">news</span>
                            </span><a class="align-middle text-bold link-unstyled">Sed porta fermentum felis in molestie.</a>
                        </p>
                        <small class="text-muted">In ac turpis vitae ante pretium cursus. Suspendisse nisl arcu, venenatis elementum lacinia sed.
                     <br/>last week - <a class="text-bold">harperray</a>
                  </small>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- end Vote panel-->
<!-- Vote panel-->
<div class="panel">
    <div class="table-responsive">
        <table class="table">
            <tbody>
                <tr>
                    <td class="b0 wd-xxs text-center">
                        <p>
                            <a>
                                <em class="fa fa-angle-up fa-lg" (click)="vCount5=vCount5+1"></em>
                            </a>
                        </p>
                        <p>{{vCount5}}</p>
                        <p class="mb0">
                            <a>
                                <em class="fa fa-angle-down fa-lg" (click)="vCount5=vCount5-1"></em>
                            </a>
                        </p>
                    </td>
                    <td class="b0 wd-xs hidden-xs">
                        <a>
                            <img class="img-responsive thumb64" src="assets/img/dummy.png" />
                        </a>
                    </td>
                    <td class="b0">
                        <p class="h4 mt0">
                            <span class="label bg-gray-lighter ph-lg mr text-sm visible-lg-inline">
                        <span class="text-muted">education</span>
                            </span><a class="align-middle text-bold link-unstyled">Aenean eu odio vitae augue elementum molestie sed quis turpis.</a>
                        </p>
                        <small class="text-muted">In ac turpis vitae ante pretium cursus. Suspendisse nisl arcu, venenatis elementum lacinia sed.
                     <br/>2 weeks ago - <a class="text-bold">harperray</a>
                  </small>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- end Vote panel-->
<!-- Vote panel-->
<div class="panel">
    <div class="table-responsive">
        <table class="table">
            <tbody>
                <tr>
                    <td class="b0 wd-xxs text-center">
                        <p>
                            <a>
                                <em class="fa fa-angle-up fa-lg" (click)="vCount6=vCount6+1"></em>
                            </a>
                        </p>
                        <p>{{vCount6}}</p>
                        <p class="mb0">
                            <a>
                                <em class="fa fa-angle-down fa-lg" (click)="vCount6=vCount6-1"></em>
                            </a>
                        </p>
                    </td>
                    <td class="b0 wd-xs hidden-xs">
                        <a>
                            <img class="img-responsive thumb64" src="assets/img/dummy.png" />
                        </a>
                    </td>
                    <td class="b0">
                        <p class="h4 mt0">
                            <span class="label bg-gray-lighter ph-lg mr text-sm visible-lg-inline">
                        <span class="text-muted">programming</span>
                            </span><a class="align-middle text-bold link-unstyled">Sed tempor lacinia tempus. Curabitur sit amet lacus id odio volutpat faucibus nec quis enim.</a>
                        </p>
                        <small class="text-muted">In ac turpis vitae ante pretium cursus. Suspendisse nisl arcu, venenatis elementum lacinia sed.
                     <br/>2 months ago - <a class="text-bold">harperray</a>
                  </small>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- end Vote panel-->
<!-- Vote panel-->
<div class="panel">
    <div class="table-responsive">
        <table class="table">
            <tbody>
                <tr>
                    <td class="b0 wd-xxs text-center">
                        <p>
                            <a>
                                <em class="fa fa-angle-up fa-lg" (click)="vCount7=vCount7+1"></em>
                            </a>
                        </p>
                        <p>{{vCount7}}</p>
                        <p class="mb0">
                            <a>
                                <em class="fa fa-angle-down fa-lg" (click)="vCount7=vCount7-1"></em>
                            </a>
                        </p>
                    </td>
                    <td class="b0 wd-xs hidden-xs">
                        <a>
                            <img class="img-responsive thumb64" src="assets/img/dummy.png" />
                        </a>
                    </td>
                    <td class="b0">
                        <p class="h4 mt0">
                            <span class="label bg-gray-lighter ph-lg mr text-sm visible-lg-inline">
                        <span class="text-muted">tech</span>
                            </span><a class="align-middle text-bold link-unstyled">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi in leo odio.</a>
                        </p>
                        <small class="text-muted">In ac turpis vitae ante pretium cursus. Suspendisse nisl arcu, venenatis elementum lacinia sed.
                     <br/>2 months ago - <a class="text-bold">harperray</a>
                  </small>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- end Vote panel-->
<!-- Vote panel-->
<div class="panel">
    <div class="table-responsive">
        <table class="table">
            <tbody>
                <tr>
                    <td class="b0 wd-xxs text-center">
                        <p>
                            <a>
                                <em class="fa fa-angle-up fa-lg" (click)="vCount8=vCount8+1"></em>
                            </a>
                        </p>
                        <p>{{vCount8}}</p>
                        <p class="mb0">
                            <a>
                                <em class="fa fa-angle-down fa-lg" (click)="vCount8=vCount8-1"></em>
                            </a>
                        </p>
                    </td>
                    <td class="b0 wd-xs hidden-xs">
                        <a>
                            <img class="img-responsive thumb64" src="assets/img/dummy.png" />
                        </a>
                    </td>
                    <td class="b0">
                        <p class="h4 mt0">
                            <span class="label bg-gray-lighter ph-lg mr text-sm visible-lg-inline">
                        <span class="text-muted">question</span>
                            </span><a class="align-middle text-bold link-unstyled">Quisque risus ante, laoreet a sagittis quis, dignissim luctus purus.</a>
                        </p>
                        <small class="text-muted">In ac turpis vitae ante pretium cursus. Suspendisse nisl arcu, venenatis elementum lacinia sed.
                     <br/>5 months ago - <a class="text-bold">harperray</a>
                  </small>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- end Vote panel-->
<ul class="pagination pagination-sm">
    <li class="active"><a href="#">1</a>
    </li>
    <li><a href="#">2</a>
    </li>
    <li><a href="#">3</a>
    </li>
    <li><a href="#">»</a>
    </li>
</ul>
