<div class="content-heading">Infinite Scroll
    <small>Total items: {{sum + sum2}}</small>
</div>
<h4>Scroll in element</h4>
<div style="height: 320px; overflow-y: auto;" infinite-scroll [infiniteScrollDistance]="2" [scrollWindow]="false" (scrolled)="onScrollDown()">
    <div class="col-sm-2 col-xs-3 mb" *ngFor="let i of array">
        <div class="alert alert-info text-center">Item #{{i}}</div>
    </div>
</div>
<h4>Page scroll</h4>
<div infinite-scroll [infiniteScrollDistance]="1" (scrolled)="onScrollDown2()">
    <div class="col-sm-2 col-xs-3 mb" *ngFor="let i of array2">
        <div class="alert alert-purple text-center">
            <h2 class="mv-lg">{{i}}</h2>
        </div>
    </div>
</div>
