<div class="pull-right">
    <div dropdown>
        <a dropdownToggle>
            <img class="thumb32 img-circle" src="assets/img/user/02.jpg" alt="user" />
        </a>
        <ul *dropdownMenu class="dropdown-menu dropdown-menu-right animated fadeInUp" role="menu">
            <li>
                <a>
                    <span>Settings</span>
                </a>
            </li>
            <li>
                <a>
                    <span>Get more Storage</span>
                </a>
            </li>
            <li>
                <a>
                    <span>Manage permissions</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="content-heading">File manager</div>
<div class="row">
    <div class="col-md-3">
        <div class="mb-lg">
            <label for="image-input" class="file-upload">
                <button class="btn btn-info"><em class="fa fa-upload mr"></em>UPLOAD</button>
                <input id="image-input" type="file">
            </label>
        </div>
        <div class="panel b">
            <div class="panel-body">
                <strong class="text-muted">FOLDERS</strong>
            </div>
            <div class="list-group">
                <a class="active list-group-item">
                    <span class="badge">49</span>
                    <span class="circle bg-white mr"></span>
                    <span>All</span>
                </a>
                <a class="list-group-item">
                    <span class="badge">5</span>
                    <span class="circle circle-green mr"></span>
                    <span>Audio</span>
                </a>
                <a class="list-group-item">
                    <span class="badge">12</span>
                    <span class="circle circle-danger mr"></span>
                    <span>Movie</span>
                </a>
                <a class="list-group-item">
                    <span class="badge">22</span>
                    <span class="circle circle-warning mr"></span>
                    <span>Image</span>
                </a>
                <a class="list-group-item">
                    <span class="badge">9</span>
                    <span class="circle circle-purple mr"></span>
                    <span>Code</span>
                </a>
            </div>
            <div class="panel-body">
                <div class="clearfix text-sm">
                    <p class="pull-left">Storage</p>
                    <p class="pull-right">
                        <strong>25 GB / 100 GB</strong>
                    </p>
                </div>
                <progressbar class="progress-xs m0" value="25" type="info">25%</progressbar>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="panel discoverer">
                    <div class="panel-body text-center">
                        <div class="clearfix discover">
                            <div class="pull-right">
                                <a class="text-muted mr-sm" href="#" title="Download">
                                    <em class="fa fa-download fa-fw"></em>
                                </a>
                            </div>
                        </div>
                        <a class="file-icon ph-lg">
                            <em class="fa fa-5x fa-file-audio-o text-primary"></em>
                        </a>
                        <p>
                            <small class="text-dark">A good song.ogg</small>
                        </p>
                        <div class="clearfix m0 text-muted">
                            <small class="pull-right">6.3MB</small>
                            <small class="pull-left">10m ago</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="panel discoverer">
                    <div class="panel-body text-center">
                        <div class="clearfix discover">
                            <div class="pull-right">
                                <a class="text-muted mr-sm" href="#" title="Download">
                                    <em class="fa fa-download fa-fw"></em>
                                </a>
                            </div>
                        </div>
                        <a class="file-icon ph-lg">
                            <em class="fa fa-5x fa-file-movie-o text-danger"></em>
                        </a>
                        <p>
                            <small class="text-dark">Movie.avi</small>
                        </p>
                        <div class="clearfix m0 text-muted">
                            <small class="pull-right">6.3GB</small>
                            <small class="pull-left">50m ago</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="panel discoverer">
                    <div class="panel-body text-center">
                        <div class="clearfix discover">
                            <div class="pull-right">
                                <a class="text-muted mr-sm" href="#" title="Download">
                                    <em class="fa fa-download fa-fw"></em>
                                </a>
                            </div>
                        </div>
                        <a class="file-icon ph-lg">
                            <em class="fa fa-5x fa-file-audio-o text-primary"></em>
                        </a>
                        <p>
                            <small class="text-dark">Similar - Chosen.mp3</small>
                        </p>
                        <div class="clearfix m0 text-muted">
                            <small class="pull-right">12MB</small>
                            <small class="pull-left">20h ago</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="panel discoverer">
                    <div class="panel-body text-center">
                        <div class="clearfix discover">
                            <div class="pull-right">
                                <a class="text-muted mr-sm" href="#" title="Download">
                                    <em class="fa fa-download fa-fw"></em>
                                </a>
                            </div>
                        </div>
                        <a class="file-icon ph-lg">
                            <em class="fa fa-5x fa-file-image-o text-success"></em>
                        </a>
                        <p>
                            <small class="text-dark">El-Capitan.jpg</small>
                        </p>
                        <div class="clearfix m0 text-muted">
                            <small class="pull-right">300KB</small>
                            <small class="pull-left">1d ago</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="panel discoverer">
                    <div class="panel-body text-center">
                        <div class="clearfix discover">
                            <div class="pull-right">
                                <a class="text-muted mr-sm" href="#" title="Download">
                                    <em class="fa fa-download fa-fw"></em>
                                </a>
                            </div>
                        </div>
                        <a class="file-icon ph-lg">
                            <em class="fa fa-5x fa-file-archive-o text-warning"></em>
                        </a>
                        <p>
                            <small class="text-dark">report-2016.txt</small>
                        </p>
                        <div class="clearfix m0 text-muted">
                            <small class="pull-right">1MB</small>
                            <small class="pull-left">15h ago</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="panel discoverer">
                    <div class="panel-body text-center">
                        <div class="clearfix discover">
                            <div class="pull-right">
                                <a class="text-muted mr-sm" href="#" title="Download">
                                    <em class="fa fa-download fa-fw"></em>
                                </a>
                            </div>
                        </div>
                        <a class="file-icon ph-lg">
                            <em class="fa fa-5x fa-file-audio-o text-primary"></em>
                        </a>
                        <p>
                            <small class="text-dark">Song for you.ogg</small>
                        </p>
                        <div class="clearfix m0 text-muted">
                            <small class="pull-right">4.5MB</small>
                            <small class="pull-left">5m ago</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="panel discoverer">
                    <div class="panel-body text-center">
                        <div class="clearfix discover">
                            <div class="pull-right">
                                <a class="text-muted mr-sm" href="#" title="Download">
                                    <em class="fa fa-download fa-fw"></em>
                                </a>
                            </div>
                        </div>
                        <a class="file-icon ph-lg">
                            <em class="fa fa-5x fa-file-code-o text-purple"></em>
                        </a>
                        <p>
                            <small class="text-dark">bypass.c</small>
                        </p>
                        <div class="clearfix m0 text-muted">
                            <small class="pull-right">3KB</small>
                            <small class="pull-left">2h ago</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="panel discoverer">
                    <div class="panel-body text-center">
                        <div class="clearfix discover">
                            <div class="pull-right">
                                <a class="text-muted mr-sm" href="#" title="Download">
                                    <em class="fa fa-download fa-fw"></em>
                                </a>
                            </div>
                        </div>
                        <a class="file-icon ph-lg">
                            <em class="fa fa-5x fa-file-image-o text-success"></em>
                        </a>
                        <p>
                            <small class="text-dark">Sunset_red.png</small>
                        </p>
                        <div class="clearfix m0 text-muted">
                            <small class="pull-right">450KB</small>
                            <small class="pull-left">3d ago</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="panel discoverer">
                    <div class="panel-body text-center">
                        <div class="clearfix discover">
                            <div class="pull-right">
                                <a class="text-muted mr-sm" href="#" title="Download">
                                    <em class="fa fa-download fa-fw"></em>
                                </a>
                            </div>
                        </div>
                        <a class="file-icon ph-lg">
                            <em class="fa fa-5x fa-file-image-o text-success"></em>
                        </a>
                        <p>
                            <small class="text-dark">Sunset_red.png</small>
                        </p>
                        <div class="clearfix m0 text-muted">
                            <small class="pull-right">450KB</small>
                            <small class="pull-left">3d ago</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="panel discoverer">
                    <div class="panel-body text-center">
                        <div class="clearfix discover">
                            <div class="pull-right">
                                <a class="text-muted mr-sm" href="#" title="Download">
                                    <em class="fa fa-download fa-fw"></em>
                                </a>
                            </div>
                        </div>
                        <a class="file-icon ph-lg">
                            <em class="fa fa-5x fa-file-code-o text-purple"></em>
                        </a>
                        <p>
                            <small class="text-dark">angular.controller.js</small>
                        </p>
                        <div class="clearfix m0 text-muted">
                            <small class="pull-right">5KB</small>
                            <small class="pull-left">23h ago</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="panel discoverer">
                    <div class="panel-body text-center">
                        <div class="clearfix discover">
                            <div class="pull-right">
                                <a class="text-muted mr-sm" href="#" title="Download">
                                    <em class="fa fa-download fa-fw"></em>
                                </a>
                            </div>
                        </div>
                        <a class="file-icon ph-lg">
                            <em class="fa fa-5x fa-file-audio-o text-primary"></em>
                        </a>
                        <p>
                            <small class="text-dark">Song 4 you.ogg</small>
                        </p>
                        <div class="clearfix m0 text-muted">
                            <small class="pull-right">4.5MB</small>
                            <small class="pull-left">5m ago</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="panel discoverer">
                    <div class="panel-body text-center">
                        <div class="clearfix discover">
                            <div class="pull-right">
                                <a class="text-muted mr-sm" href="#" title="Download">
                                    <em class="fa fa-download fa-fw"></em>
                                </a>
                            </div>
                        </div>
                        <a class="file-icon ph-lg">
                            <em class="fa fa-5x fa-file-audio-o text-primary"></em>
                        </a>
                        <p>
                            <small class="text-dark">Similar - Chosen.mp3</small>
                        </p>
                        <div class="clearfix m0 text-muted">
                            <small class="pull-right">12MB</small>
                            <small class="pull-left">20h ago</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="panel discoverer">
                    <div class="panel-body text-center">
                        <div class="clearfix discover">
                            <div class="pull-right">
                                <a class="text-muted mr-sm" href="#" title="Download">
                                    <em class="fa fa-download fa-fw"></em>
                                </a>
                            </div>
                        </div>
                        <a class="file-icon ph-lg">
                            <em class="fa fa-5x fa-file-audio-o text-primary"></em>
                        </a>
                        <p>
                            <small class="text-dark">Song 4 you.ogg</small>
                        </p>
                        <div class="clearfix m0 text-muted">
                            <small class="pull-right">4.5MB</small>
                            <small class="pull-left">5m ago</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="panel discoverer">
                    <div class="panel-body text-center">
                        <div class="clearfix discover">
                            <div class="pull-right">
                                <a class="text-muted mr-sm" href="#" title="Download">
                                    <em class="fa fa-download fa-fw"></em>
                                </a>
                            </div>
                        </div>
                        <a class="file-icon ph-lg">
                            <em class="fa fa-5x fa-file-code-o text-purple"></em>
                        </a>
                        <p>
                            <small class="text-dark">ng.components.css</small>
                        </p>
                        <div class="clearfix m0 text-muted">
                            <small class="pull-right">78KB</small>
                            <small class="pull-left">12h ago</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="panel discoverer">
                    <div class="panel-body text-center">
                        <div class="clearfix discover">
                            <div class="pull-right">
                                <a class="text-muted mr-sm" href="#" title="Download">
                                    <em class="fa fa-download fa-fw"></em>
                                </a>
                            </div>
                        </div>
                        <a class="file-icon ph-lg">
                            <em class="fa fa-5x fa-file-image-o text-success"></em>
                        </a>
                        <p>
                            <small class="text-dark">Sunset_red.png</small>
                        </p>
                        <div class="clearfix m0 text-muted">
                            <small class="pull-right">450KB</small>
                            <small class="pull-left">3d ago</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="panel discoverer">
                    <div class="panel-body text-center">
                        <div class="clearfix discover">
                            <div class="pull-right">
                                <a class="text-muted mr-sm" href="#" title="Download">
                                    <em class="fa fa-download fa-fw"></em>
                                </a>
                            </div>
                        </div>
                        <a class="file-icon ph-lg">
                            <em class="fa fa-5x fa-file-archive-o text-warning"></em>
                        </a>
                        <p>
                            <small class="text-dark">report-2016.txt</small>
                        </p>
                        <div class="clearfix m0 text-muted">
                            <small class="pull-right">1MB</small>
                            <small class="pull-left">15h ago</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="panel discoverer">
                    <div class="panel-body text-center">
                        <div class="clearfix discover">
                            <div class="pull-right">
                                <a class="text-muted mr-sm" href="#" title="Download">
                                    <em class="fa fa-download fa-fw"></em>
                                </a>
                            </div>
                        </div>
                        <a class="file-icon ph-lg">
                            <em class="fa fa-5x fa-file-audio-o text-primary"></em>
                        </a>
                        <p>
                            <small class="text-dark">A good song.ogg</small>
                        </p>
                        <div class="clearfix m0 text-muted">
                            <small class="pull-right">6.3MB</small>
                            <small class="pull-left">10m ago</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="panel discoverer">
                    <div class="panel-body text-center">
                        <div class="clearfix discover">
                            <div class="pull-right">
                                <a class="text-muted mr-sm" href="#" title="Download">
                                    <em class="fa fa-download fa-fw"></em>
                                </a>
                            </div>
                        </div>
                        <a class="file-icon ph-lg">
                            <em class="fa fa-5x fa-file-movie-o text-danger"></em>
                        </a>
                        <p>
                            <small class="text-dark">Movie.avi</small>
                        </p>
                        <div class="clearfix m0 text-muted">
                            <small class="pull-right">6.3GB</small>
                            <small class="pull-left">50m ago</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="panel discoverer">
                    <div class="panel-body text-center">
                        <div class="clearfix discover">
                            <div class="pull-right">
                                <a class="text-muted mr-sm" href="#" title="Download">
                                    <em class="fa fa-download fa-fw"></em>
                                </a>
                            </div>
                        </div>
                        <a class="file-icon ph-lg">
                            <em class="fa fa-5x fa-file-audio-o text-primary"></em>
                        </a>
                        <p>
                            <small class="text-dark">Similar - Chosen.mp3</small>
                        </p>
                        <div class="clearfix m0 text-muted">
                            <small class="pull-right">12MB</small>
                            <small class="pull-left">20h ago</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="panel discoverer">
                    <div class="panel-body text-center">
                        <div class="clearfix discover">
                            <div class="pull-right">
                                <a class="text-muted mr-sm" href="#" title="Download">
                                    <em class="fa fa-download fa-fw"></em>
                                </a>
                            </div>
                        </div>
                        <a class="file-icon ph-lg">
                            <em class="fa fa-5x fa-file-image-o text-success"></em>
                        </a>
                        <p>
                            <small class="text-dark">El-Capitan.jpg</small>
                        </p>
                        <div class="clearfix m0 text-muted">
                            <small class="pull-right">300KB</small>
                            <small class="pull-left">1d ago</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="panel discoverer">
                    <div class="panel-body text-center">
                        <div class="clearfix discover">
                            <div class="pull-right">
                                <a class="text-muted mr-sm" href="#" title="Download">
                                    <em class="fa fa-download fa-fw"></em>
                                </a>
                            </div>
                        </div>
                        <a class="file-icon ph-lg">
                            <em class="fa fa-5x fa-file-audio-o text-primary"></em>
                        </a>
                        <p>
                            <small class="text-dark">Song 4 you.ogg</small>
                        </p>
                        <div class="clearfix m0 text-muted">
                            <small class="pull-right">4.5MB</small>
                            <small class="pull-left">5m ago</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="panel discoverer">
                    <div class="panel-body text-center">
                        <div class="clearfix discover">
                            <div class="pull-right">
                                <a class="text-muted mr-sm" href="#" title="Download">
                                    <em class="fa fa-download fa-fw"></em>
                                </a>
                            </div>
                        </div>
                        <a class="file-icon ph-lg">
                            <em class="fa fa-5x fa-file-code-o text-purple"></em>
                        </a>
                        <p>
                            <small class="text-dark">ng.components.css</small>
                        </p>
                        <div class="clearfix m0 text-muted">
                            <small class="pull-right">78KB</small>
                            <small class="pull-left">12h ago</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="panel discoverer">
                    <div class="panel-body text-center">
                        <div class="clearfix discover">
                            <div class="pull-right">
                                <a class="text-muted mr-sm" href="#" title="Download">
                                    <em class="fa fa-download fa-fw"></em>
                                </a>
                            </div>
                        </div>
                        <a class="file-icon ph-lg">
                            <em class="fa fa-5x fa-file-image-o text-success"></em>
                        </a>
                        <p>
                            <small class="text-dark">Sunset_red.png</small>
                        </p>
                        <div class="clearfix m0 text-muted">
                            <small class="pull-right">450KB</small>
                            <small class="pull-left">3d ago</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="panel discoverer">
                    <div class="panel-body text-center">
                        <div class="clearfix discover">
                            <div class="pull-right">
                                <a class="text-muted mr-sm" href="#" title="Download">
                                    <em class="fa fa-download fa-fw"></em>
                                </a>
                            </div>
                        </div>
                        <a class="file-icon ph-lg">
                            <em class="fa fa-5x fa-file-archive-o text-warning"></em>
                        </a>
                        <p>
                            <small class="text-dark">report-2016.txt</small>
                        </p>
                        <div class="clearfix m0 text-muted">
                            <small class="pull-right">1MB</small>
                            <small class="pull-left">15h ago</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="panel discoverer">
                    <div class="panel-body text-center">
                        <div class="clearfix discover">
                            <div class="pull-right">
                                <a class="text-muted mr-sm" href="#" title="Download">
                                    <em class="fa fa-download fa-fw"></em>
                                </a>
                            </div>
                        </div>
                        <a class="file-icon ph-lg">
                            <em class="fa fa-5x fa-file-image-o text-success"></em>
                        </a>
                        <p>
                            <small class="text-dark">Sunset_red.png</small>
                        </p>
                        <div class="clearfix m0 text-muted">
                            <small class="pull-right">450KB</small>
                            <small class="pull-left">3d ago</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="panel discoverer">
                    <div class="panel-body text-center">
                        <div class="clearfix discover">
                            <div class="pull-right">
                                <a class="text-muted mr-sm" href="#" title="Download">
                                    <em class="fa fa-download fa-fw"></em>
                                </a>
                            </div>
                        </div>
                        <a class="file-icon ph-lg">
                            <em class="fa fa-5x fa-file-code-o text-purple"></em>
                        </a>
                        <p>
                            <small class="text-dark">angular.controller.js</small>
                        </p>
                        <div class="clearfix m0 text-muted">
                            <small class="pull-right">5KB</small>
                            <small class="pull-left">23h ago</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="panel discoverer">
                    <div class="panel-body text-center">
                        <div class="clearfix discover">
                            <div class="pull-right">
                                <a class="text-muted mr-sm" href="#" title="Download">
                                    <em class="fa fa-download fa-fw"></em>
                                </a>
                            </div>
                        </div>
                        <a class="file-icon ph-lg">
                            <em class="fa fa-5x fa-file-audio-o text-primary"></em>
                        </a>
                        <p>
                            <small class="text-dark">Song 4 you.ogg</small>
                        </p>
                        <div class="clearfix m0 text-muted">
                            <small class="pull-right">4.5MB</small>
                            <small class="pull-left">5m ago</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="panel discoverer">
                    <div class="panel-body text-center">
                        <div class="clearfix discover">
                            <div class="pull-right">
                                <a class="text-muted mr-sm" href="#" title="Download">
                                    <em class="fa fa-download fa-fw"></em>
                                </a>
                            </div>
                        </div>
                        <a class="file-icon ph-lg">
                            <em class="fa fa-5x fa-file-audio-o text-primary"></em>
                        </a>
                        <p>
                            <small class="text-dark">Similar - Chosen.mp3</small>
                        </p>
                        <div class="clearfix m0 text-muted">
                            <small class="pull-right">12MB</small>
                            <small class="pull-left">20h ago</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
