<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title layout:title-pattern="$CONTENT_TITLE">Page Title - FundRequest</title>

    <meta name="description" content="" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link type="text/css" rel="stylesheet" th:href="@{/assets/vendors/bootstrap/css/bootstrap.min.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/assets/vendors/mdbootstrap/css/mdb.min.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/assets/css/core.min.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/assets/fonts/fontawesome/css/fontawesome-all.min.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/assets/fonts/typekit-jaf-domus/typekit.css}" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@fundrequest_io" />
    <meta name="twitter:title" content="Boosting Open Source by rewarding contributions." />
    <meta name="twitter:description"
          content="A decentralized marketplace for open source collaboration. FundRequest is a system for custom support that will boost the Open Source community as a whole – from developer to end user." />
    <meta name="twitter:image" th:content="@{/assets/img/og-image.png}" />
    <meta name="twitter:url" content="https://fundrequest.io" />
    <meta property="og:title" content="Boosting Open Source by rewarding contributions." />
    <meta property="og:site_name" content="FundRequest.io" />
    <meta property="og:url" content="https://fundrequest.io" />
    <meta property="og:description"
          content="A decentralized marketplace for open source collaboration. FundRequest is a system for custom support that will boost the Open Source community as a whole – from developer to end user." />
    <meta property="og:image" th:content="@{/assets/img/og-image.png}" />

    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/assets/img/logo-single180.png}" />
    <link rel="icon" type="image/png" th:href="@{/assets/img/logo-single32.png}" sizes="32x32" />
    <link rel="icon" type="image/png" th:href="@{/assets/img/logo-single16.png}" sizes="16x16" />

    <th:block layout:fragment="styles">
    </th:block>
</head>
<body>

<th:block th:replace="fragments/top :: alert-container"></th:block>

<div class="fnd-page-container">

    <div th:replace="fragments/header :: header"></div>
    <section class="section section--main">
        <div class="container">
            <div class="fnd-bg">
                <th:block layout:fragment="content" la/>
            </div>
        </div>
    </section>
</div>

<div th:replace="fragments/footer :: footer"></div>

<script th:src="@{/assets/vendors/jquery/jquery.min.js}"></script>
<script th:src="@{/assets/vendors/bootstrap/js/bootstrap.bundle.min.js}"></script>

<th:block layout:fragment="scripts">
</th:block>

</body>

</html>