language: java
jdk:
- oraclejdk8
cache:
  directories:
    - $HOME/.m2
    - tweb/src/main/frontend/node_modules
    - tweb/src/main/frontend/src/js/vue/node_modules
node_js: "8.7.0"

after_success:
  - bash <(curl -s https://codecov.io/bash)
  - bash <(curl -s https://copilot.blackducksoftware.com/ci/travis/scripts/upload)
  - docker build -t fundrequestio/platform:"$TRAVIS_BRANCH" tweb
  - docker build -t fundrequestio/adminweb:"$TRAVIS_BRANCH" admin-web
  - docker login -u "$DOCKER_USERNAME" -p "$DOCKER_PASSWORD"
  - docker push fundrequestio/platform:"$TRAVIS_BRANCH"
  - docker push fundrequestio/adminweb:"$TRAVIS_BRANCH"