<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<body>

<th:block th:fragment="social-connect-block (platform, verification)">
    <a class="anchor" id="get-social-linkedin"></a>
    <div class="card card--social card--social--primary" th:if="${platform == null}">
        <h5 class="card-header">
            <span>LinkedIn <i class="fab fa-linkedin"></i></span>
        </h5>
        <div class="card-body">
            <a class="btn btn-primary" href="/profile/link/linkedin">Connect</a>
        </div>
    </div>

    <div class="card card--social card--social--success" th:if="${platform != null}">
        <div class="card-header">
            <div>LinkedIn <i class="fab fa-linkedin"></i></div>
            <span class="text-success" th:text="${platform.getUsername()}">User name, link to profile?</span>
        </div>
        <div class="card-body">
            <div th:if="${verification == null}">
                <div class="card-text">
                    <a href="#" class="btn btn-outline-linkedin icon-left" data-target="#modal-share-linked-in"
                       data-toggle="modal">
                        <i class="fab fa-linkedin"></i>
                        <span>Share and be rewarded</span>
                    </a>
                </div>
                <div class="card-text">
                    <span>Rewards 10 FND for sharing on LinkedIn</span>
                </div>
            </div>
            <div th:if="${verification != null}">
                <div class="card-text">Super, thanks for sharing!</div>
                <div class="card-text">
                    <a class="btn btn-primary" th:href="${verification.postUrl}">
                        View your post
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script>require(['app/linkedin'])</script>
</th:block>

<div th:fragment="modal" class="modal fade" tabindex="-1" role="dialog" id="modal-share-linked-in">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">LinkedIn</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body d-block">
                <div class="d-flex mb-3">
                    <img class="mr-3 img--linked-in-modal" data-share-linked-in="image" src=""/>
                    <div>
                        <div data-share-linked-in="title">Title</div>
                        <small><strong data-share-linked-in="url">fundrequest.io</strong></small>
                    </div>
                </div>
                <div class="form-control form-control--readonly-text mb-2" data-share-linked-in="text">
                    FundRequest is awesome
                </div>
                <div><label class="mb-2">Share with: <strong>public</strong></label></div>
            </div>
            <div class="modal-footer justify-content-between">
                <button class="btn btn-primary mb-3" type="button" data-share-linked-in="button">
                    Share
                </button>
                <button type="button" class="btn btn-secondary mb-3" data-dismiss="modal">
                    Hmm, I don't want to share ...
                </button>
            </div>
        </div>
    </div>
</div>

</body>
</html>