<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>

<th:block th:fragment="social-connect-block (platform, bountyResult, activeBounty, claimedTwitterBounty)">
    <a class="anchor" id="get-social-twitter"></a>
    <div class="card card--social card--social--primary" th:if="${platform == null}">
        <h5 class="card-header">
            <span>Twitter <i class="fab fa-twitter"></i></span>
        </h5>
        <div class="card-body">
            <a class="btn btn-primary" href="/profile/link/twitter">Connect</a>
        </div>
    </div>

    <div class="card card--social card--social--success" th:if="${platform != null}">
        <div class="card-header">
            <div>Twitter <i class="fab fa-twitter"></i></div>
            <span class="text-success" th:text="${platform.getUsername()}">User name, link to profile?</span>
        </div>
        <div th:if="${activeBounty != null &amp;&amp; claimedTwitterBounty == true}"
             class="card-body">
            <span class="card-text">
                Finished bounty
            </span>
        </div>
        <div th:if="${activeBounty != null  &amp;&amp; claimedTwitterBounty == false}"
             class="card-body">
            <button class="btn btn-outline-twitter icon-left" data-target="#modal-twitter-verify"
                    data-toggle="modal">
                <i class="fab fa-twitter"></i>
                <span>Tweet and be rewarded</span>
            </button>
            <span class="card-text">
                Get 10 FND for sharing on twitter
            </span>
        </div>
    </div>
    <script>require(['app/twitter'])</script>
</th:block>

<div th:fragment="modal" class="modal fade" tabindex="-1" role="dialog" id="modal-twitter-verify">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Twitter</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body d-block">
                <div class="card">
                    <div class="card-body">
                        <div class="card-text card-text--step-1 mb-4">
                            <div>Let's send out a tweet ...</div>
                            <button class="btn btn-outline-twitter icon-left"
                                    th:attr="data-twitter-tweet=${twitterPost != null ? twitterPost.content : ''}">
                                <i class="fab fa-twitter"></i>
                                <span>Tweet</span>
                            </button>
                        </div>

                        <div class="card-text card-text--step-2 mb-4">
                            <div>Posted? Then push the button</div>
                            <button type="button" class="btn btn-success" data-twitter-verify="true">
                                <span>Verify</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Take me back</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>