<div class="content-heading">
   <div class="pull-right"><a class="btn btn-sm btn-default text-sm" [routerLink]="'/extras/forum'">&lt; back</a>
   </div>Forum - Topics
   <small>Category ID: {{ catid }}</small>
</div>
<div class="panel panel-default">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="h4" style="width: 50%">Welcome</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <h4>
                  <a [routerLink]="['/extras/forum/discussion/', 9999]">
                     <strong>Powered by AngularJS</strong>
                  </a>
               </h4>
                    <div class="text-muted text-sm">
                        <span>
                     <strong class="mr-sm">17</strong>views</span>
                        <span class="mh-sm"></span>
                        <span>
                     <strong class="mr-sm">19</strong>comments</span>
                    </div>
                </td>
                <td class="text-right hidden-xs hidden-sm">
                    <div class="text-muted">
                        <small class="mr-sm">Started by</small><a class="mr-sm">Victoria West</a>
                        <small>on March 10, 2015</small>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>
                  <a [routerLink]="['/extras/forum/discussion/', 9999]">
                     <strong>How to create an AngularJS admin GUI?</strong>
                  </a>
               </h4>
                    <div class="text-muted text-sm">
                        <span>
                     <strong class="mr-sm">7</strong>views</span>
                        <span class="mh-sm"></span>
                        <span>
                     <strong class="mr-sm">13</strong>comments</span>
                    </div>
                </td>
                <td class="text-right hidden-xs hidden-sm">
                    <div class="text-muted">
                        <small class="mr-sm">Started by</small><a class="mr-sm">Olivia Reynolds</a>
                        <small>on March 10, 2015</small>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>
                  <a [routerLink]="['/extras/forum/discussion/', 9999]">
                     <strong>Issue found..</strong>
                  </a>
               </h4>
                    <div class="text-muted text-sm">
                        <span>
                     <strong class="mr-sm">13</strong>views</span>
                        <span class="mh-sm"></span>
                        <span>
                     <strong class="mr-sm">500</strong>comments</span>
                    </div>
                </td>
                <td class="text-right hidden-xs hidden-sm">
                    <div class="text-muted">
                        <small class="mr-sm">Started by</small><a class="mr-sm">Michelle Lane</a>
                        <small>on March 10, 2015</small>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>
                  <a [routerLink]="['/extras/forum/discussion/', 9999]">
                     <strong>Share your application</strong>
                  </a>
               </h4>
                    <div class="text-muted text-sm">
                        <span>
                     <strong class="mr-sm">98</strong>views</span>
                        <span class="mh-sm"></span>
                        <span>
                     <strong class="mr-sm">1900</strong>comments</span>
                    </div>
                </td>
                <td class="text-right hidden-xs hidden-sm">
                    <div class="text-muted">
                        <small class="mr-sm">Started by</small><a class="mr-sm">Derek Jensen</a>
                        <small>on March 10, 2015</small>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>
                  <a [routerLink]="['/extras/forum/discussion/', 9999]">
                     <strong>Angle - Angular Admin Template</strong>
                  </a>
               </h4>
                    <div class="text-muted text-sm">
                        <span>
                     <strong class="mr-sm">17</strong>views</span>
                        <span class="mh-sm"></span>
                        <span>
                     <strong class="mr-sm">19</strong>comments</span>
                    </div>
                </td>
                <td class="text-right hidden-xs hidden-sm">
                    <div class="text-muted">
                        <small class="mr-sm">Started by</small><a class="mr-sm">Colleen Cole</a>
                        <small>on March 10, 2015</small>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>
                  <a [routerLink]="['/extras/forum/discussion/', 9999]">
                     <strong>Take a breakfast and happy coding</strong>
                  </a>
               </h4>
                    <div class="text-muted text-sm">
                        <span>
                     <strong class="mr-sm">31</strong>view</span>
                        <span class="mh-sm"></span>
                        <span>
                     <strong class="mr-sm">190</strong>comments</span>
                    </div>
                </td>
                <td class="text-right hidden-xs hidden-sm">
                    <div class="text-muted">
                        <small class="mr-sm">Started by</small><a class="mr-sm">Charlene Barrett</a>
                        <small>on March 10, 2015</small>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>
                  <a [routerLink]="['/extras/forum/discussion/', 9999]">
                     <strong>Sed vitae nisi eget metus semper congue.</strong>
                  </a>
               </h4>
                    <div class="text-muted text-sm">
                        <span>
                     <strong class="mr-sm">27</strong>views</span>
                        <span class="mh-sm"></span>
                        <span>
                     <strong class="mr-sm">419</strong>comments</span>
                    </div>
                </td>
                <td class="text-right hidden-xs hidden-sm">
                    <div class="text-muted">
                        <small class="mr-sm">Started by</small><a class="mr-sm">Austin Montgomery</a>
                        <small>on March 10, 2015</small>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
