<html xmlns:th="http://www.thymeleaf.org">

<nav th:fragment="header" class="fnd-header navbar navbar-dark navbar-expand-md bg bg--blue bg--no-rect mb-5">
    <div class="container">
        <a class="navbar-brand navbar-brand--fnd" href="/">
            <img class="d-md-none" th:src="@{/assets/img/logo-single180.png}" alt="Fundrequest logo" />
            <img class="d-none d-md-block" th:src="@{/assets/img/Fundrequest-title-white.png}"
                 alt="Fundrequest logo" />
        </a>
        <h2 class="text-white m-0">Platform Administration</h2>
    </div>
</nav>

</html>