<div class="pull-right">
    <em class="fa fa-warning fa-lg text-warning"></em>
</div>
<h3>Team viewer</h3>
<div class="row">
    <div class="col-lg-4 col-md-6">
        <!-- Team Panel-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="pull-right">
                    <div class="label label-success">free</div>
                </div>
                <div class="panel-title">Team #1</div>
            </div>
            <div class="panel-body bt">
                <a class="inline" tooltip="Team leader">
                    <img class="img-circle thumb48" src="assets/img/user/03.jpg" alt="project member" />
                </a>
                <a class="inline">
                    <img class="img-circle thumb24" src="assets/img/user/02.jpg" alt="project member" />
                </a>
                <a class="inline">
                    <img class="img-circle thumb24" src="assets/img/user/04.jpg" alt="project member" />
                </a>
                <a class="inline">
                    <img class="img-circle thumb24" src="assets/img/user/05.jpg" alt="project member" />
                </a>
                <a class="inline">
                    <img class="img-circle thumb24" src="assets/img/user/06.jpg" alt="project member" />
                </a>
                <a class="inline">
                    <img class="img-circle thumb24" src="assets/img/user/07.jpg" alt="project member" />
                </a>
            </div>
            <div class="panel-body bb text-center">
                <div tooltip="Progress of asigned tasks">
                    <progressbar class="progress-xs m0" value="50" type="info">50%</progressbar>
                </div>
            </div>
            <div class="panel-body bb">
                <div class="row text-center">
                    <div class="col-xs-4">
                        <p class="text-bold">BUDGET</p>
                        <div class="sparkline inline mr" [sparkline]="sparkOptionsWarning" values="60,40"></div>
                    </div>
                    <div class="col-xs-4">
                        <p class="text-bold">TASKS</p>
                        <div class="h3 m0">26</div>
                    </div>
                    <div class="col-xs-4">
                        <p class="text-bold">AVAILABITY</p>
                        <div class="sparkline inline mr" [sparkline]="sparkOptionsWarning" values="70,30"></div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <ul class="list-inline m0">
                    <li>
                        <div class="badge bg-gray">angularjs</div>
                    </li>
                    <li>
                        <div class="badge bg-gray">jquery</div>
                    </li>
                    <li>
                        <div class="badge bg-gray">gulp</div>
                    </li>
                    <li>
                        <div class="badge bg-gray">git</div>
                    </li>
                    <li>
                        <div class="badge p-sm bg-gray">ios</div>
                    </li>
                </ul>
            </div>
            <div class="panel-footer text-center"><a class="btn btn-default btn-oval">Manage Team</a>
            </div>
        </div>
        <!-- end Team Panel-->
    </div>
    <div class="col-lg-4 col-md-6">
        <!-- Team Panel-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="pull-right">
                    <div class="label bg-gray">asigned</div>
                </div>
                <div class="panel-title">Team #2</div>
            </div>
            <div class="panel-body bt">
                <a class="inline" tooltip="Team leader">
                    <img class="img-circle thumb48" src="assets/img/user/03.jpg" alt="project member" />
                </a>
                <a class="inline">
                    <img class="img-circle thumb24" src="assets/img/user/02.jpg" alt="project member" />
                </a>
                <a class="inline">
                    <img class="img-circle thumb24" src="assets/img/user/04.jpg" alt="project member" />
                </a>
                <a class="inline">
                    <img class="img-circle thumb24" src="assets/img/user/05.jpg" alt="project member" />
                </a>
                <a class="inline">
                    <img class="img-circle thumb24" src="assets/img/user/09.jpg" alt="project member" />
                </a>
            </div>
            <div class="panel-body bb text-center">
                <div tooltip="Progress of asigned tasks">
                    <progressbar class="progress-xs m0" value="90" type="info">90%</progressbar>
                </div>
            </div>
            <div class="panel-body bb">
                <div class="row text-center">
                    <div class="col-xs-4">
                        <p class="text-bold">BUDGET</p>
                        <div class="sparkline inline mr" [sparkline]="sparkOptionsDanger" values="10,90"></div>
                    </div>
                    <div class="col-xs-4">
                        <p class="text-bold">TASKS</p>
                        <div class="h3 m0">145</div>
                    </div>
                    <div class="col-xs-4">
                        <p class="text-bold">AVAILABITY</p>
                        <div class="sparkline inline mr" [sparkline]="sparkOptionsSuccess" values="40,60"></div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <ul class="list-inline m0">
                    <li>
                        <div class="badge bg-gray">angularjs</div>
                    </li>
                    <li>
                        <div class="badge bg-gray">jquery</div>
                    </li>
                    <li>
                        <div class="badge bg-gray">gulp</div>
                    </li>
                    <li>
                        <div class="badge bg-gray">git</div>
                    </li>
                    <li>
                        <div class="badge p-sm bg-gray">ios</div>
                    </li>
                </ul>
            </div>
            <div class="panel-footer text-center"><a class="btn btn-default btn-oval">Manage Team</a>
            </div>
        </div>
        <!-- end Team Panel-->
    </div>
    <div class="col-lg-4 col-md-6">
        <!-- Team Panel-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="pull-right">
                    <div class="label label-success">free</div>
                </div>
                <div class="panel-title">Team #3</div>
            </div>
            <div class="panel-body bt">
                <a class="inline" tooltip="Team leader">
                    <img class="img-circle thumb48" src="assets/img/user/03.jpg" alt="project member" />
                </a>
                <a class="inline">
                    <img class="img-circle thumb24" src="assets/img/user/02.jpg" alt="project member" />
                </a>
                <a class="inline">
                    <img class="img-circle thumb24" src="assets/img/user/04.jpg" alt="project member" />
                </a>
                <a class="inline">
                    <img class="img-circle thumb24" src="assets/img/user/05.jpg" alt="project member" />
                </a>
                <a class="inline">
                    <img class="img-circle thumb24" src="assets/img/user/06.jpg" alt="project member" />
                </a>
                <a class="inline">
                    <img class="img-circle thumb24" src="assets/img/user/07.jpg" alt="project member" />
                </a>
            </div>
            <div class="panel-body bb text-center">
                <div tooltip="Progress of asigned tasks">
                    <progressbar class="progress-xs m0" value="50" type="info">50%</progressbar>
                </div>
            </div>
            <div class="panel-body bb">
                <div class="row text-center">
                    <div class="col-xs-4">
                        <p class="text-bold">BUDGET</p>
                        <div class="sparkline inline mr" [sparkline]="sparkOptionsWarning" values="60,40"></div>
                    </div>
                    <div class="col-xs-4">
                        <p class="text-bold">TASKS</p>
                        <div class="h3 m0">98</div>
                    </div>
                    <div class="col-xs-4">
                        <p class="text-bold">AVAILABITY</p>
                        <div class="sparkline inline mr" [sparkline]="sparkOptionsSuccess" values="40,60"></div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <ul class="list-inline m0">
                    <li>
                        <div class="badge bg-gray">angularjs</div>
                    </li>
                    <li>
                        <div class="badge bg-gray">jquery</div>
                    </li>
                    <li>
                        <div class="badge bg-gray">gulp</div>
                    </li>
                    <li>
                        <div class="badge bg-gray">git</div>
                    </li>
                    <li>
                        <div class="badge p-sm bg-gray">ios</div>
                    </li>
                </ul>
            </div>
            <div class="panel-footer text-center"><a class="btn btn-default btn-oval">Manage Team</a>
            </div>
        </div>
        <!-- end Team Panel-->
    </div>
    <div class="col-lg-4 col-md-6">
        <!-- Team Panel-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="pull-right">
                    <div class="label bg-gray">asigned</div>
                </div>
                <div class="panel-title">Team #4</div>
            </div>
            <div class="panel-body bt">
                <a class="inline" tooltip="Team leader">
                    <img class="img-circle thumb48" src="assets/img/user/03.jpg" alt="project member" />
                </a>
                <a class="inline">
                    <img class="img-circle thumb24" src="assets/img/user/02.jpg" alt="project member" />
                </a>
                <a class="inline">
                    <img class="img-circle thumb24" src="assets/img/user/04.jpg" alt="project member" />
                </a>
                <a class="inline">
                    <img class="img-circle thumb24" src="assets/img/user/05.jpg" alt="project member" />
                </a>
                <a class="inline">
                    <img class="img-circle thumb24" src="assets/img/user/06.jpg" alt="project member" />
                </a>
                <a class="inline">
                    <img class="img-circle thumb24" src="assets/img/user/07.jpg" alt="project member" />
                </a>
                <a class="inline">
                    <img class="img-circle thumb24" src="assets/img/user/08.jpg" alt="project member" />
                </a>
                <a class="inline">
                    <img class="img-circle thumb24" src="assets/img/user/09.jpg" alt="project member" />
                </a>
            </div>
            <div class="panel-body bb text-center">
                <div tooltip="Progress of asigned tasks">
                    <progressbar class="progress-xs m0" value="25" type="info">25%</progressbar>
                </div>
            </div>
            <div class="panel-body bb">
                <div class="row text-center">
                    <div class="col-xs-4">
                        <p class="text-bold">BUDGET</p>
                        <div class="sparkline inline mr" [sparkline]="sparkOptionsWarning" values="60,40"></div>
                    </div>
                    <div class="col-xs-4">
                        <p class="text-bold">TASKS</p>
                        <div class="h3 m0">145</div>
                    </div>
                    <div class="col-xs-4">
                        <p class="text-bold">AVAILABITY</p>
                        <div class="sparkline inline mr" [sparkline]="sparkOptionsSuccess" values="40,60"></div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <ul class="list-inline m0">
                    <li>
                        <div class="badge bg-gray">angularjs</div>
                    </li>
                    <li>
                        <div class="badge bg-gray">jquery</div>
                    </li>
                    <li>
                        <div class="badge bg-gray">gulp</div>
                    </li>
                    <li>
                        <div class="badge bg-gray">git</div>
                    </li>
                    <li>
                        <div class="badge p-sm bg-gray">ios</div>
                    </li>
                </ul>
            </div>
            <div class="panel-footer text-center"><a class="btn btn-default btn-oval">Manage Team</a>
            </div>
        </div>
        <!-- end Team Panel-->
    </div>
    <div class="col-lg-4 col-md-6">
        <!-- Team Panel-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="pull-right">
                    <div class="label bg-gray">asigned</div>
                </div>
                <div class="panel-title">Team #5</div>
            </div>
            <div class="panel-body bt">
                <a class="inline" tooltip="Team leader">
                    <img class="img-circle thumb48" src="assets/img/user/03.jpg" alt="project member" />
                </a>
                <a class="inline">
                    <img class="img-circle thumb24" src="assets/img/user/02.jpg" alt="project member" />
                </a>
                <a class="inline">
                    <img class="img-circle thumb24" src="assets/img/user/04.jpg" alt="project member" />
                </a>
                <a class="inline">
                    <img class="img-circle thumb24" src="assets/img/user/05.jpg" alt="project member" />
                </a>
                <a class="inline">
                    <img class="img-circle thumb24" src="assets/img/user/06.jpg" alt="project member" />
                </a>
                <a class="inline">
                    <img class="img-circle thumb24" src="assets/img/user/07.jpg" alt="project member" />
                </a>
                <a class="inline">
                    <img class="img-circle thumb24" src="assets/img/user/08.jpg" alt="project member" />
                </a>
                <a class="inline">
                    <img class="img-circle thumb24" src="assets/img/user/09.jpg" alt="project member" />
                </a>
            </div>
            <div class="panel-body bb text-center">
                <div tooltip="Progress of asigned tasks">
                    <progressbar class="progress-xs m0" value="50" type="info">50%</progressbar>
                </div>
            </div>
            <div class="panel-body bb">
                <div class="row text-center">
                    <div class="col-xs-4">
                        <p class="text-bold">BUDGET</p>
                        <div class="sparkline inline mr" [sparkline]="sparkOptionsWarning" values="60,40"></div>
                    </div>
                    <div class="col-xs-4">
                        <p class="text-bold">TASKS</p>
                        <div class="h3 m0">500</div>
                    </div>
                    <div class="col-xs-4">
                        <p class="text-bold">AVAILABITY</p>
                        <div class="sparkline inline mr" [sparkline]="sparkOptionsSuccess" values="40,60"></div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <ul class="list-inline m0">
                    <li>
                        <div class="badge bg-gray">angularjs</div>
                    </li>
                    <li>
                        <div class="badge bg-gray">jquery</div>
                    </li>
                    <li>
                        <div class="badge bg-gray">gulp</div>
                    </li>
                    <li>
                        <div class="badge bg-gray">git</div>
                    </li>
                    <li>
                        <div class="badge p-sm bg-gray">ios</div>
                    </li>
                </ul>
            </div>
            <div class="panel-footer text-center"><a class="btn btn-default btn-oval">Manage Team</a>
            </div>
        </div>
        <!-- end Team Panel-->
    </div>
    <div class="col-lg-4 col-md-6">
        <!-- Team Panel-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="pull-right">
                    <div class="label label-success">free</div>
                </div>
                <div class="panel-title">Team #6</div>
            </div>
            <div class="panel-body bt">
                <a class="inline" tooltip="Team leader">
                    <img class="img-circle thumb48" src="assets/img/user/03.jpg" alt="project member" />
                </a>
                <a class="inline">
                    <img class="img-circle thumb24" src="assets/img/user/02.jpg" alt="project member" />
                </a>
                <a class="inline">
                    <img class="img-circle thumb24" src="assets/img/user/04.jpg" alt="project member" />
                </a>
                <a class="inline">
                    <img class="img-circle thumb24" src="assets/img/user/05.jpg" alt="project member" />
                </a>
                <a class="inline">
                    <img class="img-circle thumb24" src="assets/img/user/06.jpg" alt="project member" />
                </a>
                <a class="inline">
                    <img class="img-circle thumb24" src="assets/img/user/07.jpg" alt="project member" />
                </a>
                <a class="inline">
                    <img class="img-circle thumb24" src="assets/img/user/08.jpg" alt="project member" />
                </a>
                <a class="inline">
                    <img class="img-circle thumb24" src="assets/img/user/09.jpg" alt="project member" />
                </a>
            </div>
            <div class="panel-body bb text-center">
                <div tooltip="Progress of asigned tasks">
                    <progressbar class="progress-xs m0" value="50" type="info">50%</progressbar>
                </div>
            </div>
            <div class="panel-body bb">
                <div class="row text-center">
                    <div class="col-xs-4">
                        <p class="text-bold">BUDGET</p>
                        <div class="sparkline inline mr" [sparkline]="sparkOptionsDanger" values="5,95"></div>
                    </div>
                    <div class="col-xs-4">
                        <p class="text-bold">TASKS</p>
                        <div class="h3 m0">145</div>
                    </div>
                    <div class="col-xs-4">
                        <p class="text-bold">AVAILABITY</p>
                        <div class="sparkline inline mr" [sparkline]="sparkOptionsWarning" values="70,30"></div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <ul class="list-inline m0">
                    <li>
                        <div class="badge bg-gray">angularjs</div>
                    </li>
                    <li>
                        <div class="badge bg-gray">jquery</div>
                    </li>
                    <li>
                        <div class="badge bg-gray">gulp</div>
                    </li>
                    <li>
                        <div class="badge bg-gray">git</div>
                    </li>
                    <li>
                        <div class="badge p-sm bg-gray">ios</div>
                    </li>
                </ul>
            </div>
            <div class="panel-footer text-center"><a class="btn btn-default btn-oval">Manage Team</a>
            </div>
        </div>
        <!-- end Team Panel-->
    </div>
</div>
