<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="layout/layout" th:with="title='Home', activeMenu='home'">
<head>
    <title th:text="${title}">Home</title>
</head>
<body>
<section layout:fragment="content">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h2 class="text-thin">Welcome</h2>
            <p>Welcome to fundrequest</p>
        </div>
    </div>
    <div class="row" sec:authorize="isAnonymous()">
        <div class="col-xs-4 text-center"></div>
        <div class="col-xs-4 text-center">
            <p>In order to use this platform you need to login. Registration is not necessary, simply login using your google or github credentials</p>
            <a href="/login" class="btn btn-block btn-primary mt-lg" role="button">Login</a>
        </div>
    </div>
</section>

</body>
</html>