<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="layout/layout"
      th:with="title='Welcome to fundrequest', jsModule='home', activeMenu='home', pageId='home'">

<head>
    <title th:text="${title}">Home</title>
</head>
<body>

<div layout:fragment="action-buttons">
</div>

<section layout:fragment="content">
    <div id="dashboard">
        <div th:include="fragments/stats :: component-stat"></div>
        <div th:include="fragments/stats :: component-funded"></div>
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <component-stat :icon="numberOfRequests.icon" :val="numberOfRequests.val" :text="numberOfRequests.text"></component-stat>
            </div>
            <div class="col-sm-6 col-lg-4">
                <component-stat :icon="requestsFunded.icon" :val="requestsFunded.val" :text="requestsFunded.text"></component-stat>
            </div>
            <div class="col-sm-6 col-lg-4">
                <component-stat :icon="averageFundingPerRequest.icon" :val="fromWei(averageFundingPerRequest.val)" :text="averageFundingPerRequest.text"></component-stat>
            </div>
            <div class="col-sm-6 col-lg-8">
                <component-funded :val="round(percentageFunded.val, 0)" :text="percentageFunded.text"></component-funded>
            </div>
            <div class="col-sm-6 col-lg-4">
                <component-stat :icon="numberOfFunders.icon" :val="numberOfFunders.val" :text="numberOfFunders.text"></component-stat>
                <component-stat :icon="totalAmountFunded.icon" :val="fromWei(totalAmountFunded.val)" :text="totalAmountFunded.text"></component-stat>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-xs-8 text-center">
                <div class="panel panel-default" sec:authorize="isAnonymous()">
                    <div class="panel-body">
                        <div class="text-center pv-xl">
                            <p>
                                In order to use this platform you need to login.
                                Registration is not necessary, simply login using your google or github credentials
                            </p>
                            <div class="row">
                                <div class="col-xs-offset-4 col-xs-4">
                                    <a href="/login" class="btn btn-block btn-primary mt-lg" role="button">Login</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--/*<div th:include="fragments/activityScroll :: panel"></div>*/-->
            </div>
        </div>
    </div>
</section>

</body>
</html>