<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<body id="requests">


<h1 class="page_title">Requests</h1>

<p>


<div class="table-responsive">

    <table id="requests-table" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th class="dynatable-head">ID</th>
            <th class="dynatable-head">Status</th>
            <th class="dynatable-head">Type</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="r : ${requests}">
            <td th:text="${r.id}">1</td>
            <td th:text="${r.status}">2.41</td>
            <td th:text="${r.type}">yes</td>
        </tr>
        </tbody>
    </table>
</div>
</p>


<div th:replace="footer :: copy"></div>

</body>
</html>