<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:data="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/layout" th:with="title='Request', activeMenu='requests', pageId='request'">

<body>

<section layout:fragment="content">
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default" th:attr="data-request-id=${request.id}">
                <div class="panel-heading">
                    <span class="label" th:classappend="${'label-'+request.status}"
                          th:text="${request.status}">OPEN</span>
                    <span th:text="${request.issueInformation.title}">Request Title</span>
                    <span class="pull-right">
                        <span th:replace="fragments/watchLink :: watchLink (${request})"></span>
                    </span>
                </div>
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Source</label>
                            <div class="col-lg-10 form-control-static">
                                <a target="_blank" th:href="${request.issueInformation.link}" href="github.com">
                                    <span th:text="${request.issueInformation.source}">Github</span>
                                    <i class="fa fa-external-link"></i>
                                </a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Owner</label>
                            <div class="col-lg-10 form-control-static">
                                <label>
                                    <span th:text="${request.issueInformation.owner}">FundRequest</span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Repo</label>
                            <div class="col-lg-10 form-control-static">
                                <label>
                                    <span th:text="${request.issueInformation.repo}">Area51</span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Issue</label>
                            <div class="col-lg-10 form-control-static">
                                <label>
                                    <span th:text="${request.issueInformation.number}">6</span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Type</label>
                            <div class="col-lg-10 form-control-static">
                                <label>
                                    <span th:text="${request.type}">ISSUE</span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Technologies</label>
                            <div class="col-lg-10 form-control-static">
                                <div th:each="t : ${request.technologies}" th:remove="tag">
                                    <span th:text="${t}" class="label label-primary">100</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>Other Info</span>
                </div>
                <div class="panel-body">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div th:fragment="requestWatchers" class="table-responsive"
                     data:request-watchers="${request.id}"
                     data:fragment="${'/requests/'+request.id+'/watchers'}">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>Watchers</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="w : ${request.watchers}">
                            <td th:text="${w}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>