<div class="container container-md pv-lg">
    <div class="text-center mb-lg pb-lg">
        <div class="h2 text-bold">Launch your business today</div>
        <p>Select the plan in different options that best fit your project</p>
    </div>
</div>
<div class="container container-md">
    <!-- START PLAN TABLE-->
    <div class="row">
        <!-- PLAN-->
        <div class="col-md-4">
            <div class="plan">
                <h3 class="plan-header">Single</h3>
                <div class="plan-price">
                    <div class="text-lg"><sup><small>$</small></sup>18
                        <!-- span.plan-period /mo-->
                    </div>
                </div>
                <ul class="plan-features">
                    <li>
                        <em class="fa fa-check"></em>Unlimited Styles</li>
                    <li>
                        <em class="fa fa-check"></em>RTL &amp; Translation</li>
                    <li>
                        <em class="fa fa-check"></em>Customer support</li>
                    <li>
                        <em class="fa fa-check"></em>Free Updates</li>
                    <li>
                        <em class="fa fa-check"></em>Limited to one client</li>
                    <li>
                        <em class="fa fa-times plan-feature-disable"></em>Multiple installation</li>
                    <li>
                        <em class="fa fa-times plan-feature-disable"></em>Not ready for resale</li>
                </ul>
                <hr/>
                <div class="text-center"><a class="btn btn-info">Choose</a>
                </div>
            </div>
        </div>
        <!-- PLAN-->
        <div class="col-md-4">
            <div class="plan">
                <h3 class="plan-header">Multiple</h3>
                <div class="plan-price">
                    <div class="text-lg"><sup><small>$</small></sup>60
                        <!-- span.plan-period /mo-->
                    </div>
                </div>
                <ul class="plan-features">
                    <li>
                        <em class="fa fa-check"></em>Unlimited Styles</li>
                    <li>
                        <em class="fa fa-check"></em>RTL &amp; Translation</li>
                    <li>
                        <em class="fa fa-check"></em>Customer support</li>
                    <li>
                        <em class="fa fa-check"></em>Free Updates</li>
                    <li>
                        <em class="fa fa-check"></em>Unlimited clients</li>
                    <li>
                        <em class="fa fa-check"></em>Multiple installation</li>
                    <li>
                        <em class="fa fa-times plan-feature-disable"></em>Not ready for resale</li>
                </ul>
                <hr/>
                <p class="plan-description">The perfect price for all your project solutions.</p>
                <div class="text-center"><a class="btn btn-info">Choose</a>
                </div>
            </div>
        </div>
        <!-- PLAN-->
        <div class="col-md-4">
            <div class="plan">
                <h3 class="plan-header">Extended</h3>
                <div class="plan-price">
                    <div class="text-lg"><sup><small>$</small></sup>900
                        <!-- span.plan-period /mo-->
                    </div>
                </div>
                <ul class="plan-features">
                    <li>
                        <em class="fa fa-check"></em>Unlimited Styles</li>
                    <li>
                        <em class="fa fa-check"></em>RTL &amp; Translation</li>
                    <li>
                        <em class="fa fa-check"></em>Customer support</li>
                    <li>
                        <em class="fa fa-check"></em>Free Updates</li>
                    <li>
                        <em class="fa fa-check"></em>Unlimited clients</li>
                    <li>
                        <em class="fa fa-check"></em>Multiple installation</li>
                    <li>
                        <em class="fa fa-check"></em>Ready for resale</li>
                </ul>
                <hr/>
                <div class="text-center"><a class="btn btn-info">Choose</a>
                </div>
            </div>
            <p class="text-center text-muted">
                <small>* Subject to specific license terms. Price and features listed for demo only.</small>
            </p>
        </div>
    </div>
    <!-- END PLAN TABLE-->
    <div class="text-center mv-lg pv-lg">
        <div class="h2 text-bold">Native styles</div>
        <p>Example plan table using panel for demonstration</p>
    </div>
    <!-- START PLAN TABLE-->
    <div class="row">
        <!-- PLAN-->
        <div class="col-md-4">
            <div class="panel b">
                <div class="panel-body text-center bb">
                    <div class="text-bold">STARTER</div>
                    <h3 class="mv-lg"><sup>$</sup>
                  <span class="text-lg">17</span>
                  <span class="text-xs">/mo</span>
               </h3>
                </div>
                <div class="panel-body">
                    <p>
                        <em class="fa fa-check fa-fw text-green mr"></em>
                        <span>Unlimited Styles</span>
                    </p>
                    <p>
                        <em class="fa fa-check fa-fw text-green mr"></em>
                        <span>RTL &amp; Translation</span>
                    </p>
                    <p>
                        <em class="fa fa-check fa-fw text-green mr"></em>
                        <span>Customer support</span>
                    </p>
                    <p>
                        <em class="fa fa-check fa-fw text-green mr"></em>
                        <span>Free Updates</span>
                    </p>
                    <p>
                        <em class="fa fa-check fa-fw text-green mr"></em>
                        <span>Limited to one client</span>
                    </p>
                    <p>
                        <em class="fa fa-times fa-fw text-warning mr"></em>
                        <span>Multiple installation</span>
                    </p>
                    <p>
                        <em class="fa fa-times fa-fw text-warning mr"></em>
                        <span>Not ready for resale</span>
                    </p>
                </div>
                <div class="panel-body text-center"><a class="btn btn-default btn-lg">Select this plan</a>
                </div>
            </div>
        </div>
        <!-- PLAN-->
        <div class="col-md-4">
            <div class="panel b">
                <div class="panel-body text-center bg-green">
                    <div class="text-bold">IDEAL</div>
                    <h3 class="mv-lg"><sup>$</sup>
                  <span class="text-lg">49</span>
                  <span class="text-xs">/mo</span>
               </h3>
                </div>
                <div class="panel-body">
                    <p>
                        <em class="fa fa-check fa-fw text-green mr"></em>
                        <span>Unlimited Styles</span>
                    </p>
                    <p>
                        <em class="fa fa-check fa-fw text-green mr"></em>
                        <span>RTL &amp; Translation</span>
                    </p>
                    <p>
                        <em class="fa fa-check fa-fw text-green mr"></em>
                        <span>Customer support</span>
                    </p>
                    <p>
                        <em class="fa fa-check fa-fw text-green mr"></em>
                        <span>Free Updates</span>
                    </p>
                    <p>
                        <em class="fa fa-check fa-fw text-green mr"></em>
                        <span>Limited to one client</span>
                    </p>
                    <p>
                        <em class="fa fa-check fa-fw text-green mr"></em>
                        <span>Multiple installation</span>
                    </p>
                    <p>
                        <em class="fa fa-times fa-fw text-warning mr"></em>
                        <span>Not ready for resale</span>
                    </p>
                </div>
                <div class="panel-body text-center"><a class="btn btn-danger btn-lg">Select this plan</a>
                </div>
            </div>
        </div>
        <!-- PLAN-->
        <div class="col-md-4">
            <div class="panel b">
                <div class="panel-body text-center bb">
                    <div class="text-bold">PREMIUM</div>
                    <h3 class="mv-lg"><sup>$</sup>
                  <span class="text-lg">95</span>
                  <span class="text-xs">/mo</span>
               </h3>
                </div>
                <div class="panel-body">
                    <p>
                        <em class="fa fa-check fa-fw text-green mr"></em>
                        <span>Unlimited Styles</span>
                    </p>
                    <p>
                        <em class="fa fa-check fa-fw text-green mr"></em>
                        <span>RTL &amp; Translation</span>
                    </p>
                    <p>
                        <em class="fa fa-check fa-fw text-green mr"></em>
                        <span>Customer support</span>
                    </p>
                    <p>
                        <em class="fa fa-check fa-fw text-green mr"></em>
                        <span>Free Updates</span>
                    </p>
                    <p>
                        <em class="fa fa-check fa-fw text-green mr"></em>
                        <span>Limited to one client</span>
                    </p>
                    <p>
                        <em class="fa fa-check fa-fw text-green mr"></em>
                        <span>Multiple installation</span>
                    </p>
                    <p>
                        <em class="fa fa-check fa-fw text-green mr"></em>
                        <span>Ready for resale*</span>
                    </p>
                </div>
                <div class="panel-body text-center"><a class="btn btn-default btn-lg">Select this plan</a>
                </div>
            </div>
        </div>
    </div>
    <p class="text-center text-muted">
        <small>* Subject to specific license terms. Price and features listed for demo only.</small>
    </p>
</div>
