<div class="modal-multi media-box" *ngIf="request">

  <div class="modal-sidebar pull-left">
    <div class="modal-select-tabs">
      <div class="modal-sidebar__close">
        <a aria-label="Close" (click)="bsModalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </a>
      </div>
      <div class="modal-sidebar__options">
        <a class="modal-tab-option" (click)="selectedTab = 1" [ngClass]="{'active': selectedTab == 1}">
          <div class="modal-tab-option__image modal-tab-option__image--metamask"></div>
          <div class="modal-tab-option__text">Metamask</div>
        </a>
        <a class="modal-tab-option modal-tab-option--trustwallet" (click)="selectedTab = 2"
           [ngClass]="{'active': selectedTab == 2}">
          <div class="modal-tab-option__image modal-tab-option__image--trustwallet"></div>
          <div class="modal-tab-option__text">Trustwallet</div>
        </a>
      </div>
    </div>
  </div>

  <div class="media-box-body">
    <div class="modal-header">
      <h4 class="modal-title text-center">Fund
        <a target="_blank" href="{{request.issueInformation.link}}">
          {{request.issueInformation.title}}
        </a>
      </h4>
    </div>

    <div class="modal-tabs">
      <div class="modal-tab" *ngIf="selectedTab == 1">
        <div class="modal-body modal-body--form">
          <div class="row">
            <div class="col-xs-12">
              <div class="form-horizontal form-horizontal--border">
                <div class="form-heading">
                  <span class="form-heading__number">1</span>
                  <span class="form-heading__text">Enable metamask</span>
                </div>
              </div>

              <div class="form-horizontal form-horizontal--border">
                <div class="form-heading">
                  <span class="form-heading__number">2</span>
                  <span class="form-heading__text">Enter funding amount</span>
                </div>
                <div class="form-group">
                  <label for="fund-amount" class="col-xs-4 control-label">FND</label>
                  <div class="col-xs-8 form-control-static form-control--fnd">
                    <input [(ngModel)]="fundAmount" id="fund-amount" type="number"
                           class="form-control" placeholder="ex: 15.00">
                  </div>
                </div>
                <div class="form-group" *ngIf="fundAmount <= 0 || fundAmount > balance">
                  <div class="col-xs-6 col-xs-push-6 col-md-push-4 col-md-8 form-control-static"
                       *ngIf="fundAmount <= 0">
                    <label class="text-danger">Funding amount needs to be bigger then 0.</label>
                  </div>
                  <div class="col-xs-6 col-xs-push-6 col-md-push-4 col-md-8 form-control-static"
                       *ngIf="fundAmount > balance">
                    <label class="text-danger">Balance to low to fund {{fundAmount}} FND.</label>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-xs-4 control-label"></label>
                  <div class="col-xs-8 form-control-static">
                    <button [disabled]="!canFund() || !hasEnoughFunds()" type="button" class="btn btn-primary"
                            (click)="fund()">
                      Fund
                    </button>
                  </div>
                </div>
              </div>

              <div class="form-horizontal form-horizontal--border">
                <div class="form-heading">
                  <span class="form-heading__number">3</span>
                  <span class="form-heading__text">Approve transaction</span>
                  <span class="form-heading__info">
                    <span class="form-heading__info-text">Do following actions in metamask</span>
                    <a class="form-heading__logo form-heading__logo--metamask" target="_blank"
                       href="https://metamask.io">
                    </a>
                  </span>
                </div>
                <div class="form-group">
                  <label for="fund-amount" class="col-xs-4 control-label control-label--image">Click</label>
                  <div class="col-xs-8 form-control-static">
                    <img height="30" src="/assets/img/metamask-submit.png" alt="click submit in metamask"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-tab" *ngIf="selectedTab == 2">
        <div class="modal-body modal-body--form">
          <div class="row">
            <div class="col-xs-12">
              <div class="form-horizontal form-horizontal--border">
                <div class="form-heading">
                  <span class="form-heading__number">1</span>
                  <span class="form-heading__text">Enter funding amount</span>
                </div>
                <div class="form-group">
                  <label for="fund-amount" class="col-xs-4 control-label">FND</label>
                  <div class="col-xs-8 form-control-static form-control--fnd">
                    <input [(ngModel)]="fundAmount" (ngModelChange)="updateQr()" type="number"
                           class="form-control" placeholder="ex: 15.00">
                  </div>
                </div>
                <div class="form-group" *ngIf="fundAmount <= 0">
                  <div class="col-xs-6 col-xs-push-6 col-md-push-4 col-md-8 form-control-static">
                    <label class="text-danger">Funding amount needs to be bigger then 0.</label>
                  </div>
                </div>
              </div>
              <div class="form-horizontal form-horizontal--border">
                <div class="form-heading">
                  <span class="form-heading__number">2</span>
                  <span class="form-heading__text">Send funds</span>
                  <span class="form-heading__info">
                    <span class="form-heading__info-text">Do following actions in trustwallet</span>
                    <a class="form-heading__logo form-heading__logo--trustwallet"
                       target="_blank" href="https://trustwalletapp.com">
                    </a>
                  </span>
                </div>
                <div class="form-group">
                  <label class="col-xs-4 control-label control-label--image">Click</label>
                  <div class="col-xs-8 form-control-static">
                    <img height="30" src="/assets/img/trustwallet-send.png" alt="send button"/>
                    <span class="form-group__in-between">and then</span>
                    <img height="30" src="/assets/img/trustwallet-qr.png" alt="qr button"/>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-xs-4 control-label">Scan QR</label>
                  <div class="col-xs-8 form-control-static form-control-static--qr">
                    <qr-code *ngIf="canFund()" class="img-responsive" [value]="qrValue" [size]="150"></qr-code>
                    <img *ngIf="fundAmount == undefined || fundAmount == 0" class="img-responsive"
                         src="/assets/img/qr-code.svg" alt="qr-code"/>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-xs-4 control-label control-label--image">Click</label>
                  <div class="col-xs-8 form-control-static">
                    <img height="30" src="/assets/img/trustwallet-next.png" alt="next button"/>
                    <span class="form-group__in-between">and then</span>
                    <img height="30" src="/assets/img/trustwallet-send-big.png" alt="send button"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
