<div class="content-heading">Articles</div>
<!-- Zero Configuration-->
<div class="panel panel-default">
    <div class="panel-heading">Blog articles manager</div>
    <div class="panel-body">
        <div class="table-responsive">
            <table datatable="" class="table table-striped">
                <thead>
                    <tr>
                        <th class="wd-md">Post title</th>
                        <th>Author</th>
                        <th>Categories</th>
                        <th>Tags</th>
                        <th>Created</th>
                        <th>Updated</th>
                        <th>Comments</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="">AngularJS</a>
                        </td>
                        <td><a href="">Keith Gutierrez</a>
                        </td>
                        <td><a class="mr" href="">HTML5</a><a href="">JAVASCRIPT</a>
                        </td>
                        <td> <a class="mr-sm label label-primary" href="">angularjs</a><a class="mr-sm label label-primary" href="">mvc</a>
                        </td>
                        <td>10/05/2015</td>
                        <td>10/05/2015</td>
                        <td>1251</td>
                        <td><a class="mr-sm label label-success" href="">Public</a>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="">MeteorJs and Angularjs</a>
                        </td>
                        <td><a href="">Carlos Wilson</a>
                        </td>
                        <td><a class="mr" href="">WEB</a><a href="">JAVASCRIPT</a>
                        </td>
                        <td> <a class="mr-sm label label-primary" href="">angularjs</a><a class="mr-sm label label-primary" href="">node</a><a class="mr-sm label label-primary" href="">meteor</a>
                        </td>
                        <td>10/05/2015</td>
                        <td>10/05/2015</td>
                        <td>1361</td>
                        <td><a class="mr-sm label label-warning" href="">Pending</a>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="">Working with ExpressJS </a>
                        </td>
                        <td><a href="">Carlos Wilson</a>
                        </td>
                        <td><a class="mr" href="">SERVER</a><a href="">JAVASCRIPT</a>
                        </td>
                        <td> <a class="mr-sm label label-primary" href="">expressJS</a><a class="mr-sm label label-primary" href="">node</a>
                        </td>
                        <td>10/05/2015</td>
                        <td>10/05/2015</td>
                        <td>125</td>
                        <td><a class="mr-sm label label-success" href="">Public</a>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="">Abstract object styles</a>
                        </td>
                        <td><a href="">Carlos Wilson</a>
                        </td>
                        <td><a href="">JAVASCRIPT</a>
                        </td>
                        <td> <a class="mr-sm label label-primary" href="">coding</a><a class="mr-sm label label-primary" href="">node</a>
                        </td>
                        <td>10/05/2015</td>
                        <td>10/05/2015</td>
                        <td>125</td>
                        <td><a class="mr-sm label label-success" href="">Public</a>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="">Animating progress bars</a>
                        </td>
                        <td><a href="">Clyde Bailey</a>
                        </td>
                        <td><a class="mr" href="">BOOTSTRAP</a><a href="">WEB</a>
                        </td>
                        <td> <a class="mr-sm label label-primary" href="">coding</a><a class="mr-sm label label-primary" href="">css</a>
                        </td>
                        <td>10/05/2015</td>
                        <td>10/05/2015</td>
                        <td>125</td>
                        <td><a class="mr-sm label label-danger" href="">Deleted</a>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="">Contextual alternatives</a>
                        </td>
                        <td><a href="">Tracy Black</a>
                        </td>
                        <td><a class="mr" href="">BOOTSTRAP</a><a href="">WEB</a>
                        </td>
                        <td> <a class="mr-sm label label-primary" href="">coding</a><a class="mr-sm label label-primary" href="">less</a><a class="mr-sm label label-primary" href="">sass</a>
                        </td>
                        <td>10/05/2015</td>
                        <td>10/05/2015</td>
                        <td>125</td>
                        <td><a class="mr-sm label label-warning" href="">Pending</a>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="">Responsive embed</a>
                        </td>
                        <td><a href="">Brittany Harrison</a>
                        </td>
                        <td><a class="mr" href="">FOUNDATION</a><a href="">WEB</a>
                        </td>
                        <td> <a class="mr-sm label label-primary" href="">coding</a><a class="mr-sm label label-primary" href="">techniques</a>
                        </td>
                        <td>10/05/2015</td>
                        <td>10/05/2015</td>
                        <td>125</td>
                        <td><a class="mr-sm label label-default" href="">Draft</a>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="">Digging into AngularJS</a>
                        </td>
                        <td><a href="">Keith Gutierrez</a>
                        </td>
                        <td><a class="mr" href="">HTML5</a><a href="">JAVASCRIPT</a>
                        </td>
                        <td> <a class="mr-sm label label-primary" href="">angularjs</a><a class="mr-sm label label-primary" href="">mvc</a>
                        </td>
                        <td>10/05/2015</td>
                        <td>10/05/2015</td>
                        <td>125</td>
                        <td><a class="mr-sm label label-success" href="">Public</a>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="">Application with MeteorJs and Angularjs</a>
                        </td>
                        <td><a href="">Nevaeh Hunter</a>
                        </td>
                        <td><a class="mr" href="">WEB</a><a href="">SERVER</a>
                        </td>
                        <td> <a class="mr-sm label label-primary" href="">angularjs</a><a class="mr-sm label label-primary" href="">node</a><a class="mr-sm label label-primary" href="">meteor</a>
                        </td>
                        <td>10/05/2015</td>
                        <td>10/05/2015</td>
                        <td>125</td>
                        <td><a class="mr-sm label label-warning" href="">Pending</a>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="">Introduction to ExpressJS </a>
                        </td>
                        <td><a href="">Carlos Wilson</a>
                        </td>
                        <td><a class="mr" href="">SERVER</a><a href="">JAVASCRIPT</a>
                        </td>
                        <td> <a class="mr-sm label label-primary" href="">expressJS</a><a class="mr-sm label label-primary" href="">node</a>
                        </td>
                        <td>10/05/2015</td>
                        <td>10/05/2015</td>
                        <td>125</td>
                        <td><a class="mr-sm label label-success" href="">Public</a>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="">Optional classes</a>
                        </td>
                        <td><a href="">Peter Lucas</a>
                        </td>
                        <td><a href="">WEB</a>
                        </td>
                        <td> <a class="mr-sm label label-primary" href="">coding</a><a class="mr-sm label label-primary" href="">node</a>
                        </td>
                        <td>10/05/2015</td>
                        <td>10/05/2015</td>
                        <td>125</td>
                        <td><a class="mr-sm label label-success" href="">Public</a>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="">Typical user actions</a>
                        </td>
                        <td><a href="">Clyde Bailey</a>
                        </td>
                        <td><a class="mr" href="">BOOTSTRAP</a><a href="">WEB</a>
                        </td>
                        <td> <a class="mr-sm label label-primary" href="">coding</a><a class="mr-sm label label-primary" href="">css</a>
                        </td>
                        <td>10/05/2015</td>
                        <td>10/05/2015</td>
                        <td>1471</td>
                        <td><a class="mr-sm label label-danger" href="">Deleted</a>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="">A lightweight, flexible component</a>
                        </td>
                        <td><a href="">Brittany Harrison</a>
                        </td>
                        <td><a class="mr" href="">BOOTSTRAP</a><a href="">WEB</a>
                        </td>
                        <td> <a class="mr-sm label label-primary" href="">coding</a><a class="mr-sm label label-primary" href="">less</a><a class="mr-sm label label-primary" href="">sass</a>
                        </td>
                        <td>10/05/2015</td>
                        <td>10/05/2015</td>
                        <td>1581</td>
                        <td><a class="mr-sm label label-warning" href="">Pending</a>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="">Highlight new or unread items </a>
                        </td>
                        <td><a href="">Abigail Phillips</a>
                        </td>
                        <td><a class="mr" href="">FOUNDATION</a><a href="">WEB</a>
                        </td>
                        <td> <a class="mr-sm label label-primary" href="">coding</a><a class="mr-sm label label-primary" href="">techniques</a>
                        </td>
                        <td>10/05/2015</td>
                        <td>10/05/2015</td>
                        <td>1691</td>
                        <td><a class="mr-sm label label-default" href="">Draft</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
