<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<head>
    <title>FundRequest - Requests</title>
</head>

<th:block layout:fragment="content">
    <section class="section section--header mb-5">
        <div class="row">
            <div class="col-12 col-md-4 d-none d-md-flex justify-content-center">
                <i class="fa fa-list fa-10x text-secondary"></i>
            </div>
            <div class="col-12 col-md-7">
                <h1 class="page-title">
                    <span class="d-inline-block d-md-none">
                        <i class="fa fa-list fa-1x text-secondary"></i>
                    </span>
                    Browse all requests
                </h1>
                <p class="page-description">
                    The best way to deep dive into all requests.
                    Filter on technology or on a specific project so you can find the perfect request that fits your needs.
                </p>

                <div class="d-flex justify-content-between">
                    <a class="btn btn-link text-secondary" th:href="@{'#faq'}">
                        How it works...
                    </a>
                    <a class="btn btn-secondary" th:href="@{/fund/github}">
                        Start new
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="mb-5">
        <request-list
                th:attr="'v-bind:requests'=${requests},
                'v-bind:projects'=${projects},
                'v-bind:technologies'=${technologies},
                'v-bind:filters'='[
                    { value: &quot;funded&quot;, count: '+${requestsFunded}+', title: &quot;Funded&quot;, description: &quot;Showing an overview of all funded requests.&quot; },
                    { value: &quot;claimed&quot;, count: '+${requestsClaimed}+', title: &quot;Claimed&quot;, description: &quot;Showing an overview of all claimed requests.&quot; },
                 ]' "
                :status-filter-default="'funded'"
        >
            <template slot-scope="{statusFilter}">
                <div class="card mb-5" v-if="statusFilter === 'funded'">
                    <div class="card-body">
                        <div class="row request-list__statistics">
                            <div class="col-12 col-md-4 request-list__statistic">
                                <div class="request-list__statistic-title">Total funding</div>
                                <div class="request-list__statistic-value">
                                    <span class="disclaimer-asterix">*</span>$<span th:text="${#numbers.formatDecimal(statistics.totalAvailableFunding,1,2,'POINT')}">2873</span>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 request-list__statistic">
                                <div class="request-list__statistic-title">Most funded project</div>
                                <div class="request-list__statistic-value">
                                    <span th:text="${statistics.mostFundedProject}">xyz</span>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 request-list__statistic">
                                <div class="request-list__statistic-title">Most funded technology</div>
                                <div class="request-list__statistic-value">
                                    <span th:text="${statistics.mostFundedTechnology}">Java</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
        </request-list>
    </section>

    <section class="mb-2" ref="faq" id="faq">
        <div class="row">
            <div class="col-12">
                <h2 class="section-title">Frequently Asked Questions</h2>
                <h3 class="section-subtitle">
                    Your funding existing requests FAQ's, answered.
                </h3>
            </div>
            <div class="col-12">
                <div class="card">
                    <div class="card-body faq">
                        <h4 class="faq__title">
                            This is a first question, will other follow, what do you think?
                        </h4>
                        <div class="faq__answer">
                            Hmm I'm not sure, one question is of course not a lot, so I
                            guess the chance is very high that others will follow. My
                            answer is Yes.
                        </div>
                    </div>
                    <div class="card-body">
                        <h4 class="faq__title">
                            This is a first question, will other follow, what do you think?
                        </h4>
                        <div class="faq__answer">
                            Hmm I'm not sure, one question is of course not a lot, so I
                            guess the chance is very high that others will follow. My
                            answer is Yes.
                        </div>
                    </div>
                    <div class="card-body">
                        <h4 class="faq__title">
                            This is a first question, will other follow, what do you think?
                        </h4>
                        <div class="faq__answer">
                            Hmm I'm not sure, one question is of course not a lot, so I
                            guess the chance is very high that others will follow. My
                            answer is Yes.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div th:replace="fragments/modals/fund :: default('fund-request')"></div>

</th:block>


<th:block layout:fragment="css">
</th:block>
<th:block layout:fragment="scripts">
</th:block>

</html>