<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml">

<div th:fragment="panel">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">Recent events</div>
        </div>

        <div data-scrollable="180px">
            <div data-stream="activities" class="list-group">
                <a href="#" class="list-group-item" v-cloak v-for="message in reverseMessages">
                    <div class="media-box">
                        <div class="pull-left">
                            <img v-bind:src="message.user.picture" v-bind:alt="message.user.picture"
                                 class="media-box-object img-circle thumb32">
                        </div>
                        <div class="media-box-body clearfix">
                            <small class="pull-right">
                                <timeago :since="message.dateTimeAsString" :auto-update="60"></timeago>
                            </small>

                            <strong class="media-box-heading text-primary">
                                <span class="circle circle-success circle-lg text-left"></span>
                                <span>{{message.user.name}}</span>
                            </strong>
                            <p class="mb-sm">
                                <small v-html="message.title">Message</small>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>