<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:data="http://www.w3.org/1999/xhtml">

<a th:fragment="watchLink (request)"
   href="#" class="watch-link"
   data-toggle="tooltip"
   data-html="true"
   data:request-id="${request.id}"
   data:request-watchers="${request.id}"
   data:fragment="${'/requests/'+request.id+'/watchlink'}"
   th:attr="title=${#strings.listJoin(request.watchers, '<br/>')}">
    <i class="fa fa-lg"
       th:classappend="${'fa-star'+(request.loggedInUserIsWatcher ? '':'-o')}"></i>
    <small>
        <strong th:text="${#lists.size(request.watchers)}">56</strong>
    </small>
</a>