<div class="row">
    <!-- Blog Content-->
    <div class="col-lg-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="bb">
                    <h2 class="text-lg">Maecenas rutrum fringilla vehicula.</h2>
                    <p class="clearfix">
                        <span class="pull-left">
                     <small class="mr-sm">By <a href="">Erica Castro</a>
                     </small>
                     <small class="mr-sm">May 03, 2015</small>
                     <small>
                        <strong>56</strong>
                        <span>Comments</span>
                        </small>
                        </span>
                    </p>
                </div>
            </div>
            <div class="panel-body text-md">
                <p>Praesent bibendum eros urna, in mattis est. Curabitur a purus urna, sit amet auctor erat. Praesent pellentesque augue eu tellus facilisis pretium. Aenean sollicitudin facilisis tortor eu mollis. Vivamus feugiat faucibus enim. Sed ut semper leo. Etiam feugiat risus massa. Nunc et magna in metus pharetra ultricies ac sit amet justo. Donec eu dolor sem, non auctor sapien. Suspendisse nisl nulla, interdum at fermentum eget, adipiscing in elit.</p>
                <p>Proin est sapien, convallis non hendrerit nec, laoreet ut ipsum. Praesent blandit venenatis mauris ac cursus. Nulla commodo interdum magna consectetur lacinia. Maecenas vitae adipiscing mauris. Nam sodales sollicitudin adipiscing.</p>
                <br/>
                <div class="row">
                    <div class="col-xs-3">
                        <a href="">
                            <img class="img-responsive" src="assets/img/bg4.jpg" />
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="">
                            <img class="img-responsive" src="assets/img/bg5.jpg" />
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="">
                            <img class="img-responsive" src="assets/img/bg7.jpg" />
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="">
                            <img class="img-responsive" src="assets/img/bg8.jpg" />
                        </a>
                    </div>
                </div>
                <br/>
                <p>Praesent tristique dui eu nunc fringilla et iaculis magna ornare. Proin sed erat sit amet metus rhoncus tincidunt. Vivamus commodo, tortor ut interdum posuere, urna risus aliquet purus, eu fringilla dui neque quis nisi. Proin posuere gravida ipsum, a pretium augue commodo eget. In id elit nulla. Donec nec magna a diam eleifend facilisis non in urna. Nam enim libero, lacinia a tristique a, accumsan sed purus. Phasellus ullamcorper rhoncus sagittis.</p>
                <p>Sed eu rhoncus magna. Morbi non dui elementum nisl ultrices tincidunt. Nullam sagittis hendrerit erat, sit amet gravida ante tristique non. Nam arcu quam, aliquet eget varius sed, placerat et elit. Morbi nec luctus eros. Cras rutrum scelerisque auctor. Praesent malesuada erat ut tellus egestas sagittis. Etiam feugiat risus massa. Aliquam eget turpis eget dui eleifend suscipit ac sed dolor. Sed accumsan adipiscing enim. Sed auctor dignissim fringilla. Sed id turpis tellus. Nam vel tristique dolor. Ut scelerisque ligula tellus. Duis accumsan, est vel convallis dignissim, est massa pharetra ipsum, eu auctor nunc mi ac libero. Integer fermentum molestie massa at congue. Vestibulum congue tempus odio ac posuere. Integer lorem metus, rutrum non rhoncus sed, fringilla interdum urna.</p>
                <hr/>
                <div class="btn-group" role="group" aria-label="...">
                    <button class="btn btn-default" type="button">
                        <em class="fa fa-facebook text-muted"></em>
                    </button>
                    <button class="btn btn-default" type="button">
                        <em class="fa fa-twitter text-muted"></em>
                    </button>
                    <button class="btn btn-default" type="button">
                        <em class="fa fa-google-plus text-muted"></em>
                    </button>
                    <button class="btn btn-default" type="button">
                        <em class="fa fa-tumblr text-muted"></em>
                    </button>
                    <button class="btn btn-default" type="button">
                        <em class="fa fa-pinterest text-muted"></em>
                    </button>
                    <button class="btn btn-default" type="button">
                        <em class="fa fa-share-alt text-muted"></em>
                    </button>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-heading">3 Comments</div>
            <div class="panel-body">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-circle thumb64" src="assets/img/user/01.jpg" />
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading" id="media-heading"><a href="">Susan Grant</a>
                     <small>10 min</small>
                     <a class="anchorjs-link" href="#media-heading">
                        <span class="anchorjs-icon"></span>
                     </a>
                  </h4>
                        <p>Donec ac massa tortor. In hac habitasse platea dictumst. Nam blandit fringilla faucibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae nisi eget metus semper congue.</p>
                        <p>Fusce ullamcorper placerat tortor, placerat consequat diam cursus posuere.</p>
                    </div>
                </div>
                <hr/>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-circle thumb64" src="assets/img/user/03.jpg" />
                        </a>
                    </div>
                    <div class="media-body mb-lg">
                        <h4 class="media-heading" id="media-heading"><a href="">Dustin Dunn</a>
                     <small>20 min</small>
                     <a class="anchorjs-link" href="#media-heading">
                        <span class="anchorjs-icon"></span>
                     </a>
                  </h4>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        <hr/>
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object img-circle thumb64" src="assets/img/user/06.jpg" />
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading" id="nested-media-heading"><a href="">Marcus Gomez</a>
                           <small>1 hour</small>
                           <a class="anchorjs-link" href="#nested-media-heading">
                              <span class="anchorjs-icon"></span>
                           </a>
                        </h4>Integer ac nisl et urna gravida malesuada. Vivamus fermentum libero vel felis aliquet interdum.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-heading">
                <em class="fa fa-pencil mr"></em>Add your Comment</div>
            <div class="panel-body">
                <form class="form-horizontal" action="/">
                    <div class="form-group">
                        <div class="col-xs-6">
                            <input class="form-control" id="post-firstname" type="text" name="post-firstname" placeholder="Your firstname" />
                        </div>
                        <div class="col-xs-6">
                            <input class="form-control" id="post-lastname" type="text" name="post-lastname" placeholder="Your lastname" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <textarea class="form-control" id="post-comment" name="post-comment" rows="4" placeholder="Comment here.."></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <button class="btn btn-effect-ripple btn-primary" type="submit">Send Comment</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Blog Sidebar-->
    <div class="col-lg-3">
        <!-- Search-->
        <div class="panel panel-default">
            <div class="panel-heading">Search</div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Search for..." />
                        <span class="input-group-btn">
                     <button class="btn btn-default" type="button">
                        <em class="fa fa-search"></em>
                     </button>
                  </span>
                    </div>
                </form>
            </div>
        </div>
        <!-- Categories-->
        <div class="panel panel-default">
            <div class="panel-heading">Categories</div>
            <div class="panel-body">
                <ul class="list-unstyled">
                    <li>
                        <a href="">
                            <em class="fa fa-angle-right fa-fw"></em>Smartphones</a>
                    </li>
                    <li>
                        <a href="">
                            <em class="fa fa-angle-right fa-fw"></em>Mobiles</a>
                    </li>
                    <li>
                        <a href="">
                            <em class="fa fa-angle-right fa-fw"></em>Tech</a>
                    </li>
                    <li>
                        <a href="">
                            <em class="fa fa-angle-right fa-fw"></em>Inpiration</a>
                    </li>
                    <li>
                        <a href="">
                            <em class="fa fa-angle-right fa-fw"></em>Workspace</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Tag Cloud-->
        <div class="panel panel-default">
            <div class="panel-heading">Tag Cloud</div>
            <div class="panel-body">
                <div jqcloud class="center-block" [words]="words" [width]="240" [height]="200" [steps]="7"></div>
            </div>
        </div>
        <!-- Ads-->
        <div class="panel panel-default">
            <div class="panel-heading">Ads</div>
            <div class="panel-body">
                <a href="">
                    <img class="img-responsive img-thumbnail" src="assets/img/mockup.png" />
                </a>
            </div>
        </div>
    </div>
</div>
