table.dt-responsive {
    &.dataTable {
        border-collapse: collapse !important;
    }

    th,
    td {
        vertical-align: middle;
        padding-top: .25rem;
        padding-bottom: .25rem;
        > .btn {
            font-size: 0.75rem;
            margin-bottom: 0;
        }
    }

    thead .sorting,
    thead .sorting_asc,
    thead .sorting_desc,
    thead .sorting_asc_disabled,
    thead .sorting_desc_disabled {
        &:before, &:after {
            display: flex;
            height: 100%;
            top: 0;
            bottom: 0;
            align-items: center;
        }
    }
}
