.fnd-badge {
    width: 5rem;
    height: 5rem;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    filter: drop-shadow(0 8px 16px rgba(0,0,0,0.36));

    &--inactive {
        filter: grayscale(100%);
    }

    &--dummy {
        background-image: url('../img/dummy-badge.png');
    }
}

.card-body--fnd-badge-holder {
    .fnd-badge {
        position: absolute;
    }
}

.card-text--badges {
    text-align: left;

    .fnd-badge {
        position: relative;
        display: inline-block;
        z-index: 0;
        margin-right: -2.5rem;

        &:hover {
            z-index: 1;
            filter: drop-shadow(0 8px 16px rgba(0,0,0,0.36));
        }
    }
}