.fnd-badge {
    width: 5rem;
    height: 5rem;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    filter: drop-shadow(0 8px 16px rgba(0,0,0,0.36));

    &--inactive {
        filter: grayscale(100%);
    }

    &--dummy {
        background-image: url('../img/dummy-badge.png');
    }
}

.card-body--fnd-badge-holder {
    .fnd-badge {
        position: absolute;
    }
}

.card-text--badges {
    text-align: left;

    .fnd-badge {
        position: relative;
        display: inline-block;
        z-index: 0;
        margin-right: -2.5rem;

        &:hover {
            z-index: 1;
            filter: drop-shadow(0 8px 16px rgba(0,0,0,0.36));
        }
    }
}

.badge {
    box-shadow: none;
    border-radius: 10000px;
    padding: .1rem 1rem;
    vertical-align: middle;

    &--funded {
        background-color: $yellow-400;
    }

    &--pending {
        background-color: map_get($purple, 'lighten-2');
    }

    &--filter {
        vertical-align: middle;
        background-color: $gray-300;
        padding: .1rem .5rem;
        margin-top: -2px;
        display: inline-block;
    }
}