.btn {
    font-weight: $font-weight-semi-bold;

    &--profile {
        .top-nav-item & {
            margin: 10px 0 10px 10px;
        }
    }

    &--round-icon {
        width: 3rem;
        height: 3rem;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    &--flat {
        box-shadow: none;
    }

    + .btn-link {
        margin-left: 1rem;
    }
}

.btn-link {
    border-radius: 0;
    border-bottom: 2px solid transparent;
    transition: border-color .35s ease-in-out;
    padding: .625rem 0 .125rem 0;
    margin-bottom: .675rem;
    line-height: 1rem;

    &:hover {
        text-decoration: none;
    }

    &.text-secondary {
        &:hover {
            border-bottom-color: $secondary;
        }
    }

    &.text-white {
        &:hover {
            border-bottom-color: $white;
        }
    }
}

.btn-link.btn-lg {
    padding: 0.875rem 0 .275rem 0;
    margin-bottom: .875rem;
}

@import "../social-buttons/imports";
