.btn {
    &--profile {
        .top-nav-item & {
            margin: 10px 0 10px 10px;
        }
    }

    &--round-icon {
        width: 3rem;
        height: 3rem;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    &--flat {
        box-shadow: none;
    }
}

.btn-link {
    padding: .15rem 0;
    margin: 0 1rem .375rem 1rem;
    border-radius: 0;
    border-bottom: 2px solid transparent;
    transition: border-color .35s ease-in-out;

    &:hover {
        text-decoration: none;
    }

    &.text-secondary {
        &:hover {
            border-bottom-color: $secondary;
        }
    }

    &.text-white {
        &:hover {
            border-bottom-color: $white;
        }
    }
}

@import "../social-buttons/imports";
