h1, h2, h3 {
    font-family: $font-family-sans-serif;
}

input {
    font-family: $font-family-sans-serif;
}

a.etherscan {
    font-size: 12px
}

a.info {
    color: black
}

a.etherwallet-instructions {
    font-size: 12px
}

.row--social-link > div {
    margin-bottom: 60px;
}

.cols-with-mb-30 > [class^="col-"] {
    margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
    a.top-nav-link {
        color: $white;
        display: block;
        text-align: center;
        line-height: 40px;
        padding: 10px 5px;
    }
}

@each $level, $value in $mastery-levels {
    @include text-emphasis-variant(".text--#{$level}", $value);
}

.text-white-transparent {
    color: rgba($white, 0.7);
}

.watch-link {
    white-space: nowrap;

    .fa.fa-star {
        color: $secondary;
    }

    &:hover {
        text-decoration: none;
    }
}

table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child,
table.dataTable.dtr-inline.collapsed > tbody {
    tr[role="row"] {
        > th:first-child,
        > td:first-child {

            padding-left: 48px !important;

            &:before {
                left: 10px !important;
                top: 50% !important;
                padding: .35rem !important;
                transform: translateY(-50%);

                transition: all .2s linear;
                border-radius: .25rem !important;
                background-color: $green-500 !important;
                border: 0 none !important;
                box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12) !important;
            }
        }
    }

    tr.parent {
        > th:first-child,
        > td:first-child {
            &:before {
                background-color: $orange-500 !important;
            }
        }
    }
}