.fnd-error-page {
    padding: 10rem;
}

.fnd-error-stack {
    pre {
        margin-top: 100px;
        max-height: 500px;
    }
}

.fnd-error-actions {
    margin-top: 15px;
    margin-bottom: 15px;
}

.fnd-error-actions .btn {
    margin-right: 10px;
}

.fnd-error-image {
    background-image: url('../img/error.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    width: 100%;
    height: auto;
    min-height: 10rem;

    @include media-breakpoint-up(md) {
        background-position: left center;
    }
}