.fnd-error-template {
    padding: 40px 15px;
}

.fnd-error-stack {
    pre {
        margin-top: 100px;
        max-height: 500px;
    }
}

.fnd-error-actions {
    margin-top: 15px;
    margin-bottom: 15px;
}

.fnd-error-actions .btn {
    margin-right: 10px;
}
