.faq__title {
    font-size: $font-size-sm;
    font-weight: $font-weight-bold !important; //important for overriding mdb
    color: $gray-500;
    margin-bottom: 0;
}

.faq__answer {
    font-weight: $font-weight-normal;
}