.fnd-mastery-list {
    padding: 0;
    list-style: none;

    li {
        position: relative;
        padding-left: 1.5rem;
        i {
            position: absolute;
            left: 0;
            line-height: 1.5;
        }
    }
}

.bullet-steps {
    padding-left: 0;
    position: relative;
    list-style: none;

    &::after {
        z-index: 0;
        content: '';
        display: block;
        position: absolute;
        width: 2px;
        background-color: $gray-300;
        left: .5rem;
        margin-left: -1px;
        top: 0;
        bottom: 0;
    }
}

.bullet-steps__item {
    line-height: 1rem;
    position: relative;
    padding-left: 2rem;
    margin-bottom: 1.5rem;

    &:first-child,
    &:last-child {
        &::after {
            z-index: 1;
            content: '';
            display: block;
            position: absolute;
            width: 1px;
            background-color: $white;
            left: .5rem;
            height: 50%;
        }
    }

    &:first-child {
        &::after {
            top: 0;
        }
    }

    &:last-child {
        margin-bottom: 0;
        &::after {
            bottom: 0;
        }
    }

    &::before {
        z-index: 2;
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        background-color: $gray-300;
        border-radius: 1rem;
        width: 1rem;
        height: 1rem;
        border: 2px solid $white;
    }

    &.-yellow::before {
        background-color: $yellow-300;
    }

    &.-green::before {
        background-color: $green-300;
    }

    &.-blue::before {
        background-color: $blue-300;
    }
}

.issue-list {
    &__options {
        .fa, label {
            color: $gray-500;
        }

        select.form-control {
            background-color: $gray-300;
            border-color: $gray-300;
            color: $gray-600;
            box-shadow: none;
            &:active, &:focus {
                background-color: $gray-300;
                border-width: 1px;
            }
        }
    }
}

.issue-list__block {
    box-shadow: $z-depth-1;
    background-color: $white;
    margin-bottom: 1rem;
}

.issue-list__item {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    color: $gray-600;
    cursor: pointer;

    &:nth-child(even) {
        background-color: $gray-100;
    }

    &:last-child {
        border-radius: 0 0 $border-radius $border-radius;
    }

    &:hover {
        background-color: $gray-200;
    }

    > * {
        display: flex;
        flex-grow: 0;
        flex-shrink: 0;
        padding: 0 1rem;
    }

    &__logo {
        width: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-weight: $font-weight-bold;
        color: $gray-500;
        text-align: center;
        padding: 0;
        margin: 0 1rem;



        img {
            margin-bottom: .5rem;
        }
    }

    &__owner {
        white-space: nowrap;
    }

    &__tech {
        padding-right: .75rem;
        margin-right: .25rem;
        position: relative;
        &::after {
            content: "/";
            display: inline;
            position: absolute;
            right: 0;
        }

        &:last-child::after {
            padding-right: 0;
            margin-right: 0;
            display: none;
        }
    }

    &__info {
        flex-grow: 1;
        flex-shrink: 1;
        flex-direction: column;
        border-left: 1px solid $gray-200;
        max-width: calc(100% - 24rem);
    }

    &__header {
        font-weight: bold;
        font-size: 1.2rem;
        display: flex;
    }

    &__title {
        color: $blue-500;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    &__number {
        flex-shrink: 0;
        margin-left: .5rem;
        text-transform: capitalize;
        color: $gray-500;
    }

    &__price {
        color: $green-500;
        font-size: 1.5rem;
        width: 7rem;
        justify-content: flex-end;
    }

    &__fund {
        display: flex;
        justify-content: flex-end;
        color: $gray-700;


        &-amount {
            display: block;
            margin-right: .25rem;
        }

        &-currency {
            display: block;
        }
    }

    &__crypto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 6rem;
        padding: 0 .25rem;
    }

    &__actions {
        flex-grow: 0;
        padding: .5rem 2rem .5rem 1.5rem;
        width: 4rem;
        justify-content: center;

        .fa-2x {
            text-align: center;
            width: .5rem;
            transition: font-size .3s ease-in-out;
        }

        &:hover {
            .fa-2x {
                font-size: 3rem;
            }
        }
    }
}