.help-text {
  p {
    margin-bottom: 2em;
  }

  .fa-ul {
    margin-left: 1.6em;
  }

  &__header {
    color: $orange-500;
    font-weight: bold;
    margin-bottom: 2em;
  }

  &__list {
    color: $orange-500;

    li {
      color: $orange-500;
      a {
        text-decoration: underline;
      }
    }
  }
}

.help-image {
  width: 87%;
}

.line-seperator {
  width: 58%;
}