.nav-link {
    //text-transform: uppercase;
}

.navbar .dropdown-menu {
    &--main {
        border: 0 none;
        padding: 10px;
        background-color: $blue-a200;
        .dropdown-divider {
            border-color: #bad5e2;
        }

        &::before {
            content: '';
            display: block;
            position: absolute;
            width: 0;
            height: 0;
            top: -5px;
            right: 13px;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 5px solid $blue-100;
        }

        .dropdown-item {
            color: #394348 !important; //override mdb
            font-size: $font-size-sm !important; //override mdb
            font-weight: $font-weight-bold !important; //override mdb
            padding-left: .5rem;
            padding-right: .5rem;
            border-radius: $border-radius-sm;
            transition: background-color .35s ease-in-out;
            &:hover {
                background-color: rgba(255, 255, 255, 0.3);
            }
        }
    }
}