.fnd-profile-picture {
    width: 100px;
    height: 100px;

    background-color: $blue-200;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    margin: -60px auto 0 auto;
    border-radius: $border-radius-lg;
    border: 2px solid $white;
    overflow: hidden;
    @include box-shadow($z-depth-3);

    @include media-breakpoint-up(sm) {
        width: 125px;
        height: 125px;
    }

    @include media-breakpoint-up(md) {
        width: 100%;
        height: auto;
        margin: 0;
        border-radius: $card-border-radius 0 0 $card-border-radius;
        border: none;
        flex: 0 0 25%;
        @include box-shadow(none);
    }

    @include media-breakpoint-up(lg) {
        flex-basis: 20%;
    }
}

.card--fnd-profile {
    .card-title {
        text-align: center;

        @include media-breakpoint-up(md) {
            text-align: left;
        }
    }
}

.btn.btn--profile {
    margin-bottom: 0;
    i {
        font-size: 1rem;
    }
}

.profile-progress {
    background-image: url("../img/bg-blue.png");
    background-repeat: repeat;
    background-size: contain, 100%;
    background-position: right bottom;

    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $white;
    // transition: box-shadow .3s ease;

    &:hover,
    &:focus,
    &:active {
        color: $white;
        text-decoration: none;
        //box-shadow: $box-shadow-normal;

        i {
            transform: translateX(10px);
        }
    }

    i {
        transition: transform .6s ease;
    }

    &__bar {
        flex-basis: 100%;
        padding: 0 1rem;

        .progress {
            height: 0.3rem;
            background-color: rgba($white, 0.2);
        }

        .progress-bar {
            border-radius: 1000px;
            background-color: white;
        }
    }
}