h1, h2, h3 {
    font-family: $font-family-sans-serif;
}

input {
    font-family: $font-family-sans-serif;
}


.h1, .h2,
h1, h2 {
    font-weight: $font-weight-bold;
}

.h3, .h4, .h5, .h6,
h3, h4, h5, h6 {
    font-weight: $font-weight-normal;
}

.h1, h1 {
    color: $secondary;
    margin-bottom: 2rem;
    font-size: $h1-font-size * .75;

    @include media-breakpoint-up(md) {
        font-size: $h1-font-size;
    }
}

.h2, h2 {
    color: $primary;
}

.h3, h3 {
    color: $gray-500;
    margin-bottom: 1rem;
}