version: '2'

services:
  fr_mariadb:
    image: mariadb:10.3
    ports:
      - "3309:3306"
    volumes:
      - ./docker_data/mariadb/data:/var/lib/mysql
    container_name: fr_mariadb
    environment:
      - MYSQL_ROOT_PASSWORD=fr
      - MYSQL_DATABASE=fr
      - MYSQL_USER=fr
      - MYSQL_PASSWORD=fr
  fr-rabbitmq:
    image: rabbitmq:3.6.8-management
    ports :
      -  "5672:5672"
      -  "9191:15672"
    volumes:
      - ./docker_data/konijn/data:/var/lib/rabbitmq
    environment:
      - RABBITMQ_DEFAULT_PASS=default_pass
    networks:
      - frnet
  azrael:
    depends_on:
      - "fr-rabbitmq"
    links:
      - fr-rabbitmq:fr-rabbitmq
    image: fundrequestio/azrael:develop
    ports :
      -  "8001:8001"
    networks:
      - frnet
    volumes:
      - ./docker_data/konijn/data:/var/lib/rabbitmq
    environment:
      - RABBITMQ_DEFAULT_PASS=default_pass
      - spring.rabbitmq.host=fr-rabbitmq
      - spring.rabbitmq.port=5672
      - io.fundrequest.sign.account=${AZRAEL_SIGN_ACCOUNT}
      - io.fundrequest.execute.account=${AZRAEL_SIGN_ACCOUNT}

networks:
  frnet: