<div class="content-heading">
  FundRequest
  <small>{{ 'home.WELCOME' | translate }} !</small>
</div>
<section>
  <div id="dashboard">
    <div class="row">
      <div class="col-sm-6 col-lg-4">
        <div class="panel widget bg-primary">
          <div class="row row-table">
            <div class="col-xs-4 text-center pv-lg bg-primary-dark"><em class="fa-3x fa fa-file-code-o"></em></div>
            <div class="col-xs-8 pv-lg">
              <div class="h2 mt0">0</div>
              <div class="text-uppercase"># Requests</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="panel widget bg-primary">
          <div class="row row-table">
            <div class="col-xs-4 text-center pv-lg bg-primary-dark"><em class="fa-3x fa fa-magic"></em></div>
            <div class="col-xs-8 pv-lg">
              <div class="h2 mt0">0</div>
              <div class="text-uppercase"># Requests funded</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="panel widget bg-primary">
          <div class="row row-table">
            <div class="col-xs-4 text-center pv-lg bg-primary-dark">
              <div data-easypiechart="" data-percent="0" data-animate="{duration: 800, enabled: true}"
                   data-bar-color="#fff" data-track-color="rgba(93,156,236,0.4)" data-scale-color="false"
                   data-line-width="5" data-line-cap="round" data-size="55" class="easypie-chart"><span>0</span></div>
            </div>
            <div class="col-xs-8 pv-lg">
              <div class="h2 mt0">%</div>
              <div class="text-uppercase">Funded requests</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="panel widget bg-primary">
          <div class="row row-table">
            <div class="col-xs-4 text-center pv-lg bg-primary-dark"><em class="fa-3x icon-people"></em></div>
            <div class="col-xs-8 pv-lg">
              <div class="h2 mt0">0</div>
              <div class="text-uppercase"># Funders</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="panel widget bg-primary">
          <div class="row row-table">
            <div class="col-xs-4 text-center pv-lg bg-primary-dark"><em class="fa-3x icon-chart"></em></div>
            <div class="col-xs-8 pv-lg">
              <div class="h2 mt0">0.00 FND</div>
              <div class="text-uppercase">Average funding</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="panel widget bg-primary">
          <div class="row row-table">
            <div class="col-xs-4 text-center pv-lg bg-primary-dark"><em class="fa-3x icon-fire"></em></div>
            <div class="col-xs-8 pv-lg">
              <div class="h2 mt0">0.00 FND</div>
              <div class="text-uppercase">Total funded</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-sm-push-2 col-sm-8">
        <div class="panel panel-default text-center">
          <div class="panel-body">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
