<div class="content-heading">
  FundRequest
  <small>{{ 'home.WELCOME' | translate }} !</small>
</div>
<section>
  <div id="dashboard">
    <div class="row">
      <div class="col-sm-6 col-lg-4">
        <div class="panel widget bg-primary">
          <div class="row row-table">
            <div class="col-xs-4 text-center pv-lg bg-primary-dark"><em class="fa-3x fa fa-file-code-o"></em></div>
            <div class="col-xs-8 pv-lg">
              <div class="h2 mt0">{{statistics.numberOfRequests.val}}</div>
              <div class="text-uppercase"># Requests</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="panel widget bg-primary">
          <div class="row row-table">
            <div class="col-xs-4 text-center pv-lg bg-primary-dark"><em class="fa-3x fa fa-magic"></em></div>
            <div class="col-xs-8 pv-lg">
              <div class="h2 mt0">{{statistics.requestsFunded.val}}</div>
              <div class="text-uppercase"># Requests funded</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="panel widget bg-primary">
          <div class="row row-table">
            <div class="col-xs-4 text-center pv-lg bg-primary-dark">
              <div class="easypie-chart" easypiechart [options]="pieOptions" [percent]="statistics.percentageFunded.val">
                <span>{{statistics.percentageFunded.val || 0}}%</span>
              </div>
            </div>
            <div class="col-xs-8 pv-lg">
              <div class="h2 mt0">%</div>
              <div class="text-uppercase">Funded requests</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="panel widget bg-primary">
          <div class="row row-table">
            <div class="col-xs-4 text-center pv-lg bg-primary-dark"><em class="fa-3x icon-people"></em></div>
            <div class="col-xs-8 pv-lg">
              <div class="h2 mt0">{{statistics.numberOfFunders.val}}</div>
              <div class="text-uppercase"># Funders</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="panel widget bg-primary">
          <div class="row row-table">
            <div class="col-xs-4 text-center pv-lg bg-primary-dark"><em class="fa-3x icon-chart"></em></div>
            <div class="col-xs-8 pv-lg">
              <div class="h2 mt0">{{statistics.averageFundingPerRequest.val | number:'1.2'}} FND</div>
              <div class="text-uppercase">Average funding</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="panel widget bg-primary">
          <div class="row row-table">
            <div class="col-xs-4 text-center pv-lg bg-primary-dark"><em class="fa-3x icon-fire"></em></div>
            <div class="col-xs-8 pv-lg">
              <div class="h2 mt0">{{statistics.totalAmountFunded.val | number:'1.2'}} FND</div>
              <div class="text-uppercase">Total funded</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-sm-push-2 col-sm-8">
        <div class="panel panel-default text-center">
          <div class="panel-body">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
