.request-details {
    color: $gray-600;

    > * {
        display: flex;
        flex-grow: 0;
        flex-shrink: 0;
        flex-wrap: wrap;
    }

    &__logo {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-weight: $font-weight-bold;
        color: $gray-500;
        text-align: center;
        padding: 0;
        margin: 0 1rem 0 0;

        img {
            max-width: 100%;
            margin-bottom: .5rem;
        }

        @include media-breakpoint-up(md) {
            position: relative;
            width: 5rem;
            padding: .5rem 0;

            &::after {
                position: absolute;
                content: '';
                right: -1rem;
                bottom: 0;
                top: 0;
                width: 1px;
                background-color: $gray-200;
            }
        }
    }

    &__markdown {
        display: block;
        margin-top: 1rem;
        flex-shrink: 1;

        img {
            max-width: 100%;
        }

        @include media-breakpoint-up(md) {
            margin: 0 0 0 1rem;
        }
    }

    &__owner {
        max-width: 100%;
    }

    &__last-modified-at {
        line-height: 1;
        max-width: 100%;
    }

    &__content {
        width: 100%;
        flex-grow: 1;
        flex-shrink: 1;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        text-align: center;

        > * {
            display: flex;
            width: 100%;
        }

        @include media-breakpoint-up(md) {
            text-align: left;

            > * {
                display: flex;
                width: auto;
            }
        }
    }

    &__info {
        flex-grow: 1;
        flex-shrink: 1;
        flex-direction: column;
        text-align: center;
        width: 100%;

        @include media-breakpoint-up(md) {
            text-align: left;
        }
    }

    &__tech {
        padding-right: .75rem;
        margin-right: .25rem;
        position: relative;
        color: $gray-500;
        line-height: $font-size-lg;
        font-size: $font-size-sm;
        font-weight: $font-weight-bold;

        &::after {
            content: "/";
            display: inline;
            position: absolute;
            right: 0;
        }

        &:last-child {
            padding-right: 0;
            margin-right: 0;

            &::after {
                display: none;
            }
        }
    }

    &__header {
        font-weight: $font-weight-bold;
        font-size: $font-size-lg;
        display: flex;
        max-width: 100%;
        justify-content: center;

        @include media-breakpoint-up(md) {
            justify-content: flex-start;
        }
    }

    &__status {
        display: flex;
        align-items: center;
        margin-bottom: .25rem;
        justify-content: center;

        @include media-breakpoint-up(md) {
            justify-content: flex-start;
        }
    }

    &__title {
        color: $blue-500;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    &__badge {
        text-transform: capitalize;
        + .request-details__tech {
            margin-left: 1rem;
        }
    }

    &__number {
        flex-shrink: 0;
        margin-left: .5rem;
        text-transform: capitalize;
        color: $gray-500;
    }

    &__icons {
        color: $gray-500;
        a {
            color: $gray-500;
            &:hover {
                color: $gray-600;
            }
        }
        i {
            font-size: 1.25rem;
            + i {
                margin-left: .5rem;
            }
        }
    }

    &__price {
        color: $green-500;
        font-size: 2.5rem;
        justify-content: flex-end;
        font-weight: bold;
        align-items: center;

        .request-details__fund-amount {
            flex-grow: 0;
        }

        @include media-breakpoint-up(md) {
            font-size: 3rem;
        }

        @include media-breakpoint-up(lg) {
            font-size: 3.75rem;
        }
    }

    &__funding-details {
        display: flex;
        justify-content: center;
        text-align: center;

        > * {
            display: flex;
        }

        @include media-breakpoint-up(md) {
            justify-content: flex-end;
            text-align: right;
        }
    }

    &__label {
        display: flex;
        flex-grow: 1;
        align-items: center;
        max-width: calc(100% - 7rem);

        &-text {
            max-width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &-badge {
            padding: .15rem .5rem;
            margin-left: .5rem;
        }

        &-refund-form {
            text-align: right;
            margin-left: auto;
            width: 7rem;
        }
    }

    &__fund {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $gray-500;
        font-weight: $font-weight-bold;
        font-size: 1.5rem;

        &-logo {
            height: 1rem;
            width: 1rem;
            object-fit: contain;
            margin-right: .5rem;
            justify-self: start;
        }

        &-amount {
            display: block;
            margin-right: .25rem;
            text-align: right;
            flex-grow: 1;
        }

        &-currency {
            display: block;
        }

        @include media-breakpoint-up(md) {
            justify-content: space-between;
        }
    }

    &__crypto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 1rem;
        margin-left: 1rem;

        @include media-breakpoint-up(md) {
            border-left: 1px solid $gray-a100;
        }
    }

    &__actions {
        justify-content: center;
        align-items: center;
        flex-grow: 1;

        @include media-breakpoint-up(md) {
            justify-content: flex-end;
        }
    }

    &__disclaimer {
        width: 100%;
        font-size: .75rem;
        color: $gray-500;
    }

    &__star-link {
        cursor: pointer;
        font-size: .75em;
        vertical-align: top;
		margin-top: auto;
		margin-bottom: auto;

        .fa {
            display: none;
        }
        .far {
            display: inline;
        }

        color: $gray-600;

        &:hover,
        &:active,
        &:focus {
            color: $gray-700;
        }

        &.-starred {
            .fa {
                display: inline;
            }
            .far {
                display: none;
            }
            color: $yellow-500;

            &:hover,
            &:active,
            &:focus {
                color: $yellow-600;
            }
        }
    }

    & .card {
        + .card {
            margin-top: 1rem;
        }
    }
}

.request-details--list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    cursor: pointer;
    flex-wrap: wrap;

    @include media-breakpoint-up(md) {
        align-items: flex-start;
        justify-content: flex-start;
    }

    @include media-breakpoint-up(lg) {
        flex-wrap: nowrap;
    }

    &:nth-child(even) {
        background-color: $gray-100;
    }

    &:last-child {
        border-radius: 0 0 $border-radius $border-radius;
    }

    &:hover {
        background-color: $gray-200;
    }

    .request-details {
        &__logo {
            margin: 0 1rem;
        }

        &__info {
            padding: 0 1rem;
            min-width: 20rem;

            @include media-breakpoint-up(md) {
                min-width: 30rem;
                max-width: calc(100% - 18rem); // - actions width
            }
        }

        &__content {
            @include media-breakpoint-up(md) {
                width: calc(100% - 7rem);
            }
        }

        &__price {
            padding: 0 1rem;
            font-size: 1.5rem;
            font-weight: $font-weight-normal;

            @include media-breakpoint-up(lg) {
                width: 9rem;
            }
        }

        &__fund {
            color: $gray-600;
            font-size: $font-size-lg;
            font-weight: $font-weight-normal;
        }

        &__crypto {
            margin-left: 0;
            border-left: 0 none;
            padding: 0 1rem;

            @include media-breakpoint-up(lg) {
                width: 9rem;
            }
        }

        /*
        &__actions {
            flex-grow: 0;
            justify-content: center;
            padding: .5rem 2rem .5rem 1.5rem;
            width: 4rem;

            i {
                text-align: center;
                width: .5rem;
                transition: font-size .35s ease-in-out;
            }

            &:hover {
                i {
                    font-size: 3rem;
                }
            }
        }*/
    }
}

.request-details--pending {
    cursor: default;
    &:hover {
        background-color: $white;
        &:nth-child(even) {
            background-color: $gray-100;
        }
    }
}

.request-funding {
    padding: 0 1rem;
    font-weight: $font-weight-normal;

    &__transfers {
        padding-bottom: .5rem;
        margin-bottom: 1rem;
        border-bottom: 1px solid $border-color;
    }

    &__subtotal,
    &__transfer {
        display: flex;
        margin-bottom: .5rem;
        justify-content: space-between;

        .request-details__fund {
            font-weight: $font-weight-normal;
            color: $body-color;
            padding-left: 2rem;
            display: flex;
            width: 9rem;
        }
    }

    &__transfer {
        .request-details__fund {
            font-size: 1rem;
        }
    }

    &__subtotal {
        .request-details__fund {
            font-size: 1.2rem;
            padding-bottom: 1rem;
            border-bottom: 1px solid $border-color;
        }
    }

    &__total {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .request-details__price {
            display: flex;
            font-size: 1.5rem;
            font-weight: $font-weight-normal;
        }
    }
}
