<div class="content-heading">Forum - Categories</div>
<!-- First category table-->
<div class="panel panel-default">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="h4" style="width: 50%">Starting</th>
                <th class="h4 text-center hidden-xs hidden-sm">Topics</th>
                <th class="h4 text-center hidden-xs hidden-sm">Posts</th>
                <th class="h4 hidden-xs hidden-sm">Updated</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <h4>
                  <a [routerLink]="['/extras/forum/topics', 123]">
                     <strong>Welcome</strong>
                  </a>
               </h4>
                    <div class="text-muted">Feel free to come inside and introduce yourself!</div>
                </td>
                <td class="text-muted text-center hidden-xs hidden-sm">
                    <strong>789</strong>
                </td>
                <td class="text-muted text-center hidden-xs hidden-sm">
                    <strong>254</strong>
                </td>
                <td class="hidden-xs hidden-sm"><a>Arnold Gray</a>
                    <br/>
                    <small>March 10, 2015</small>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>
                  <a [routerLink]="['/extras/forum/topics', 456]">
                     <strong>Forum Rules</strong>
                  </a>
               </h4>
                    <div class="text-muted">Please read the rules before post</div>
                </td>
                <td class="text-muted text-center hidden-xs hidden-sm">
                    <strong>15</strong>
                </td>
                <td class="text-muted text-center hidden-xs hidden-sm">
                    <strong>28</strong>
                </td>
                <td class="hidden-xs hidden-sm"><a>Erika Mckinney</a>
                    <br/>
                    <small>March 10, 2015</small>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>
                  <a [routerLink]="['/extras/forum/topics', 789]">
                     <strong>Announcements</strong>
                  </a>
               </h4>
                    <div class="text-muted">Latest udpates and news about this forum</div>
                </td>
                <td class="text-muted text-center hidden-xs hidden-sm">
                    <strong>300</strong>
                </td>
                <td class="text-muted text-center hidden-xs hidden-sm">
                    <strong>561</strong>
                </td>
                <td class="hidden-xs hidden-sm"><a>Annette Ruiz</a>
                    <br/>
                    <small>March 10, 2015</small>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- Second category table-->
<div class="panel panel-default">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="h4" style="width: 50%">Application</th>
                <th class="h4 text-center hidden-xs hidden-sm">Topics</th>
                <th class="h4 text-center hidden-xs hidden-sm">Posts</th>
                <th class="h4 hidden-xs hidden-sm">Updated</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <h4>
                  <a [routerLink]="['/extras/forum/topics', 123]">
                     <strong>Getting Started</strong>
                  </a>
               </h4>
                    <div class="text-muted">Donec id lectus tortor.</div>
                </td>
                <td class="text-muted text-center hidden-xs hidden-sm">
                    <strong>789</strong>
                </td>
                <td class="text-muted text-center hidden-xs hidden-sm">
                    <strong>254</strong>
                </td>
                <td class="hidden-xs hidden-sm"><a>Arnold Gray</a>
                    <br/>
                    <small>March 10, 2015</small>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>
                  <a [routerLink]="['/extras/forum/topics', 123]">
                     <strong>API</strong>
                  </a>
               </h4>
                    <div class="text-muted">Etiam pharetra, orci sit amet lobortis malesuada.</div>
                </td>
                <td class="text-muted text-center hidden-xs hidden-sm">
                    <strong>15</strong>
                </td>
                <td class="text-muted text-center hidden-xs hidden-sm">
                    <strong>28</strong>
                </td>
                <td class="hidden-xs hidden-sm"><a>Erika Mckinney</a>
                    <br/>
                    <small>March 10, 2015</small>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>
                  <a [routerLink]="['/extras/forum/topics', 123]">
                     <strong>Updates</strong>
                  </a>
               </h4>
                    <div class="text-muted">Etiam porttitor consectetur lectus, in adipiscing nisi bibendum eu.</div>
                </td>
                <td class="text-muted text-center hidden-xs hidden-sm">
                    <strong>300</strong>
                </td>
                <td class="text-muted text-center hidden-xs hidden-sm">
                    <strong>561</strong>
                </td>
                <td class="hidden-xs hidden-sm"><a>Annette Ruiz</a>
                    <br/>
                    <small>March 10, 2015</small>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>
                  <a [routerLink]="['/extras/forum/topics', 123]">
                     <strong>Modules</strong>
                  </a>
               </h4>
                    <div class="text-muted">Sed viverra rutrum hendrerit.</div>
                </td>
                <td class="text-muted text-center hidden-xs hidden-sm">
                    <strong>300</strong>
                </td>
                <td class="text-muted text-center hidden-xs hidden-sm">
                    <strong>561</strong>
                </td>
                <td class="hidden-xs hidden-sm"><a>Floyd Porter</a>
                    <br/>
                    <small>March 10, 2015</small>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>
                  <a [routerLink]="['/extras/forum/topics', 123]">
                     <strong>Migration</strong>
                  </a>
               </h4>
                    <div class="text-muted">Cum sociis natoque penatibus.</div>
                </td>
                <td class="text-muted text-center hidden-xs hidden-sm">
                    <strong>300</strong>
                </td>
                <td class="text-muted text-center hidden-xs hidden-sm">
                    <strong>561</strong>
                </td>
                <td class="hidden-xs hidden-sm"><a>Pedro Fox</a>
                    <br/>
                    <small>March 10, 2015</small>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- Third category table-->
<div class="panel panel-default">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="h4" style="width: 50%">Support</th>
                <th class="h4 text-center hidden-xs hidden-sm">Topics</th>
                <th class="h4 text-center hidden-xs hidden-sm">Posts</th>
                <th class="h4 hidden-xs hidden-sm">Updated</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <h4>
                  <a [routerLink]="['/extras/forum/topics', 123]">
                     <strong>F.A.Q.'s</strong>
                  </a>
               </h4>
                    <div class="text-muted">Frequently asked questions here</div>
                </td>
                <td class="text-muted text-center hidden-xs hidden-sm">
                    <strong>789</strong>
                </td>
                <td class="text-muted text-center hidden-xs hidden-sm">
                    <strong>254</strong>
                </td>
                <td class="hidden-xs hidden-sm"><a>Arnold Gray</a>
                    <br/>
                    <small>March 10, 2015</small>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>
                  <a [routerLink]="['/extras/forum/topics', 123]">
                     <strong>Guides</strong>
                  </a>
               </h4>
                    <div class="text-muted">How to guides here</div>
                </td>
                <td class="text-muted text-center hidden-xs hidden-sm">
                    <strong>15</strong>
                </td>
                <td class="text-muted text-center hidden-xs hidden-sm">
                    <strong>28</strong>
                </td>
                <td class="hidden-xs hidden-sm"><a>Erika Mckinney</a>
                    <br/>
                    <small>March 10, 2015</small>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>
                  <a [routerLink]="['/extras/forum/topics', 123]">
                     <strong>Updates</strong>
                  </a>
               </h4>
                    <div class="text-muted">Latest news about latests updates</div>
                </td>
                <td class="text-muted text-center hidden-xs hidden-sm">
                    <strong>300</strong>
                </td>
                <td class="text-muted text-center hidden-xs hidden-sm">
                    <strong>561</strong>
                </td>
                <td class="hidden-xs hidden-sm"><a>Annette Ruiz</a>
                    <br/>
                    <small>March 10, 2015</small>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>
                  <a [routerLink]="['/extras/forum/topics', 123]">
                     <strong>Questions</strong>
                  </a>
               </h4>
                    <div class="text-muted">Ask for help here</div>
                </td>
                <td class="text-muted text-center hidden-xs hidden-sm">
                    <strong>300</strong>
                </td>
                <td class="text-muted text-center hidden-xs hidden-sm">
                    <strong>561</strong>
                </td>
                <td class="hidden-xs hidden-sm"><a>Floyd Porter</a>
                    <br/>
                    <small>March 10, 2015</small>
                </td>
            </tr>
        </tbody>
    </table>
</div>
