<div class="unwrap">
    <div class="bg-cover">
        <div class="container container-md pv-lg">
            <div class="text-center mb-lg pb-lg">
                <div class="h1 text-bold">Help Center</div>
                <p>User our Help Center to quickly find answers</p>
            </div>
        </div>
    </div>
</div>
<div class="container container-md">
    <form class="form" action="">
        <div class="input-group input-group-lg">
            <input class="form-control input-lg radius-clear" type="text" name="term" placeholder="Search" style="width:70%" />
            <select class="form-control input-lg" style="width:30%">
                <option>All Products</option>
                <option>Templates</option>
                <option>Servers</option>
                <option>Billing</option>
                <option>Buyers</option>
                <option>Sellers</option>
                <option>Plans</option>
                <option>Accounts</option>
            </select>
            <span class="input-group-btn">
            <button class="btn btn-info btn-lg b0 radius-clear" type="submit">
               <strong>Search</strong>
            </button>
         </span>
        </div>
    </form>
    <p class="mv-lg pv-lg text-muted text-center">
        <small>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</small>
    </p>
    <div class="row">
        <div class="col-md-4">
            <div class="panel b">
                <div class="panel-body text-center">
                    <a class="link-unstyled text-primary">
                        <em class="fa fa-5x fa-television mb-lg"></em>
                        <br/>
                        <span class="h4">All Products</span>
                        <br/>
                        <small class="text-muted">View all &rarr;</small>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel b">
                <div class="panel-body text-center">
                    <a class="link-unstyled text-info">
                        <em class="fa fa-5x fa-object-group mb-lg"></em>
                        <br/>
                        <span class="h4">Templates</span>
                        <br/>
                        <small class="text-muted">View all &rarr;</small>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel b">
                <div class="panel-body text-center">
                    <a class="link-unstyled text-purple">
                        <em class="fa fa-5x fa-cubes mb-lg"></em>
                        <br/>
                        <span class="h4">Servers</span>
                        <br/>
                        <small class="text-muted">View all &rarr;</small>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel b">
                <div class="panel-body text-center">
                    <a class="link-unstyled text-warning">
                        <em class="fa fa-5x fa-diamond mb-lg"></em>
                        <br/>
                        <span class="h4">Buyers</span>
                        <br/>
                        <small class="text-muted">View all &rarr;</small>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel b">
                <div class="panel-body text-center">
                    <a class="link-unstyled text-danger">
                        <em class="fa fa-5x fa-building-o mb-lg"></em>
                        <br/>
                        <span class="h4">Sellers</span>
                        <br/>
                        <small class="text-muted">View all &rarr;</small>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel b">
                <div class="panel-body text-center">
                    <a class="link-unstyled text-success">
                        <em class="fa fa-5x fa-calendar-check-o mb-lg"></em>
                        <br/>
                        <span class="h4">Billing</span>
                        <br/>
                        <small class="text-muted">View all &rarr;</small>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <div class="panel b">
                <div class="panel-body text-center">
                    <a class="link-unstyled text-dark">
                        <em class="fa fa-5x fa-recycle mb-lg"></em>
                        <br/>
                        <span class="h4">Plans</span>
                        <br/>
                        <small class="text-muted">View all &rarr;</small>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel b">
                <div class="panel-body text-center">
                    <a class="link-unstyled text-dark">
                        <em class="fa fa-5x fa-street-view mb-lg"></em>
                        <br/>
                        <span class="h4">Accounts</span>
                        <br/>
                        <small class="text-muted">View all &rarr;</small>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
