<html xmlns:th="http://www.thymeleaf.org">

<section th:fragment="footer" class="w-100 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <small class="disclaimer-footer">
                    <span class="disclaimer-asterix">*</span>
                    <span class="disclaimer-text">
                        Disclaimer: All USD prices shown are an estimation of the token values. Token values are fetched from <strong>CryptoCompare</strong>
                    </span>
                </small>
            </div>
        </div>
    </div>

    <div class="fnd-footer section section--blue section--compact section--end mt-1">
        <div class="container">
            <div class="row">
                <div class="fnd-footer__left col-12 mb-1 col-lg-6">
                    © 2018 FundRequest OÜ - 0.1 <!--/* TODO: Add dynamic version nummer of app */-->
                </div>
                <div class="fnd-footer__right mb-1 col-lg-6">
                    <a class="btn btn-link btn--social-link pl-0" href="https://github.com/fundrequest/"
                       rel="noopener noreferrer" target="_blank">
                        <span class="sr-only">Github</span>
                        <i class="fab fa-github"></i>
                    </a>
                    <a class="btn btn-link btn--social-link" href="https://fundrequest.chat"
                       target="_blank" rel="noopener noreferrer">
                        <span class="sr-only">Rocket Chat</span>
                        <i class="fab fa-rocketchat"></i>
                    </a>
                    <a class="btn btn-link btn--social-link" href="https://twitter.com/fundrequest_io"
                       target="_blank" rel="noopener noreferrer">
                        <span class="sr-only">Twitter</span>
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="btn btn-link btn--social-link pr-0" href="https://t.me/fundrequestofficial"
                       target="_blank" rel="noopener noreferrer">
                        <span class="sr-only">Telegram</span>
                        <i class="fab fa-telegram"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

</html>