<html xmlns:th="http://www.thymeleaf.org">

<nav th:fragment="header"
        class="fnd-header navbar navbar-dark navbar-expand-md bg bg--blue bg--no-rect">
    <div class="container">
        <a class="navbar-brand navbar-brand--fnd" href="/">
            <img class="d-md-none" th:src="@{/assets/img/logo-single180.png}" alt="Fundrequest logo"/>
            <img class="d-none d-md-block" th:src="@{/assets/img/Fundrequest-title-white.png}" alt="Fundrequest logo"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#primary-menu"
                aria-controls="primary-menu" aria-expanded="false" aria-label="Toggle primary menu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="primary-menu">
            <ul class="navbar-nav text-center ml-md-auto">
                <!--/* TODO: Make list of pages in header dynamic */-->
                <!--/* TODO: Highlight active page (add .active class to link */-->
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/requests}">Requests</a>
                </li>
                <li class="nav-item dropdown">
                    <button class="btn btn-warning btn--round-icon btn--profile dropdown-toggle"
                            title="Profile"
                            type="button"
                            id="user-profile-menu"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user"></i>
                    </button>

                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="user-profile-menu">
                        <div th:replace="fragments/dapp-status"></div>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/profile}">Profile</a>
                        <a class="dropdown-item" th:href="@{/rewards}">Rewards</a>
                        <a class="dropdown-item" th:href="@{/logout}">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

</html>