<html xmlns:th="http://www.thymeleaf.org">

<!--/* Top banner that is always visible and shows an important message */-->
<div th:fragment="alert-banner" class="alert alert-success alert--top">
    <div class="container">
        Production release coming soon. Track progress
        <a th:href="@{https://github.com/FundRequest/}" class="alert-link" target="_blank"
           rel="noopener noreferrer">here</a>.
    </div>
</div>


<!--/* Container for all alerts, like feedback after an async call is finisched */-->
<div th:fragment="alert-container" id="alert-container" class="alert-container"></div>


<!--/* Top loader to show whenever there is an async call running */-->
<div th:fragment="loader" class="progress primary-color-dark fixed-top d-none" data-page-loader="true">
    <div class="indeterminate"></div>
</div>

</html>