<html xmlns:th="http://www.thymeleaf.org">

<!--/* Top banner that is always visible and shows an important message */-->
<div th:fragment="alert-banner" class="alert alert-success alert--top">
    <div class="container">
        Production release coming soon. Track progress
        <a th:href="@{https://github.com/FundRequest/}" class="alert-link" target="_blank"
           rel="noopener noreferrer">here</a>.
    </div>
</div>


<!--/* Container for all alerts, like feedback after an async call is finisched */-->
<div th:fragment="alert-container" id="alert-container" class="alert-container">
    <div th:if="${alerts}" th:each="a : ${alerts}" class="alert alert-dismissible fade show" th:classappend="${'alert-' + a.type}" role="alert">
        <span th:text="${a.msg}">Message</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>


<!--/* Top loader to show whenever there is an async call running */-->
<div th:fragment="loader" class="progress primary-color fixed-top d-none" data-page-loader="true">
    <div class="indeterminate"></div>
</div>

</html>