<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<head>
    <title>FundRequest - Fund Existing GitHub Request</title>
</head>

<th:block layout:fragment="content">
    <div class="page-header">

    </div>
    <div class="card mb-5">
        <div class="card-body">

        </div>
    </div>
</th:block>


<th:block layout:fragment="css">
</th:block>
<th:block layout:fragment="scripts">
    <script>require(['app/fund'])</script>
</th:block>

</html>