<form [formGroup]="requestForm" (ngSubmit)="addRequest(); requestForm.reset()">
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="url" class="control-label">URL *</label>
      <input formControlName="link" type="text" class="form-control" id="url" required>

      <div *ngIf="link.invalid && (link.dirty || link.touched)">
        <div *ngIf="link.errors.requestExists">
          <span class="text-danger">There already exists a request for this issue.</span>
          <a (click)="gotoRequest(link.errors.requestExists)">Go to request.</a>
        </div>
        <div class="text-danger" *ngIf="link.errors.pattern">
          For the alpha only issues from 'https://github.com/FundRequest/area51/issues/' can be added.
        </div>
        <div class="text-danger" *ngIf="link.errors.linkExists">
          Provided link is not valid
        </div>
        <div class="text-danger" *ngIf="link.errors.required">
          URL is required
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="fund-amount" class="col-xs-6 col-md-4 control-label">Fund Amount</label>
      <div class="input-group">
        <input [(ngModel)]="fundAmount" id="fund-amount" formControlName="fund-amount" type="number" class="form-control">
        <span class="input-group-addon">FND</span>
      </div>
      <div class="text-danger" *ngIf="fundAmount <= 0">
        Funding amount needs to be bigger then 0.
      </div>
      <div class="text-danger" *ngIf="fundAmount > balance">
        Balance to low to fund {{fundAmount}} FND.
      </div>
      <div class="text-warning" *ngIf="link.valid && requestExists()">
        This request already exists, amount will be added to this request.
      </div>
    </div>

    <div class="modal-footer">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" (click)="bsModalRef.hide(); requestForm.reset()">Close</button>
        <button type="submit" [disabled]="!requestForm.valid" class="btn btn-primary">Add</button>
      </div>
    </div>

  </div>
</form>
