<form [formGroup]="requestForm" (ngSubmit)="addRequest()">
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="url" class="control-label">URL *</label>
      <input formControlName="linkControl" type="text" class="form-control" id="url" required>

      <div *ngIf="linkControl.invalid && (linkControl.dirty || linkControl.touched)">
        <div class="text-danger" *ngIf="linkControl.errors.pattern">
          For the alpha only issues from 'https://github.com/FundRequest/area51/issues/' can be added.
        </div>
        <div class="text-danger" *ngIf="linkControl.errors.required">
          URL is required
        </div>
      </div>
      <div class="text-warning" *ngIf="linkControl.valid && requestExists">
        This request already exists, amount will be added to this request.
      </div>
    </div>
    <div class="form-group row">
      <label for="fund-amount" class="col-xs-6 col-md-4 control-label">Fund Amount *</label>
      <div class="col-xs-6 col-md-8 form-control-static">
        <div class="input-group">
          <input formControlName="fundAmountControl" type="number" class="form-control" id="fund-amount" required>
          <span class="input-group-addon">FND</span>
        </div>
        <div *ngIf="fundAmountControl.invalid && (fundAmountControl.dirty || fundAmountControl.touched)">
          <div class="text-danger" *ngIf="fundAmountControl.errors.min">
            Funding amount needs to be bigger then 0.
          </div>
          <div class="text-danger" *ngIf="fundAmountControl.errors.required">
            Funding amount is required.
          </div>
          <div class="text-danger" *ngIf="fundAmountControl.errors.max">
            Balance to low to fund {{fundAmount}} FND.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default" (click)="bsModalRef.hide(); requestForm.reset()">Close</button>
      <button type="submit" [disabled]="!requestForm.valid" class="btn btn-primary">Add</button>
    </div>
  </div>
</form>
