<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html"
      layout:decorator="layouts/default">
<head>
    <title th:text="${'FundRequest - Sorry, an error has occurred - ' + status + ' ' + error}">
        FundRequest - Error
    </title>
</head>
<body>
<div layout:fragment="content">
    <section class="fnd-error-page">
        <div class="row">
            <div class="col-12 col-md-8 col-lg-6">
                <h1>Oops!</h1>
                <h2 th:text="${status + ' ' + error}">404 Not Found</h2>
                <div class="fnd-error-template">
                    <div class="fnd-error-details" th:text="${'Sorry, an error has occurred: '+ message +'!'}">
                    </div>

                    <div class="fnd-error-actions">
                        <ul class="list">
                            <li><a class="text-secondary" th:href="@{/user/requests}">Your requests</a></li>
                            <li><a class="text-secondary" th:href="@{/requests}">Browse all existing requests</a></li>
                            <li><a class="text-secondary" th:href="@{/user/profile}">Your profile</a></li>
                            <li><a class="text-secondary" th:href="@{https://help.fundrequest.io}">Help</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-6 d-flex">
                <div class="fnd-error-image"></div>
            </div>
        </div>
    </section>

    <div class="fnd-error-stack" th:if="${trace}">
                <pre class="pre-scrollable"><code th:text="${trace}">&lt;p&gt;Sample text here...&lt;/p&gt;
                &lt;p&gt;And another line of sample text here...&lt;/p&gt;</code></pre>
    </div>
</div>
</body>
</html>