<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/home">
<head>
    <title>FundRequest - Home</title>
</head>

<th:block layout:fragment="content">
    <section class="section section--home-header d-flex align-items-center">
        <div class="section__squares"></div>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-5">
                    <h1 class="home-title">
                        Harness the power
                        <br />of Open Source developers
                    </h1>
                    <div class="d-block d-md-none my-2 mx-5">
                        <img th:src="@{/assets/img/headerimg.png}"
                             alt="A deventralized marketplace for open source collaboration" />
                    </div>
                    <div class="home-description">
                        <p>
                            Easy and secure way to request
                            <br />development bugfixes, security audits, ...
                            <br />to the Open Source developer community.
                        </p>
                    </div>
                    <div class="d-flex align-items-center">
                        <a class="btn btn-secondary btn-lg btn--flat" th:href="@{/requests}">
                            Get started
                        </a>
                        <a class="btn btn-link btn-lg text-white" th:href="@{https://help.fundrequest.io}">
                            How it works...
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-5 offset-md-1 col-lg-4 d-none d-md-flex justify-content-cente">
                    <img class="align-middle" th:src="@{/assets/img/headerimg.png}"
                         alt="A deventralized marketplace for open source collaboration" />
                </div>
            </div>
        </div>
        <div class="triangle triangle--bottom triangle--inverse triangle--gray"></div>
    </section>


    <section class="section section--main pb-5">
        <div class="container my-5 px-5">
            <div class="main-features">
                <div class="row">
                    <a class="col-12 col-md-6 main-feature" th:href="@{/fund/github}">
                        <div class="main-feature__icon"><i class="fab fa-github-alt"></i></div>
                        <div class="main-feature__content">
                            <div class="main-feature__title">Fund Existing Request</div>
                            <div class="main-feature__description">Add funding to existing GitHub Issues</div>
                        </div>
                    </a>
                    <div class="col-12 col-md-6 col-lg-3 main-feature main-feature--disabled">
                        <div class="main-feature__icon"><i class="fa fa-question-circle"></i></div>
                        <div class="main-feature__content"><span>Coming soon</span></div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 main-feature main-feature--disabled">
                        <div class="main-feature__icon"><i class="fa fa-question-circle"></i></div>
                        <div class="main-feature__content"><span>Coming soon</span></div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 main-feature main-feature--disabled">
                        <div class="main-feature__icon"><i class="fa fa-question-circle"></i></div>
                        <div class="main-feature__content"><span>Coming soon</span></div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 main-feature main-feature--disabled">
                        <div class="main-feature__icon"><i class="fa fa-question-circle"></i></div>
                        <div class="main-feature__content"><span>Coming soon</span></div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 main-feature main-feature--disabled">
                        <div class="main-feature__icon"><i class="fa fa-question-circle"></i></div>
                        <div class="main-feature__content"><span>Coming soon</span></div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 main-feature main-feature--disabled">
                        <div class="main-feature__icon"><i class="fa fa-question-circle"></i></div>
                        <div class="main-feature__content"><span>Coming soon</span></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</th:block>

</html>