<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

    <title layout:title-pattern="$CONTENT_TITLE">Base</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

</head>
<body>
<section layout:fragment="content">

</section>

<th:block layout:fragment="modals">
</th:block>

<th:block layout:fragment="scripts">
</th:block>

</body>

</html>
