<div class="container container-md">
    <div class="row mb-lg">
        <div class="col-md-8">
            <div class="h1 text-bold">FAQs</div>
            <p class="text-muted">Praesent id mauris urna, et tristique lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
        </div>
        <div class="col-md-4">
            <div class="panel">
                <div class="panel-body text-center">
                    <p class="mb-lg">Sed semper diam vitae purus tristique at scelerisque massa ultricies.</p>
                    <button class="btn btn-info" type="button">Contact support</button>
                </div>
            </div>
        </div>
    </div>
    <h4 class="mv-lg pv-lg text-dark">Some presale Questions</h4>
    <accordion [closeOthers]="true">
        <accordion-group panelClass="b0 mb-sm" [isOpen]="isAccOpen2">
            <div accordion-heading>
                <small><em class="fa fa-plus text-primary mr"></em></small>
                <span>How can I change the color?</span>
            </div>
            <p>Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam volutpat adipiscing.
            </p>
            <p>Proin ut urna enim.</p>
            <div class="pull-right">
                <small class="text-muted mr">Was this information useful?</small>
                <button class="btn btn-default btn-xs" type="button">
                    <em class="fa fa-thumbs-up text-muted"></em>
                </button>
                <button class="btn btn-default btn-xs" type="button">
                    <em class="fa fa-thumbs-down text-muted"></em>
                </button>
            </div>
        </accordion-group>
        <accordion-group panelClass="b0 mb-sm" [isOpen]="isAccOpen3">
            <div accordion-heading>
                <small><em class="fa fa-plus text-primary mr"></em></small>
                <span>How can I change the color?</span>
            </div>
            <p>Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam volutpat adipiscing.
            </p>
            <p>Proin ut urna enim.</p>
            <div class="pull-right">
                <small class="text-muted mr">Was this information useful?</small>
                <button class="btn btn-default btn-xs" type="button">
                    <em class="fa fa-thumbs-up text-muted"></em>
                </button>
                <button class="btn btn-default btn-xs" type="button">
                    <em class="fa fa-thumbs-down text-muted"></em>
                </button>
            </div>
        </accordion-group>
        <accordion-group panelClass="b0 mb-sm" [isOpen]="isAccOpen4">
            <div accordion-heading>
                <small><em class="fa fa-plus text-primary mr"></em></small>
                <span>How can I change the color?</span>
            </div>
            <p>Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam volutpat adipiscing.
            </p>
            <p>Proin ut urna enim.</p>
            <div class="pull-right">
                <small class="text-muted mr">Was this information useful?</small>
                <button class="btn btn-default btn-xs" type="button">
                    <em class="fa fa-thumbs-up text-muted"></em>
                </button>
                <button class="btn btn-default btn-xs" type="button">
                    <em class="fa fa-thumbs-down text-muted"></em>
                </button>
            </div>
        </accordion-group>
        <accordion-group panelClass="b0 mb-sm" [isOpen]="isAccOpen5">
            <div accordion-heading>
                <small><em class="fa fa-plus text-primary mr"></em></small>
                <span>How can I change the color?</span>
            </div>
            <p>Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam volutpat adipiscing.
            </p>
            <p>Proin ut urna enim.</p>
            <div class="pull-right">
                <small class="text-muted mr">Was this information useful?</small>
                <button class="btn btn-default btn-xs" type="button">
                    <em class="fa fa-thumbs-up text-muted"></em>
                </button>
                <button class="btn btn-default btn-xs" type="button">
                    <em class="fa fa-thumbs-down text-muted"></em>
                </button>
            </div>
        </accordion-group>
        <accordion-group panelClass="b0 mb-sm" [isOpen]="isAccOpen6">
            <div accordion-heading>
                <small><em class="fa fa-plus text-primary mr"></em></small>
                <span>How can I change the color?</span>
            </div>
            <p>Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam volutpat adipiscing.
            </p>
            <p>Proin ut urna enim.</p>
            <div class="pull-right">
                <small class="text-muted mr">Was this information useful?</small>
                <button class="btn btn-default btn-xs" type="button">
                    <em class="fa fa-thumbs-up text-muted"></em>
                </button>
                <button class="btn btn-default btn-xs" type="button">
                    <em class="fa fa-thumbs-down text-muted"></em>
                </button>
            </div>
        </accordion-group>
    </accordion>
    <h4 class="mv-lg pv-lg text-dark">Buyer Questions</h4>
    <accordion [closeOthers]="true">
        <accordion-group panelClass="b0 mb-sm" [isOpen]="isAccOpen1">
            <div accordion-heading>
                <small><em class="fa fa-plus text-primary mr"></em></small>
                <span>How can I change the color?</span>
            </div>
            <p>Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam volutpat adipiscing.
            </p>
            <p>Proin ut urna enim.</p>
            <div class="pull-right">
                <small class="text-muted mr">Was this information useful?</small>
                <button class="btn btn-default btn-xs" type="button">
                    <em class="fa fa-thumbs-up text-muted"></em>
                </button>
                <button class="btn btn-default btn-xs" type="button">
                    <em class="fa fa-thumbs-down text-muted"></em>
                </button>
            </div>
        </accordion-group>
        <accordion-group panelClass="b0 mb-sm" [isOpen]="isAccOpen2">
            <div accordion-heading>
                <small><em class="fa fa-plus text-primary mr"></em></small>
                <span>How can I change the color?</span>
            </div>
            <p>Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam volutpat adipiscing.
            </p>
            <p>Proin ut urna enim.</p>
            <div class="pull-right">
                <small class="text-muted mr">Was this information useful?</small>
                <button class="btn btn-default btn-xs" type="button">
                    <em class="fa fa-thumbs-up text-muted"></em>
                </button>
                <button class="btn btn-default btn-xs" type="button">
                    <em class="fa fa-thumbs-down text-muted"></em>
                </button>
            </div>
        </accordion-group>
        <accordion-group panelClass="b0 mb-sm" [isOpen]="isAccOpen3">
            <div accordion-heading>
                <small><em class="fa fa-plus text-primary mr"></em></small>
                <span>How can I change the color?</span>
            </div>
            <p>Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam volutpat adipiscing.
            </p>
            <p>Proin ut urna enim.</p>
            <div class="pull-right">
                <small class="text-muted mr">Was this information useful?</small>
                <button class="btn btn-default btn-xs" type="button">
                    <em class="fa fa-thumbs-up text-muted"></em>
                </button>
                <button class="btn btn-default btn-xs" type="button">
                    <em class="fa fa-thumbs-down text-muted"></em>
                </button>
            </div>
        </accordion-group>
        <accordion-group panelClass="b0 mb-sm" [isOpen]="isAccOpen4">
            <div accordion-heading>
                <small><em class="fa fa-plus text-primary mr"></em></small>
                <span>How can I change the color?</span>
            </div>
            <p>Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam volutpat adipiscing.
            </p>
            <p>Proin ut urna enim.</p>
            <div class="pull-right">
                <small class="text-muted mr">Was this information useful?</small>
                <button class="btn btn-default btn-xs" type="button">
                    <em class="fa fa-thumbs-up text-muted"></em>
                </button>
                <button class="btn btn-default btn-xs" type="button">
                    <em class="fa fa-thumbs-down text-muted"></em>
                </button>
            </div>
        </accordion-group>
    </accordion>
    <h4 class="mv-lg pv-lg text-dark">Seller Questions</h4>
    <accordion [closeOthers]="true">
        <accordion-group panelClass="b0 mb-sm" [isOpen]="isAccOpen1">
            <div accordion-heading>
                <small><em class="fa fa-plus text-primary mr"></em></small>
                <span>How can I change the color?</span>
            </div>
            <p>Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam volutpat adipiscing.
            </p>
            <p>Proin ut urna enim.</p>
            <div class="pull-right">
                <small class="text-muted mr">Was this information useful?</small>
                <button class="btn btn-default btn-xs" type="button">
                    <em class="fa fa-thumbs-up text-muted"></em>
                </button>
                <button class="btn btn-default btn-xs" type="button">
                    <em class="fa fa-thumbs-down text-muted"></em>
                </button>
            </div>
        </accordion-group>
        <accordion-group panelClass="b0 mb-sm" [isOpen]="isAccOpen2">
            <div accordion-heading>
                <small><em class="fa fa-plus text-primary mr"></em></small>
                <span>How can I change the color?</span>
            </div>
            <p>Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam volutpat adipiscing.
            </p>
            <p>Proin ut urna enim.</p>
            <div class="pull-right">
                <small class="text-muted mr">Was this information useful?</small>
                <button class="btn btn-default btn-xs" type="button">
                    <em class="fa fa-thumbs-up text-muted"></em>
                </button>
                <button class="btn btn-default btn-xs" type="button">
                    <em class="fa fa-thumbs-down text-muted"></em>
                </button>
            </div>
        </accordion-group>
        <accordion-group panelClass="b0 mb-sm" [isOpen]="isAccOpen3">
            <div accordion-heading>
                <small><em class="fa fa-plus text-primary mr"></em></small>
                <span>How can I change the color?</span>
            </div>
            <p>Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam volutpat adipiscing.
            </p>
            <p>Proin ut urna enim.</p>
            <div class="pull-right">
                <small class="text-muted mr">Was this information useful?</small>
                <button class="btn btn-default btn-xs" type="button">
                    <em class="fa fa-thumbs-up text-muted"></em>
                </button>
                <button class="btn btn-default btn-xs" type="button">
                    <em class="fa fa-thumbs-down text-muted"></em>
                </button>
            </div>
        </accordion-group>
        <accordion-group panelClass="b0 mb-sm" [isOpen]="isAccOpen4">
            <div accordion-heading>
                <small><em class="fa fa-plus text-primary mr"></em></small>
                <span>How can I change the color?</span>
            </div>
            <p>Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam volutpat adipiscing.
            </p>
            <p>Proin ut urna enim.</p>
            <div class="pull-right">
                <small class="text-muted mr">Was this information useful?</small>
                <button class="btn btn-default btn-xs" type="button">
                    <em class="fa fa-thumbs-up text-muted"></em>
                </button>
                <button class="btn btn-default btn-xs" type="button">
                    <em class="fa fa-thumbs-down text-muted"></em>
                </button>
            </div>
        </accordion-group>
    </accordion>
</div>
