<nav class="navbar topnavbar" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="#/">
      <div class="brand-logo">
        <img class="img-responsive" src="assets/img/logo.png" alt="App Logo"/>
      </div>
      <div class="brand-logo-collapsed">
        <img class="img-responsive" src="assets/img/logo-single.png" alt="App Logo"/>
      </div>
    </a>
  </div>
  <div class="nav-wrapper">
    <ul class="nav navbar-nav">
      <li>
        <a class="hidden-xs" trigger-resize="" (click)="toggleCollapsedSideabar()" *ngIf="!isCollapsedText()">
          <em class="fa fa-navicon"></em>
        </a>
        <a class="visible-xs sidebar-toggle" (click)="settings.layout.asideToggled =! settings.layout.asideToggled; $event.stopPropagation()">
          <em class="fa fa-navicon"></em>
        </a>
      </li>
      <!-- hide avatar + lock screen
      <li>
            <a (click)="toggleUserBlock($event)">
                <em class="icon-user"></em>
            </a>
        </li>
        <li>
            <a  title="Lock screen" [routerLink]="'/lock'">
                <em class="icon-lock"></em>
            </a>
        </li>
        -->
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <!-- Fullscreen (only desktops)
      <li class="visible-lg">
        <a #fsbutton (click)="toggleFullScreen($event)">
          <em class="fa fa-expand"></em>
        </a>
      </li>
      -->

      <!-- dropdown notifications
      <li class="dropdown dropdown-list" dropdown>
        <a dropdownToggle>
          <em class="icon-bell"></em>
          <div class="label label-danger">11</div>
        </a>
        <ul *dropdownMenu class="dropdown-menu animated flipInX">
          <li>
            <div class="list-group">
              <a class="list-group-item">
                <div class="media-box">
                  <div class="pull-left">
                    <em class="fa fa-twitter fa-2x text-info"></em>
                  </div>
                  <div class="media-box-body clearfix">
                    <p class="m0">New followers</p>
                    <p class="m0 text-muted">
                      <small>1 new follower</small>
                    </p>
                  </div>
                </div>
              </a>
              <a class="list-group-item">
                <div class="media-box">
                  <div class="pull-left">
                    <em class="fa fa-envelope fa-2x text-warning"></em>
                  </div>
                  <div class="media-box-body clearfix">
                    <p class="m0">New e-mails</p>
                    <p class="m0 text-muted">
                      <small>You have 10 new emails</small>
                    </p>
                  </div>
                </div>
              </a>
              <a class="list-group-item">
                <div class="media-box">
                  <div class="pull-left">
                    <em class="fa fa-tasks fa-2x text-success"></em>
                  </div>
                  <div class="media-box-body clearfix">
                    <p class="m0">Pending Tasks</p>
                    <p class="m0 text-muted">
                      <small>11 pending task</small>
                    </p>
                  </div>
                </div>
              </a>
              <a class="list-group-item">
                <small translate="topbar.notification.MORE">More notifications</small>
                <span class="label label-danger pull-right">14</span>
              </a>
            </div>
          </li>
        </ul>
      </li>

      <!-- sidebar
    <li>
      <a (click)="toggleOffsidebar()">
        <em class="icon-notebook"></em>
      </a>
      </li>
      -->
      <!-- Search
      <li>
        <a (click)="openNavSearch($event)">
          <em class="icon-magnifier"></em>
        </a>
      </li>
      -->
    </ul>
    <app-userblock></app-userblock>
  </div>

  <!--app-navsearch [visible]="getNavSearchVisible()" (onclose)="setNavSearchVisible(false)"></app-navsearch-->

</nav>
