$grid-gutter-width: 15px;
$zindex-navbar-fixed: 100;

#home {
  .footer {
    position: fixed;
    background-color: #f5f7fa;
    z-index: 111;

    &::before {
      content: '';
      display: block;
      height: 60px;
      z-index: 130;
      position: fixed;
      left: 0;
      right: 0;
      bottom: 60px;
      background-image: linear-gradient(to bottom, rgba(white, 0) 0%, rgba(#f5f7fa, 1) 100%);
    }
  }
}

.slimScrollDiv .list-group {
  margin-bottom: 0;
}

@media only screen and (min-width: 1025px) {
  .sidebar:not(.show-scrollbar) {
    margin-right: 0;
  }
}

.watch-link {
  white-space: nowrap;

  .fa-star {
    color: #ff902b;
  }

  &:hover {
    text-decoration: none;
  }
}

/* TODO, extend existing label classes */
.label-OPEN,
.label-RESOLVED,
.label-CLAIMED {
  background-color: #27c24c;
}

.label-FUNDED {
  background-color: $brand-primary;
}

.label-UNRESOLVED,
.label-IN_PROGRESS {
  background-color: #ff902b;
}

.label-CLOSED,
.label-CANCELLED {
  background-color: #f05050;
}

/* whirl */

body .whirl {
  &--sm {
    display: inline-block;
    width: 12px;
    height: 12px;

    &::after {
      width: 12px;
      height: 12px;
      margin: -6px 0 0 -6px;
    }
  }

  &--fnd {
    &::before {
      background-color: transparent;
    }

    &::after {
      border-right: 2px solid #ffd64b;
      border-bottom: 2px solid #22b962;
      border-left: 2px solid #5cea99;
      border-top: 2px solid #ff8c39;
    }
  }
}

.widget {
  .easypie-chart span {
    font-size: 16px;
  }
}
