<div class="content-heading">SweetAlert
    <small>A Beautiful Replacement For Javascript's "alert"</small>
</div>
<div class="container-fluid">
    <h4 class="page-header mt0">Usage examples</h4>
    <div class="row">
        <div class="col-sm-9 col-lg-6">
            <p>A basic message</p>
        </div>
        <div class="col-sm-3 col-lg-6">
            <p><a class="btn btn-primary" href="#" (click)="sweetalertDemo1()">Try me!</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9 col-lg-6">
            <p>A title with a text under</p>
        </div>
        <div class="col-sm-3 col-lg-6">
            <p><a class="btn btn-primary" href="#" (click)="sweetalertDemo2()">Try me!</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9 col-lg-6">
            <p>A success message!</p>
        </div>
        <div class="col-sm-3 col-lg-6">
            <p><a class="btn btn-primary" href="#" (click)="sweetalertDemo3()">Try me!</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9 col-lg-6">
            <p>A warning message, with a function attached to the &quot;Confirm&quot;-button</p>
        </div>
        <div class="col-sm-3 col-lg-6">
            <p><a class="btn btn-primary" href="#" (click)="sweetalertDemo4()">Try me!</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9 col-lg-6">
            <p>... and by passing a parameter, you can execute something else for &quot;Cancel&quot;.</p>
        </div>
        <div class="col-sm-3 col-lg-6">
            <p><a class="btn btn-primary" href="#" (click)="sweetalertDemo5()">Try me!</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9 col-lg-6">
            <p>A message with a custom icon</p>
        </div>
        <div class="col-sm-3 col-lg-6">
            <p><a class="btn btn-primary" href="#" (click)="sweetalertDemo6()">Try me!</a>
            </p>
        </div>
    </div>
</div>
