h1, h2, h3 {
    font-family: 'Titillium Web', sans-serif;
}

input {
    font-family: 'Titillium Web', sans-serif;
}

a.etherscan {
    font-size: 12px
}

a.info {
    color: black
}

a.etherwallet-instructions {
    font-size: 12px
}

.row--social-link > div {
    margin-bottom: 60px;
}

.cols-with-mb-30 > [class^="col-"] {
    margin-bottom: 30px;
}


@media screen and (min-width: 768px) {
    a.top-nav-link {
        color: $white;
        display: block;
        text-align: center;
        line-height: 40px;
        padding: 10px 5px;
    }
}

@each $level, $value in $mastery-levels {
    @include text-emphasis-variant(".text--#{$level}", $value);
}

.watch-link {
    white-space: nowrap;

    .fa.fa-star {
        color: $warning-color;
    }

    &:hover {
        text-decoration: none;
    }
}