<div class="row" *ngIf="statistics | async">
  <div class="col-sm-6 col-lg-6">
    <div class="panel widget bg-primary">
      <div class="row row-table">
        <div class="col-xs-4 text-center pv-lg bg-primary-dark"><em class="fa-3x fa fa-magic"></em></div>
        <div class="col-xs-8 pv-lg">
          <div class="h2 mt0">{{(statistics | async)?.requestsFunded}}</div>
          <div class="text-uppercase"># Requests funded</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-6">
    <div class="panel widget bg-primary">
      <div class="row row-table">
        <div class="col-xs-4 text-center pv-lg bg-primary-dark"><em class="fa-3x icon-people"></em></div>
        <div class="col-xs-8 pv-lg">
          <div class="h2 mt0">{{(statistics | async)?.numberOfFunders}}</div>
          <div class="text-uppercase"># Funders</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-6">
    <div class="panel widget bg-primary">
      <div class="row row-table">
        <div class="col-xs-4 text-center pv-lg bg-primary-dark"><em class="fa-3x icon-chart"></em></div>
        <div class="col-xs-8 pv-lg">
          <div class="h2 mt0">{{(statistics | async)?.averageFundingPerRequest | wei}} FND</div>
          <div class="text-uppercase">Average funding</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-6">
    <div class="panel widget bg-primary">
      <div class="row row-table">
        <div class="col-xs-4 text-center pv-lg bg-primary-dark"><em class="fa-3x icon-fire"></em></div>
        <div class="col-xs-8 pv-lg">
          <div class="h2 mt0">{{(statistics | async)?.totalAmountFunded | wei}} FND</div>
          <div class="text-uppercase">Total funded</div>
        </div>
      </div>
    </div>
  </div>
</div>
