<div class="row" *ngIf="statistics">
  <div class="col-sm-6 col-lg-4">
    <div class="panel widget bg-primary">
      <div class="row row-table">
        <div class="col-xs-4 text-center pv-lg bg-primary-dark"><em class="fa-3x fa fa-file-code-o"></em></div>
        <div class="col-xs-8 pv-lg">
          <div class="h2 mt0">{{statistics.numberOfRequests}}</div>
          <div class="text-uppercase"># Requests</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-4">
    <div class="panel widget bg-primary">
      <div class="row row-table">
        <div class="col-xs-4 text-center pv-lg bg-primary-dark"><em class="fa-3x fa fa-magic"></em></div>
        <div class="col-xs-8 pv-lg">
          <div class="h2 mt0">{{statistics.requestsFunded}}</div>
          <div class="text-uppercase"># Requests funded</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-4">
    <div class="panel widget bg-primary">
      <div class="row row-table">
        <div class="col-xs-4 text-center pv-lg bg-primary-dark">
          <div class="easypie-chart" easypiechart [options]="pieOptions" [percent]="percentageFunded">
            <span>{{percentageFunded | number: '1.0'}}%</span>
          </div>
        </div>
        <div class="col-xs-8 pv-lg">
          <div class="h2 mt0">%</div>
          <div class="text-uppercase">Funded requests</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-4">
    <div class="panel widget bg-primary">
      <div class="row row-table">
        <div class="col-xs-4 text-center pv-lg bg-primary-dark"><em class="fa-3x icon-people"></em></div>
        <div class="col-xs-8 pv-lg">
          <div class="h2 mt0">{{statistics.numberOfFunders}}</div>
          <div class="text-uppercase"># Funders</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-4">
    <div class="panel widget bg-primary">
      <div class="row row-table">
        <div class="col-xs-4 text-center pv-lg bg-primary-dark"><em class="fa-3x icon-chart"></em></div>
        <div class="col-xs-8 pv-lg">
          <div class="h2 mt0">{{statistics.averageFundingPerRequest | wei}} FND</div>
          <div class="text-uppercase">Average funding</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-4">
    <div class="panel widget bg-primary">
      <div class="row row-table">
        <div class="col-xs-4 text-center pv-lg bg-primary-dark"><em class="fa-3x icon-fire"></em></div>
        <div class="col-xs-8 pv-lg">
          <div class="h2 mt0">{{statistics.totalAmountFunded | wei}} FND</div>
          <div class="text-uppercase">Total funded</div>
        </div>
      </div>
    </div>
  </div>
</div>
