/*TODO : use SASS*/

[v-cloak] {
    display: none !important;
}

.slimScrollDiv .list-group {
    margin-bottom: 0;
}

@media only screen and (min-width: 1025px) {
    .sidebar:not(.show-scrollbar) {
        margin-right: 0;
    }
}

.watch-link .fa-star {
    color: #ff902b;
}

/* TODO, extend existing label classes */
.label-OPEN,
.label-RESOLVED {
    background-color: #27c24c;
}


.label-UNRESOLVED,
.label-IN_PROGRESS {
    background-color: #ff902b;
}

.label-CLOSED,
.label-CANCELLED {
    background-color: #f05050;
}
