<div class="item user-block" *ngIf="userBlockIsVisible()">
  <!-- User picture-->
  <div class="user-block-picture">
    <div class="user-block-status">
      <img class="img-thumbnail img-circle" [src]="user?.picture || 'https://api.adorable.io/avatars/75/fundrequest.io.png'" alt="Avatar"/>
      <div class="circle circle-success circle-lg"></div>
    </div>
  </div>

  <div class="user-block-info" *ngIf="user?.email">
    <span class="user-block-name">{{user?.email}}</span>
    <span class="user-block-role">
        <span>Balance: </span><span>{{user?.balance}}</span><span> FND</span>
    </span>
    <span class="user-block-role">
        <span>Approved for use: </span><span>{{user?.allowance}}</span><span> FND</span>
    </span>
  </div>

  <div class="user-block-info" *ngIf="!(user?.email)">
    <button (click)="login($event)" class="btn btn-default">Login</button>
  </div>
</div>
