<div class="item user-block" *ngIf="userBlockIsVisible()">
  <!-- User picture-->
  <div class="user-block-picture" *ngIf="user | async">
    <div class="user-block-status">
      <img class="img-thumbnail img-circle" [src]="(user | async)?.picture" alt="Avatar"/>
      <div class="circle circle-success circle-lg"></div>
    </div>
  </div>

  <div class="user-block-info">
    <span class="user-block-name">Hello, {{name}}</span>
    <span class="user-block-role">
        <span>Balance: </span><span>{{balance}}</span><span> FND</span>
    </span>
  </div>
</div>
