<div class="content-heading">
  <div class="pull-right">
    <div class="btn-group">
      <button fnd-add-request [requests]="requests" type="button" class="btn btn-info">Add request</button>
    </div>
  </div>

  <span>Requests</span>
  <small>Let's fund some</small>
</div>
<div class="panel panel-default" *ngIf="requests.count() > 0">
  <div class="panel-heading">
    <div class="pull-right text-muted">
      <i class="fa fa-lightbulb-o mr-sm"></i><strong>{{requests.count()}}</strong>
      <!--span i18n>{requests.count(), plural, =1 {request} other {requests}}</span-->
    </div>
  </div>
  <table class="table table-striped table-bordered table-hover" [mfData]="requests" #mf="mfDataTable" [mfRowsOnPage]="10">
    <thead>
    <tr>
      <th>
        <mfDefaultSorter by="watchers"></mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="issueInformation.title">Summery</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="status">Status</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="issueInformation.source">Source</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="type">Type</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="technologies">Technologies</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="funded">Funded</mfDefaultSorter>
      </th>
      <th>
        Actions
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let request of mf.data">
      <td><!--fnd-watchlink [request]="request"></fnd-watchlink--></td>
      <td>
        <a routerLink="/requests/{{request.id}}">
          {{request.issueInformation?.title}}
        </a>
      </td>
      <td>{{request.status}}</td>
      <td>
        <a target="_blank" href="{{request.issueInformation?.link}}">
          <i [ngClass]="['fa fa-2x fa-' + request.issueInformation?.source | lowercase]"></i>
        </a>
      </td>
      <td>{{request.type}}</td>
      <td>
        <ng-container *ngFor="let t of request.technologies">
          <span class="label label-primary">{{t}}</span>
        </ng-container>
      </td>
      <td>{{request.balance}}</td>
      <td>
        <button fnd-fund [request]="request" title="Fund" class="btn btn-primary"><i class="fa fa-exchange"></i></button>
      </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="5">
        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
      </td>
    </tr>
    </tfoot>
  </table>
</div>
