<div class="content-heading">
  <div class="pull-right">
    <div class="btn-group">
      <button fnd-add-request type="button" class="btn btn-info">Fund request</button>
    </div>
  </div>

  <span>Requests</span>
  <small>Let's fund some</small>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row form-horizontal">
      <div class="col-md-6">
        <input [(ngModel)]="requestFilter.issueInformation.title" type="search" class="form-control"
               placeholder="Search by summary">
      </div>
      <div class="col-md-6">
        <div class="text-muted control-label">
          <i class="fa fa-lightbulb-o mr-sm"></i><strong>{{(requestsRows | filterBy: requestFilter).length}}</strong>
          <span i18n>{requestsRows.length, plural, =1 {request} other {requests}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #not_found>
  <div class="panel panel-default">
    <div class="panel-body">
      No results.
    </div>
  </div>
</ng-template>

<div class="panel panel-default" *ngIf="(requestsRows | filterBy: requestFilter).length > 0; else not_found">
  <div class="table-responsive">
    <table class="table table-striped table-hover" [mfData]="requestsRows | filterBy: requestFilter" #mf="mfDataTable"
           [mfRowsOnPage]="10">
      <thead>
      <tr>
        <th>
          <mfDefaultSorter by="watchers"></mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="issueInformation.title">Summary</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="status">Status</mfDefaultSorter>
        </th>
        <th class="text-center">
          <mfDefaultSorter by="issueInformation.platform">Platform</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="type">Type</mfDefaultSorter>
        </th>
        <th class="hidden-xs">
          <mfDefaultSorter by="technologies">Technologies</mfDefaultSorter>
        </th>
        <th class="hidden-xs text-right">
          <mfDefaultSorter by="fundInfo.balanceNumber">Funded</mfDefaultSorter>
        </th>
        <th class="hidden-xs text-right">
          Actions
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let request of mf.data">
        <td>
          <fnd-watchlink *ngIf="request" [request]="request" [user]="user"></fnd-watchlink>
        </td>
        <td>
          <a routerLink="/requests/{{request.id}}">
            {{request.issueInformation?.title}}
          </a>
        </td>
        <td>{{request.status}}</td>
        <td class="text-center">
          <a target="_blank" href="{{request | urlOfIssue}}">
            <i [ngClass]="['fa fa-2x fa-' + request.issueInformation?.platform | lowercase]"></i>
          </a>
        </td>
        <td>{{request.type}}</td>
        <td class="hidden-xs">
          <ng-container *ngFor="let t of request.technologies">
            <span class="label label-primary">{{t}}</span>
          </ng-container>
        </td>
        <td class="hidden-xs text-right">{{request.fundInfo.balance || 0 | wei}}</td>
        <td class="hidden-xs text-right">
          <button fnd-fund [request]="request" title="Fund" class="btn btn-primary"><i class="fa fa-exchange"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="panel-footer clearfix" *ngIf="rowsOnPageSet">
    <mfBootstrapPaginator [mfTable]="mf" [rowsOnPageSet]="rowsOnPageSet"></mfBootstrapPaginator>
  </div>
</div>
