.fnd-page-container {
    max-width: $page-width;

    &::after {
        display: block;
        content: "";
        position: absolute;
        z-index: -3;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-color: $white;
    }
}

.fnd-header {
    max-width: $page-width;

    .container {
        display: flex;
        justify-content: space-between;
    }

    &.headroom--unpinned {
        transform: translateY(100%);

        @include media-breakpoint-up(md) {
            transform: none;
        }
    }

    &.navbar-dark {
        @include media-breakpoint-up(md) {
            position: absolute;
            margin-top: 50px;
        }
    }

    &.navbar-light {
        @include media-breakpoint-up(md) {
            position: fixed;
            margin-top: 0;
        }
    }
}