<div class="content-heading">Followers</div>
<div class="row">
    <!-- Aside panel-->
    <div class="col-lg-3 col-md-4">
        <div class="panel b text-center">
            <div class="panel-body">
                <p class="h4 text-bold mb0">This is you</p>
            </div>
            <div class="panel-body">
                <img class="img-circle thumb64" src="assets/img/user/02.jpg" />
                <p class="h4 text-bold mb0">Todd Evans</p>
                <p>Rome, Italy</p>
                <p>Joined on Feb, 2015</p>
            </div>
            <div class="panel-body bt">
                <div class="row">
                    <div class="col-xs-4 br">
                        <em class="fa fa-facebook fa-fw text-primary"></em>
                        <strong>+700</strong>
                    </div>
                    <div class="col-xs-4 br">
                        <em class="fa fa-twitter fa-fw text-info"></em>
                        <strong>+300</strong>
                    </div>
                    <div class="col-xs-4">
                        <em class="fa fa-heart fa-fw text-danger"></em>
                        <strong>+150</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel b">
            <div class="panel-heading">
                <h5>Who may interest you</h5>
            </div>
            <div class="panel-body">
                <div class="media">
                    <div class="media-left media-middle">
                        <a href="#">
                            <img class="media-object img-circle img-thumbnail thumb48" src="assets/img/user/04.jpg" alt="Contact" />
                        </a>
                    </div>
                    <div class="media-body pt-sm">
                        <div class="pull-right">
                            <button class="btn btn-info btn-sm" type="button">Follow</button>
                        </div>
                        <div class="text-bold">Floyd Ortiz
                            <div class="text-sm text-muted">125k followers</div>
                        </div>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left media-middle">
                        <a href="#">
                            <img class="media-object img-circle img-thumbnail thumb48" src="assets/img/user/05.jpg" alt="Contact" />
                        </a>
                    </div>
                    <div class="media-body pt-sm">
                        <div class="pull-right">
                            <button class="btn btn-info btn-sm" type="button">Follow</button>
                        </div>
                        <div class="text-bold">Luis Vasquez
                            <div class="text-sm text-muted">+30k followers</div>
                        </div>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left media-middle">
                        <a href="#">
                            <img class="media-object img-circle img-thumbnail thumb48" src="assets/img/user/06.jpg" alt="Contact" />
                        </a>
                    </div>
                    <div class="media-body pt-sm">
                        <div class="pull-right">
                            <button class="btn btn-info btn-sm" type="button">Follow</button>
                        </div>
                        <div class="text-bold">Duane Mckinney
                            <div class="text-sm text-muted">+100k followers</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body"><a class="link-unstyled text-muted" href="">Find more friends</a>
            </div>
        </div>
        <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</small>
    </div>
    <!-- end Aside panel-->
    <!-- Main panels-->
    <div class="col-lg-9 col-md-8">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="panel b text-center">
                    <div class="panel-body">
                        <img class="img-circle thumb64" src="assets/img/user/01.jpg" />
                        <p class="h4 text-bold mb0">Savannah Ramirez</p>
                        <p>Rome, Italy</p>
                        <button class="btn btn-success btn-oval" type="button">Follow</button>
                    </div>
                    <div class="panel-body bt">
                        <div class="row">
                            <div class="col-xs-4 br">
                                <em class="fa fa-facebook fa-fw text-primary"></em>
                                <strong>+700</strong>
                            </div>
                            <div class="col-xs-4 br">
                                <em class="fa fa-twitter fa-fw text-info"></em>
                                <strong>+300</strong>
                            </div>
                            <div class="col-xs-4">
                                <em class="fa fa-heart fa-fw text-danger"></em>
                                <strong>+150</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="panel b text-center">
                    <div class="panel-body">
                        <img class="img-circle thumb64" src="assets/img/user/03.jpg" />
                        <p class="h4 text-bold mb0">Warren Watts</p>
                        <p>Rome, Italy</p>
                        <button class="btn btn-success btn-oval" type="button">Follow</button>
                    </div>
                    <div class="panel-body bt">
                        <div class="row">
                            <div class="col-xs-4 br">
                                <em class="fa fa-facebook fa-fw text-primary"></em>
                                <strong>+700</strong>
                            </div>
                            <div class="col-xs-4 br">
                                <em class="fa fa-twitter fa-fw text-info"></em>
                                <strong>+300</strong>
                            </div>
                            <div class="col-xs-4">
                                <em class="fa fa-heart fa-fw text-danger"></em>
                                <strong>+150</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="panel b text-center">
                    <div class="panel-body">
                        <img class="img-circle thumb64" src="assets/img/user/04.jpg" />
                        <p class="h4 text-bold mb0">Charlie Price</p>
                        <p>Rome, Italy</p>
                        <button class="btn btn-success btn-oval" type="button">Follow</button>
                    </div>
                    <div class="panel-body bt">
                        <div class="row">
                            <div class="col-xs-4 br">
                                <em class="fa fa-facebook fa-fw text-primary"></em>
                                <strong>+700</strong>
                            </div>
                            <div class="col-xs-4 br">
                                <em class="fa fa-twitter fa-fw text-info"></em>
                                <strong>+300</strong>
                            </div>
                            <div class="col-xs-4">
                                <em class="fa fa-heart fa-fw text-danger"></em>
                                <strong>+150</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="panel b text-center">
                    <div class="panel-body">
                        <img class="img-circle thumb64" src="assets/img/user/05.jpg" />
                        <p class="h4 text-bold mb0">Vickie Alvarez</p>
                        <p>Rome, Italy</p>
                        <button class="btn btn-success btn-oval" type="button">Follow</button>
                    </div>
                    <div class="panel-body bt">
                        <div class="row">
                            <div class="col-xs-4 br">
                                <em class="fa fa-facebook fa-fw text-primary"></em>
                                <strong>+700</strong>
                            </div>
                            <div class="col-xs-4 br">
                                <em class="fa fa-twitter fa-fw text-info"></em>
                                <strong>+300</strong>
                            </div>
                            <div class="col-xs-4">
                                <em class="fa fa-heart fa-fw text-danger"></em>
                                <strong>+150</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="panel b text-center">
                    <div class="panel-body">
                        <img class="img-circle thumb64" src="assets/img/user/06.jpg" />
                        <p class="h4 text-bold mb0">Marjorie Miller</p>
                        <p>Rome, Italy</p>
                        <button class="btn btn-success btn-oval" type="button">Follow</button>
                    </div>
                    <div class="panel-body bt">
                        <div class="row">
                            <div class="col-xs-4 br">
                                <em class="fa fa-facebook fa-fw text-primary"></em>
                                <strong>+700</strong>
                            </div>
                            <div class="col-xs-4 br">
                                <em class="fa fa-twitter fa-fw text-info"></em>
                                <strong>+300</strong>
                            </div>
                            <div class="col-xs-4">
                                <em class="fa fa-heart fa-fw text-danger"></em>
                                <strong>+150</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="panel b text-center">
                    <div class="panel-body">
                        <img class="img-circle thumb64" src="assets/img/user/07.jpg" />
                        <p class="h4 text-bold mb0">Tracy Reynolds</p>
                        <p>Rome, Italy</p>
                        <button class="btn btn-success btn-oval" type="button">Follow</button>
                    </div>
                    <div class="panel-body bt">
                        <div class="row">
                            <div class="col-xs-4 br">
                                <em class="fa fa-facebook fa-fw text-primary"></em>
                                <strong>+700</strong>
                            </div>
                            <div class="col-xs-4 br">
                                <em class="fa fa-twitter fa-fw text-info"></em>
                                <strong>+300</strong>
                            </div>
                            <div class="col-xs-4">
                                <em class="fa fa-heart fa-fw text-danger"></em>
                                <strong>+150</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="panel b text-center">
                    <div class="panel-body">
                        <img class="img-circle thumb64" src="assets/img/user/08.jpg" />
                        <p class="h4 text-bold mb0">Lori Lewis</p>
                        <p>Rome, Italy</p>
                        <button class="btn btn-success btn-oval" type="button">Follow</button>
                    </div>
                    <div class="panel-body bt">
                        <div class="row">
                            <div class="col-xs-4 br">
                                <em class="fa fa-facebook fa-fw text-primary"></em>
                                <strong>+700</strong>
                            </div>
                            <div class="col-xs-4 br">
                                <em class="fa fa-twitter fa-fw text-info"></em>
                                <strong>+300</strong>
                            </div>
                            <div class="col-xs-4">
                                <em class="fa fa-heart fa-fw text-danger"></em>
                                <strong>+150</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="panel b text-center">
                    <div class="panel-body">
                        <img class="img-circle thumb64" src="assets/img/user/09.jpg" />
                        <p class="h4 text-bold mb0">Judy Shelton</p>
                        <p>Rome, Italy</p>
                        <button class="btn btn-success btn-oval" type="button">Follow</button>
                    </div>
                    <div class="panel-body bt">
                        <div class="row">
                            <div class="col-xs-4 br">
                                <em class="fa fa-facebook fa-fw text-primary"></em>
                                <strong>+700</strong>
                            </div>
                            <div class="col-xs-4 br">
                                <em class="fa fa-twitter fa-fw text-info"></em>
                                <strong>+300</strong>
                            </div>
                            <div class="col-xs-4">
                                <em class="fa fa-heart fa-fw text-danger"></em>
                                <strong>+150</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end Main panels-->
</div>
