<div class="content-heading">Dropdown Animations
   <small>Extends the dropdown effects when open just adding an animation class</small>
</div>
<!-- START row-->
<div class="row">
    <div class="col-md-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-default" dropdownToggle>bounce <b class="caret"></b>
                </button>
                <ul *dropdownMenu class="dropdown-menu animated bounce" role="menu">
                    <li><a href="#">Action</a>
                    </li>
                    <li><a href="#">Another action</a>
                    </li>
                    <li><a href="#">Something else here</a>
                    </li>
                    <li><a href="#">Separated link</a>
                    </li>
                </ul>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-md-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-default" dropdownToggle>flash <b class="caret"></b>
                </button>
                <ul *dropdownMenu class="dropdown-menu animated flash" role="menu">
                    <li><a href="#">Action</a>
                    </li>
                    <li><a href="#">Another action</a>
                    </li>
                    <li><a href="#">Something else here</a>
                    </li>
                    <li><a href="#">Separated link</a>
                    </li>
                </ul>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-md-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-default" dropdownToggle>pulse <b class="caret"></b>
                </button>
                <ul *dropdownMenu class="dropdown-menu animated pulse" role="menu">
                    <li><a href="#">Action</a>
                    </li>
                    <li><a href="#">Another action</a>
                    </li>
                    <li><a href="#">Something else here</a>
                    </li>
                    <li><a href="#">Separated link</a>
                    </li>
                </ul>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-md-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-default" dropdownToggle>rubberBand <b class="caret"></b>
                </button>
                <ul *dropdownMenu class="dropdown-menu animated rubberBand" role="menu">
                    <li><a href="#">Action</a>
                    </li>
                    <li><a href="#">Another action</a>
                    </li>
                    <li><a href="#">Something else here</a>
                    </li>
                    <li><a href="#">Separated link</a>
                    </li>
                </ul>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-md-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-default" dropdownToggle>shake <b class="caret"></b>
                </button>
                <ul *dropdownMenu class="dropdown-menu animated shake" role="menu">
                    <li><a href="#">Action</a>
                    </li>
                    <li><a href="#">Another action</a>
                    </li>
                    <li><a href="#">Something else here</a>
                    </li>
                    <li><a href="#">Separated link</a>
                    </li>
                </ul>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-md-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-default" dropdownToggle>swing <b class="caret"></b>
                </button>
                <ul *dropdownMenu class="dropdown-menu animated swing" role="menu">
                    <li><a href="#">Action</a>
                    </li>
                    <li><a href="#">Another action</a>
                    </li>
                    <li><a href="#">Something else here</a>
                    </li>
                    <li><a href="#">Separated link</a>
                    </li>
                </ul>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-md-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-default" dropdownToggle>tada <b class="caret"></b>
                </button>
                <ul *dropdownMenu class="dropdown-menu animated tada" role="menu">
                    <li><a href="#">Action</a>
                    </li>
                    <li><a href="#">Another action</a>
                    </li>
                    <li><a href="#">Something else here</a>
                    </li>
                    <li><a href="#">Separated link</a>
                    </li>
                </ul>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-md-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-default" dropdownToggle>wobble <b class="caret"></b>
                </button>
                <ul *dropdownMenu class="dropdown-menu animated wobble" role="menu">
                    <li><a href="#">Action</a>
                    </li>
                    <li><a href="#">Another action</a>
                    </li>
                    <li><a href="#">Something else here</a>
                    </li>
                    <li><a href="#">Separated link</a>
                    </li>
                </ul>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-md-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-default" dropdownToggle>bounceIn <b class="caret"></b>
                </button>
                <ul *dropdownMenu class="dropdown-menu animated bounceIn" role="menu">
                    <li><a href="#">Action</a>
                    </li>
                    <li><a href="#">Another action</a>
                    </li>
                    <li><a href="#">Something else here</a>
                    </li>
                    <li><a href="#">Separated link</a>
                    </li>
                </ul>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-md-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-default" dropdownToggle>bounceInDown <b class="caret"></b>
                </button>
                <ul *dropdownMenu class="dropdown-menu animated bounceInDown" role="menu">
                    <li><a href="#">Action</a>
                    </li>
                    <li><a href="#">Another action</a>
                    </li>
                    <li><a href="#">Something else here</a>
                    </li>
                    <li><a href="#">Separated link</a>
                    </li>
                </ul>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-md-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-default" dropdownToggle>bounceInLeft <b class="caret"></b>
                </button>
                <ul *dropdownMenu class="dropdown-menu animated bounceInLeft" role="menu">
                    <li><a href="#">Action</a>
                    </li>
                    <li><a href="#">Another action</a>
                    </li>
                    <li><a href="#">Something else here</a>
                    </li>
                    <li><a href="#">Separated link</a>
                    </li>
                </ul>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-md-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-default" dropdownToggle>bounceInRight <b class="caret"></b>
                </button>
                <ul *dropdownMenu class="dropdown-menu animated bounceInRight" role="menu">
                    <li><a href="#">Action</a>
                    </li>
                    <li><a href="#">Another action</a>
                    </li>
                    <li><a href="#">Something else here</a>
                    </li>
                    <li><a href="#">Separated link</a>
                    </li>
                </ul>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-md-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-default" dropdownToggle>bounceInUp <b class="caret"></b>
                </button>
                <ul *dropdownMenu class="dropdown-menu animated bounceInUp" role="menu">
                    <li><a href="#">Action</a>
                    </li>
                    <li><a href="#">Another action</a>
                    </li>
                    <li><a href="#">Something else here</a>
                    </li>
                    <li><a href="#">Separated link</a>
                    </li>
                </ul>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-md-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-default" dropdownToggle>fadeIn <b class="caret"></b>
                </button>
                <ul *dropdownMenu class="dropdown-menu animated fadeIn" role="menu">
                    <li><a href="#">Action</a>
                    </li>
                    <li><a href="#">Another action</a>
                    </li>
                    <li><a href="#">Something else here</a>
                    </li>
                    <li><a href="#">Separated link</a>
                    </li>
                </ul>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-md-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-default" dropdownToggle>fadeInDown <b class="caret"></b>
                </button>
                <ul *dropdownMenu class="dropdown-menu animated fadeInDown" role="menu">
                    <li><a href="#">Action</a>
                    </li>
                    <li><a href="#">Another action</a>
                    </li>
                    <li><a href="#">Something else here</a>
                    </li>
                    <li><a href="#">Separated link</a>
                    </li>
                </ul>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-md-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-default" dropdownToggle>fadeInDownBig <b class="caret"></b>
                </button>
                <ul *dropdownMenu class="dropdown-menu animated fadeInDownBig" role="menu">
                    <li><a href="#">Action</a>
                    </li>
                    <li><a href="#">Another action</a>
                    </li>
                    <li><a href="#">Something else here</a>
                    </li>
                    <li><a href="#">Separated link</a>
                    </li>
                </ul>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-md-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-default" dropdownToggle>fadeInLeft <b class="caret"></b>
                </button>
                <ul *dropdownMenu class="dropdown-menu animated fadeInLeft" role="menu">
                    <li><a href="#">Action</a>
                    </li>
                    <li><a href="#">Another action</a>
                    </li>
                    <li><a href="#">Something else here</a>
                    </li>
                    <li><a href="#">Separated link</a>
                    </li>
                </ul>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-md-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-default" dropdownToggle>fadeInLeftBig <b class="caret"></b>
                </button>
                <ul *dropdownMenu class="dropdown-menu animated fadeInLeftBig" role="menu">
                    <li><a href="#">Action</a>
                    </li>
                    <li><a href="#">Another action</a>
                    </li>
                    <li><a href="#">Something else here</a>
                    </li>
                    <li><a href="#">Separated link</a>
                    </li>
                </ul>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-md-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-default" dropdownToggle>fadeInRight <b class="caret"></b>
                </button>
                <ul *dropdownMenu class="dropdown-menu animated fadeInRight" role="menu">
                    <li><a href="#">Action</a>
                    </li>
                    <li><a href="#">Another action</a>
                    </li>
                    <li><a href="#">Something else here</a>
                    </li>
                    <li><a href="#">Separated link</a>
                    </li>
                </ul>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-md-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-default" dropdownToggle>fadeInRightBig <b class="caret"></b>
                </button>
                <ul *dropdownMenu class="dropdown-menu animated fadeInRightBig" role="menu">
                    <li><a href="#">Action</a>
                    </li>
                    <li><a href="#">Another action</a>
                    </li>
                    <li><a href="#">Something else here</a>
                    </li>
                    <li><a href="#">Separated link</a>
                    </li>
                </ul>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-md-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-default" dropdownToggle>fadeInUp <b class="caret"></b>
                </button>
                <ul *dropdownMenu class="dropdown-menu animated fadeInUp" role="menu">
                    <li><a href="#">Action</a>
                    </li>
                    <li><a href="#">Another action</a>
                    </li>
                    <li><a href="#">Something else here</a>
                    </li>
                    <li><a href="#">Separated link</a>
                    </li>
                </ul>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-md-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-default" dropdownToggle>fadeInUpBig <b class="caret"></b>
                </button>
                <ul *dropdownMenu class="dropdown-menu animated fadeInUpBig" role="menu">
                    <li><a href="#">Action</a>
                    </li>
                    <li><a href="#">Another action</a>
                    </li>
                    <li><a href="#">Something else here</a>
                    </li>
                    <li><a href="#">Separated link</a>
                    </li>
                </ul>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-md-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-default" dropdownToggle>flip <b class="caret"></b>
                </button>
                <ul *dropdownMenu class="dropdown-menu animated flip" role="menu">
                    <li><a href="#">Action</a>
                    </li>
                    <li><a href="#">Another action</a>
                    </li>
                    <li><a href="#">Something else here</a>
                    </li>
                    <li><a href="#">Separated link</a>
                    </li>
                </ul>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-md-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-default" dropdownToggle>flipInX <b class="caret"></b>
                </button>
                <ul *dropdownMenu class="dropdown-menu animated flipInX" role="menu">
                    <li><a href="#">Action</a>
                    </li>
                    <li><a href="#">Another action</a>
                    </li>
                    <li><a href="#">Something else here</a>
                    </li>
                    <li><a href="#">Separated link</a>
                    </li>
                </ul>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-md-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-default" dropdownToggle>flipInY <b class="caret"></b>
                </button>
                <ul *dropdownMenu class="dropdown-menu animated flipInY" role="menu">
                    <li><a href="#">Action</a>
                    </li>
                    <li><a href="#">Another action</a>
                    </li>
                    <li><a href="#">Something else here</a>
                    </li>
                    <li><a href="#">Separated link</a>
                    </li>
                </ul>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-md-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-default" dropdownToggle>lightSpeedIn <b class="caret"></b>
                </button>
                <ul *dropdownMenu class="dropdown-menu animated lightSpeedIn" role="menu">
                    <li><a href="#">Action</a>
                    </li>
                    <li><a href="#">Another action</a>
                    </li>
                    <li><a href="#">Something else here</a>
                    </li>
                    <li><a href="#">Separated link</a>
                    </li>
                </ul>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-md-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-default" dropdownToggle>rotateIn <b class="caret"></b>
                </button>
                <ul *dropdownMenu class="dropdown-menu animated rotateIn" role="menu">
                    <li><a href="#">Action</a>
                    </li>
                    <li><a href="#">Another action</a>
                    </li>
                    <li><a href="#">Something else here</a>
                    </li>
                    <li><a href="#">Separated link</a>
                    </li>
                </ul>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-md-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-default" dropdownToggle>rotateInDownLeft <b class="caret"></b>
                </button>
                <ul *dropdownMenu class="dropdown-menu animated rotateInDownLeft" role="menu">
                    <li><a href="#">Action</a>
                    </li>
                    <li><a href="#">Another action</a>
                    </li>
                    <li><a href="#">Something else here</a>
                    </li>
                    <li><a href="#">Separated link</a>
                    </li>
                </ul>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-md-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-default" dropdownToggle>rotateInDownRight <b class="caret"></b>
                </button>
                <ul *dropdownMenu class="dropdown-menu animated rotateInDownRight" role="menu">
                    <li><a href="#">Action</a>
                    </li>
                    <li><a href="#">Another action</a>
                    </li>
                    <li><a href="#">Something else here</a>
                    </li>
                    <li><a href="#">Separated link</a>
                    </li>
                </ul>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-md-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-default" dropdownToggle>rotateInUpLeft <b class="caret"></b>
                </button>
                <ul *dropdownMenu class="dropdown-menu animated rotateInUpLeft" role="menu">
                    <li><a href="#">Action</a>
                    </li>
                    <li><a href="#">Another action</a>
                    </li>
                    <li><a href="#">Something else here</a>
                    </li>
                    <li><a href="#">Separated link</a>
                    </li>
                </ul>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-md-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-default" dropdownToggle>rotateInUpRight <b class="caret"></b>
                </button>
                <ul *dropdownMenu class="dropdown-menu animated rotateInUpRight" role="menu">
                    <li><a href="#">Action</a>
                    </li>
                    <li><a href="#">Another action</a>
                    </li>
                    <li><a href="#">Something else here</a>
                    </li>
                    <li><a href="#">Separated link</a>
                    </li>
                </ul>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-md-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-default" dropdownToggle>hinge <b class="caret"></b>
                </button>
                <ul *dropdownMenu class="dropdown-menu animated hinge" role="menu">
                    <li><a href="#">Action</a>
                    </li>
                    <li><a href="#">Another action</a>
                    </li>
                    <li><a href="#">Something else here</a>
                    </li>
                    <li><a href="#">Separated link</a>
                    </li>
                </ul>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-md-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-default" dropdownToggle>rollIn <b class="caret"></b>
                </button>
                <ul *dropdownMenu class="dropdown-menu animated rollIn" role="menu">
                    <li><a href="#">Action</a>
                    </li>
                    <li><a href="#">Another action</a>
                    </li>
                    <li><a href="#">Something else here</a>
                    </li>
                    <li><a href="#">Separated link</a>
                    </li>
                </ul>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-md-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-default" dropdownToggle>zoomIn <b class="caret"></b>
                </button>
                <ul *dropdownMenu class="dropdown-menu animated zoomIn" role="menu">
                    <li><a href="#">Action</a>
                    </li>
                    <li><a href="#">Another action</a>
                    </li>
                    <li><a href="#">Something else here</a>
                    </li>
                    <li><a href="#">Separated link</a>
                    </li>
                </ul>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-md-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-default" dropdownToggle>zoomInDown <b class="caret"></b>
                </button>
                <ul *dropdownMenu class="dropdown-menu animated zoomInDown" role="menu">
                    <li><a href="#">Action</a>
                    </li>
                    <li><a href="#">Another action</a>
                    </li>
                    <li><a href="#">Something else here</a>
                    </li>
                    <li><a href="#">Separated link</a>
                    </li>
                </ul>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-md-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-default" dropdownToggle>zoomInLeft <b class="caret"></b>
                </button>
                <ul *dropdownMenu class="dropdown-menu animated zoomInLeft" role="menu">
                    <li><a href="#">Action</a>
                    </li>
                    <li><a href="#">Another action</a>
                    </li>
                    <li><a href="#">Something else here</a>
                    </li>
                    <li><a href="#">Separated link</a>
                    </li>
                </ul>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-md-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-default" dropdownToggle>zoomInRight <b class="caret"></b>
                </button>
                <ul *dropdownMenu class="dropdown-menu animated zoomInRight" role="menu">
                    <li><a href="#">Action</a>
                    </li>
                    <li><a href="#">Another action</a>
                    </li>
                    <li><a href="#">Something else here</a>
                    </li>
                    <li><a href="#">Separated link</a>
                    </li>
                </ul>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-md-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-default" dropdownToggle>zoomInUp <b class="caret"></b>
                </button>
                <ul *dropdownMenu class="dropdown-menu animated zoomInUp" role="menu">
                    <li><a href="#">Action</a>
                    </li>
                    <li><a href="#">Another action</a>
                    </li>
                    <li><a href="#">Something else here</a>
                    </li>
                    <li><a href="#">Separated link</a>
                    </li>
                </ul>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
</div>
<!-- END row-->
<br/>
<br/>
<br/>
<br/>
<br/>
