<div class="row">
    <!-- Blog Content-->
    <div class="col-lg-9">
        <div class="row">
            <!-- Posts column 1-->
            <div class="col-lg-4">
                <div class="panel">
                    <a href="">
                        <img class="img-responsive" src="assets/img/bg1.jpg" />
                    </a>
                    <div class="panel-body">
                        <p class="clearfix">
                            <span class="pull-left">
                        <small class="mr-sm">By <a href="">Erica Castro</a>
                        </small>
                        <small class="mr-sm">May 03, 2015</small>
                     </span>
                            <span class="pull-right">
                        <small>
                           <strong>56</strong>
                           <span>Comments</span>
                            </small>
                            </span>
                        </p>
                        <h4> <a href="">Trip down the river</a>
                  </h4>
                        <p>Aenean in sollicitudin velit. Nam sem magna, tristique non facilisis a, porta ut elit. Aliquam luctus nulla in justo euismod blandit. Aliquam condimentum enim a risus cursus blandit.</p>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-body bg-primary">
                        <h3 class="mv-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                    </div>
                    <div class="panel-body">
                        <p class="clearfix">
                            <span class="pull-left">
                        <small class="mr-sm">By <a href="">Erica Castro</a>
                        </small>
                        <small class="mr-sm">May 03, 2015</small>
                     </span>
                            <span class="pull-right">
                        <small>
                           <strong>56</strong>
                           <span>Comments</span>
                            </small>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="panel">
                    <a href="">
                        <img class="img-responsive" src="assets/img/bg10.jpg" />
                    </a>
                    <div class="panel-body">
                        <p class="clearfix">
                            <span class="pull-left">
                        <small class="mr-sm">By <a href="">Erin Clark</a>
                        </small>
                        <small class="mr-sm">Apr 13, 2015</small>
                     </span>
                            <span class="pull-right">
                        <small>
                           <strong>1000</strong>
                           <span>Comments</span>
                            </small>
                            </span>
                        </p>
                        <h4> <a href="">New camera</a>
                  </h4>
                        <p>Nullam posuere euismod volutpat. Quisque in ligula eget libero tristique varius sed euismod dolor. Sed ultrices, diam varius pellentesque porta, nulla neque auctor elit, quis tempus orci massa eget odio. Duis eleifend elementum commodo. Donec volutpat tristique laoreet. Cras vitae turpis enim, eget malesuada erat. Suspendisse quam leo, gravida a ullamcorper a, interdum id odio. Nullam eu lacus in nibh rutrum ornare at eget tellus.</p>
                    </div>
                </div>
            </div>
            <!-- Posts column 2-->
            <div class="col-lg-4">
                <div class="panel">
                    <a href="">
                        <img class="img-responsive" src="assets/img/bg2.jpg" />
                    </a>
                    <div class="panel-body">
                        <p class="clearfix">
                            <span class="pull-left">
                        <small class="mr-sm">By <a href="">Erica Castro</a>
                        </small>
                        <small class="mr-sm">May 03, 2015</small>
                     </span>
                            <span class="pull-right">
                        <small>
                           <strong>56</strong>
                           <span>Comments</span>
                            </small>
                            </span>
                        </p>
                        <h4> <a href="">Reviewing latests phones</a>
                  </h4>
                        <p>Aenean in sollicitudin velit. Nam sem magna, tristique non facilisis a, porta ut elit. Aliquam luctus nulla in justo euismod blandit. Aliquam condimentum enim a risus cursus blandit.</p>
                    </div>
                </div>
                <div class="panel">
                    <a href="">
                        <img class="img-responsive" src="assets/img/bg8.jpg" />
                    </a>
                    <div class="panel-body">
                        <p class="clearfix">
                            <span class="pull-left">
                        <small class="mr-sm">By <a href="">Allen Stephens</a>
                        </small>
                        <small class="mr-sm">May 03, 2015</small>
                     </span>
                            <span class="pull-right">
                        <small>
                           <strong>5600</strong>
                           <span>Comments</span>
                            </small>
                            </span>
                        </p>
                        <h4> <a href="">Workspace showcase</a>
                  </h4>
                        <p>Aenean iaculis diam lectus. Morbi quis purus velit. Maecenas tincidunt tempus sapien id ultrices. Vivamus fermentum libero vel felis aliquet interdum.</p>
                    </div>
                </div>
            </div>
            <!-- Posts column 3-->
            <div class="col-lg-4">
                <div class="panel">
                    <a href="">
                        <img class="img-responsive" src="assets/img/bg3.jpg" />
                    </a>
                    <div class="panel-body">
                        <p class="clearfix">
                            <span class="pull-left">
                        <small class="mr-sm">By <a href="">Erica Castro</a>
                        </small>
                        <small class="mr-sm">May 03, 2015</small>
                     </span>
                            <span class="pull-right">
                        <small>
                           <strong>56</strong>
                           <span>Comments</span>
                            </small>
                            </span>
                        </p>
                        <h4> <a href="">Incredible panoramic</a>
                  </h4>
                        <p>Aenean in sollicitudin velit. Nam sem magna, tristique non facilisis a, porta ut elit. Aliquam luctus nulla in justo euismod blandit. Aliquam condimentum enim a risus cursus blandit.</p>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-body bg-purple">
                        <h3 class="mv-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                    </div>
                    <div class="panel-body">
                        <p class="clearfix">
                            <span class="pull-left">
                        <small class="mr-sm">By <a href="">Ava Chavez</a>
                        </small>
                        <small class="mr-sm">May 03, 2015</small>
                     </span>
                            <span class="pull-right">
                        <small>
                           <strong>999</strong>
                           <span>Comments</span>
                            </small>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="panel">
                    <a href="">
                        <img class="img-responsive" src="assets/img/bg4.jpg" />
                    </a>
                    <div class="panel-body">
                        <p class="clearfix">
                            <span class="pull-left">
                        <small class="mr-sm">By <a href="">Danny Ford</a>
                        </small>
                        <small class="mr-sm">May 03, 2015</small>
                     </span>
                            <span class="pull-right">
                        <small>
                           <strong>1000</strong>
                           <span>Comments</span>
                            </small>
                            </span>
                        </p>
                        <h4> <a href="">Sunset in the forest</a>
                  </h4>
                    </div>
                </div>
                <div class="panel">
                    <a href="">
                        <img class="img-responsive" src="assets/img/bg5.jpg" />
                    </a>
                    <div class="panel-body">
                        <p class="clearfix">
                            <span class="pull-left">
                        <small class="mr-sm">By <a href="">Danny Ford</a>
                        </small>
                        <small class="mr-sm">May 03, 2015</small>
                     </span>
                            <span class="pull-right">
                        <small>
                           <strong>1000</strong>
                           <span>Comments</span>
                            </small>
                            </span>
                        </p>
                        <h4> <a href="">Tech review</a>
                  </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog Sidebar-->
    <div class="col-lg-3">
        <!-- Search-->
        <div class="panel panel-default">
            <div class="panel-heading">Search</div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Search for..." />
                        <span class="input-group-btn">
                     <button class="btn btn-default" type="button">
                        <em class="fa fa-search"></em>
                     </button>
                  </span>
                    </div>
                </form>
            </div>
        </div>
        <!-- Categories-->
        <div class="panel panel-default">
            <div class="panel-heading">Categories</div>
            <div class="panel-body">
                <ul class="list-unstyled">
                    <li>
                        <a href="">
                            <em class="fa fa-angle-right fa-fw"></em>Smartphones</a>
                    </li>
                    <li>
                        <a href="">
                            <em class="fa fa-angle-right fa-fw"></em>Mobiles</a>
                    </li>
                    <li>
                        <a href="">
                            <em class="fa fa-angle-right fa-fw"></em>Tech</a>
                    </li>
                    <li>
                        <a href="">
                            <em class="fa fa-angle-right fa-fw"></em>Inpiration</a>
                    </li>
                    <li>
                        <a href="">
                            <em class="fa fa-angle-right fa-fw"></em>Workspace</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Tag Cloud-->
        <div class="panel panel-default">
            <div class="panel-heading">Tag Cloud</div>
            <div class="panel-body">
                <div jqcloud class="center-block" [words]="words" [width]="240" [height]="200" [steps]="7"></div>
            </div>
        </div>
        <!-- Ads-->
        <div class="panel panel-default">
            <div class="panel-heading">Ads</div>
            <div class="panel-body">
                <a href="">
                    <img class="img-responsive img-thumbnail" src="assets/img/mockup.png" />
                </a>
            </div>
        </div>
    </div>
</div>
